cfo_memory_ingest.json
{
  "name": "CFO Memory Ingest v1.4",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "finance-memory-ingest",
        "options": {
          "allowedOrigins": "*"
        },
        "responseMode": "responseNode"
      },
      "id": "mem-trigger",
      "name": "Memory Ingest Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -640,
        0
      ],
      "webhookId": "finance-memory-ingest"
    },
    {
      "parameters": {
        "jsCode": "// ════════════════════════════════════════════════════════\n// CFO MEMORY INGEST — Validate & Prepare v1.4\n// v1.4 : pageContent = TEXTE BRUT UNIQUEMENT (zéro préfixe)\n//   • [CFO-MEMORY | ...] supprimé du contenu vectorisé (c'était le bug BUG2)\n//   • Contexte encodé dans metadata JSONB (non vectorisé par pgvector)\n//   • 1 vecteur par entrée garanti (chunkSize=100000, overlap=0)\n// ════════════════════════════════════════════════════════\nconst body = $input.first().json.body || $input.first().json;\n\nconst texte      = (body.texte || body.text || '').trim();\nconst categorie  = (body.categorie || body.category || 'general').toLowerCase();\nconst session_id = body.session_id || 'unknown';\n\nconst VALID_CATS = ['preference', 'regle', 'contexte', 'general'];\n\nif (!texte || texte.length < 5) {\n  throw new Error('Texte vide ou trop court (min 5 caractères).');\n}\nif (!VALID_CATS.includes(categorie)) {\n  throw new Error('Catégorie invalide: ' + categorie + '. Autorisées: ' + VALID_CATS.join(', '));\n}\n\n// v1.4 : pageContent = texte PROPRE, sans aucun préfixe technique\n// Les tokens [CFO-MEMORY], [PREFERENCE], [2026-04-28] ne doivent PAS\n// être dans l'espace vectoriel — ils polluaient la similarité sémantique\nconst pageContent = texte;\n\n// Metadata complète stockée en JSONB (colonne metadata, NON vectorisée)\nconst date_iso = new Date().toISOString().slice(0, 10);\nreturn [{\n  json: {\n    pageContent,\n    meta_categorie:    categorie,\n    meta_source:       'cfo_agent_memory_writer',\n    meta_date:         date_iso,\n    meta_session:      session_id,\n    meta_date_full:    new Date().toISOString()\n  }\n}];"
      },
      "id": "mem-validate",
      "name": "Validate & Prepare",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -420,
        0
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": "finance_vectors",
        "options": {}
      },
      "id": "mem-vectorstore-insert",
      "name": "Insert Into Memory",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1,
      "position": [
        -200,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "7cQfM9fXdo0Pso5h",
          "name": "charif_finance_db"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "id": "mem-embeddings",
      "name": "Gemini Embeddings Ingest",
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -300,
        240
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "mngXZBBjSSHswcb5",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "textInput",
        "textInput": "={{ $('Validate & Prepare').first().json.pageContent }}",
        "options": {
          "metadata": "={{ JSON.stringify({ categorie: $('Validate & Prepare').first().json.meta_categorie, source: $('Validate & Prepare').first().json.meta_source, date: $('Validate & Prepare').first().json.meta_date, session_id: $('Validate & Prepare').first().json.meta_session }) }}"
        }
      },
      "id": "mem-data-loader",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        -100,
        240
      ]
    },
    {
      "parameters": {
        "chunkSize": 100000,
        "chunkOverlap": 0
      },
      "id": "mem-text-splitter",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -100,
        460
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'ok', memorise: true, texte: $('Validate & Prepare').first().json.pageContent, categorie: $('Validate & Prepare').first().json.meta_categorie || 'general' }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json; charset=utf-8"
              }
            ]
          }
        }
      },
      "id": "mem-respond",
      "name": "Respond Memory",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        40,
        0
      ]
    }
  ],
  "connections": {
    "Memory Ingest Webhook": {
      "main": [
        [
          {
            "node": "Validate & Prepare",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate & Prepare": {
      "main": [
        [
          {
            "node": "Insert Into Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Into Memory": {
      "main": [
        [
          {
            "node": "Respond Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Embeddings Ingest": {
      "ai_embedding": [
        [
          {
            "node": "Insert Into Memory",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Insert Into Memory",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}