super_agent_cfo.json
{
  "name": "Super-Agent CFO v13.0",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ]
      },
      "id": "trigger-telegram",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -680,
        -120
      ],
      "credentials": {
        "telegramApi": {
          "id": "CFOV2TelegramAPI",
          "name": "CFO V2 Telegram API"
        }
      },
      "webhookId": "super-agent-cfo-telegram"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "finance-cfo-web",
        "options": {
          "allowedOrigins": "*"
        },
        "responseMode": "responseNode"
      },
      "id": "trigger-webhook",
      "name": "Webhook CFO Web",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -680,
        160
      ],
      "webhookId": "finance-cfo-web"
    },
    {
      "parameters": {
        "jsCode": "// ════════════════════════════════════════════════════════\n// Normalisation : unifie Telegram + Webhook en 1 payload commun\n// FIX v13.3 : pour Telegram, on charge finance_data.json depuis le VPS\n// (le trigger Telegram ne reçoit que du texte, pas de contexte budget).\n// ════════════════════════════════════════════════════════\nconst item = $input.first();\nconst src = item.json;\n\nlet source, session_id, question, finance_data, chat_id;\n\nif (src.message && src.message.chat) {\n  // ── Telegram ──\n  source = 'telegram';\n  chat_id = String(src.message.chat.id);\n  session_id = 'tg_' + chat_id;\n  question = (src.message.text || '').trim();\n  finance_data = null; // sera chargé via HTTP ci-dessous\n} else if (src.body || src.question || src.session_id) {\n  // ── Webhook Web ──\n  const body = src.body || src;\n  source = 'web';\n  session_id = body.session_id || ('web_' + Date.now());\n  chat_id = null;\n  question = (body.question || '').trim();\n  finance_data = body.finance_data || null;\n} else {\n  throw new Error('Payload inconnu : impossible de normaliser.');\n}\n\nif (!question) {\n  throw new Error('Question vide.');\n}\n\n// ── FIX 1 : injection du finance_data pour Telegram ──\n// Si source=telegram (ou si web n'a pas envoyé de payload), on récupère\n// le fichier officiel depuis le VPS via l'endpoint GET de save_data.php.\nif (!finance_data) {\n  try {\n    const fetched = await this.helpers.httpRequest({\n      method: 'GET',\n      url: 'https://n8n.beau.ink/finance/save_data.php',\n      json: true,\n      timeout: 10000\n    });\n    if (fetched && typeof fetched === 'object' && fetched.donneesAnnuelles) {\n      finance_data = fetched;\n    } else {\n      // Endpoint a renvoyé {} ou structure invalide — on continue sans\n      finance_data = null;\n    }\n  } catch (e) {\n    // Échec de fetch : on continue sans, l'agent dira ce qu'il manque\n    finance_data = null;\n  }\n}\n\nreturn [{\n  json: {\n    source,\n    session_id,\n    chat_id,\n    question,\n    finance_data_json: finance_data ? JSON.stringify(finance_data) : null,\n    finance_data,\n    finance_data_loaded_from: finance_data ? (source === 'web' && src.body && src.body.finance_data ? 'webhook_payload' : (source === 'web' && src.finance_data ? 'webhook_payload' : 'vps_save_data_php')) : 'none'\n  }\n}];"
      },
      "id": "node-normalize",
      "name": "Normalize Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -420,
        20
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT message::text AS msg_json\nFROM chat_history\nWHERE session_id = $1\n  AND message->>'type' IN ('human', 'ai')\n  AND COALESCE(jsonb_array_length(message->'data'->'additional_kwargs'->'tool_calls'), 0) = 0\nORDER BY id DESC\nLIMIT 8",
        "options": {
          "queryReplacement": "={{ $json.session_id }}"
        }
      },
      "id": "node-load-history",
      "name": "Load Sane History",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -280,
        20
      ],
      "credentials": {
        "postgres": {
          "id": "7cQfM9fXdo0Pso5h",
          "name": "charif_finance_db"
        }
      },
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// ════════════════════════════════════════════════════════\n// BUILD AGENT INPUT — formate l'historique nettoyé en bloc texte\n// et le combine avec la question + finance_data du Normalize Input.\n// L'agent reçoit ainsi une conversation_history plate (zéro tool_call),\n// donc Gemini ne peut jamais tomber sur une séquence function_call orpheline.\n// ════════════════════════════════════════════════════════\nconst normalized = $('Normalize Input').first().json;\n\n// Récupère les rows SELECT (Load Sane History)\nlet rows = [];\ntry {\n  rows = $input.all().map(item => item.json).filter(r => r && r.msg_json);\n} catch (e) {\n  rows = [];\n}\n\n// SQL renvoie ORDER BY id DESC -> on remet en ordre chronologique\nrows = rows.reverse();\n\n// Formate en bloc texte lisible par le modèle\nlet history_text = '';\nif (rows.length > 0) {\n  const lines = [];\n  for (const row of rows) {\n    let parsed;\n    try { parsed = typeof row.msg_json === 'string' ? JSON.parse(row.msg_json) : row.msg_json; }\n    catch (e) { continue; }\n    const type = parsed.type;\n    const content = (parsed.data && parsed.data.content) || '';\n    if (!content || typeof content !== 'string') continue;\n    // Strip HTML tags pour réduire la longueur du contexte\n    const plain = content\n      .replace(/<br\\s*\\/?>/gi, ' ')\n      .replace(/<\\/?[^>]+(>|$)/g, '')\n      .replace(/\\s+/g, ' ')\n      .trim();\n    if (!plain) continue;\n    const tag = type === 'human' ? 'User' : 'Assistant';\n    // Tronque chaque message à 600 chars pour limiter le contexte\n    const truncated = plain.length > 600 ? plain.slice(0, 600) + '…' : plain;\n    lines.push(`[${tag}]: ${truncated}`);\n  }\n  if (lines.length > 0) {\n    history_text = 'HISTORIQUE RÉCENT (derniers échanges, texte brut sans tool calls) :\\n' + lines.join('\\n') + '\\n';\n  }\n}\n\nreturn [{\n  json: {\n    source: normalized.source,\n    session_id: normalized.session_id,\n    chat_id: normalized.chat_id,\n    question: normalized.question,\n    finance_data_json: normalized.finance_data_json,\n    finance_data: normalized.finance_data,\n    finance_data_loaded_from: normalized.finance_data_loaded_from,\n    history_text,\n    history_count: rows.length\n  }\n}];"
      },
      "id": "node-build-input",
      "name": "Build Agent Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        20
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.history_text || '' }}\nQUESTION ACTUELLE :\n{{ $json.question }}\n\n---\nCONTEXTE FINANCIER (JSON) :\n{{ $json.finance_data_json || 'Non fourni dans cette requête — utilise l\\'outil finance_rag pour retrouver le contexte.' }}",
        "options": {
          "systemMessage": "Tu es le CFO personnel de Mohamed, responsable du pilotage budgétaire du foyer (Maroc, devise DH).\n\n═══ RÈGLE ABSOLUE #0 — N'UTILISE AUCUN OUTIL SI INUTILE ═══\nSi la question de l'utilisateur (par exemple : « diagnostic », « analyse », « bilan », « projection », « explique-moi », « que penses-tu de... ») ne requiert AUCUNE modification budgétaire NI recherche dans le passé, tu N'UTILISES AUCUN OUTIL. Tu lis simplement le bloc CONTEXTE FINANCIER (JSON) fourni dans le message utilisateur et tu génères directement ton analyse.\n\nN'appelle un outil QUE dans ces 4 cas précis :\n  • finance_rag → (1) si l'utilisateur demande explicitement un historique, une règle métier passée ou un précédent ; (2) AUTOMATIQUEMENT avant de commenter un chiffre spécifique (studio, loyer, revenu locatif, projet immobilier) pour vérifier l'existence d'une directive stratégique mémorisée — voir §0bis.\n  • budget_engine → uniquement si l'utilisateur demande explicitement de simuler ou modifier un poste (« change le loyer à... », « simule si... »).\n  • committer → uniquement après que l'utilisateur a tapé « OUI » dans son dernier message (voir §4).\n  • memory_writer → uniquement si l'utilisateur demande EXPLICITEMENT de mémoriser pour toutes les sessions futures (« retiens que », « mémorise pour toujours », « souviens-toi que »). Voir §5bis.\n\nDans tous les autres cas (et c'est le cas le plus fréquent : un diagnostic), tu réponds DIRECTEMENT à partir du JSON CONTEXTE FINANCIER. Ne boucle JAMAIS sur des appels d'outils inutiles.\n\n═══ §0bis — PRIORITÉ RAG : DIRECTIVE STRATÉGIQUE AVANT TOUT CHIFFRE ═══\nAVANT de commenter, analyser ou projeter la valeur d'une ligne budgétaire précise\n(revenu locatif, charge, projet immobilier, mode d'exploitation), tu DOIS interroger\nfinance_rag pour vérifier s'il existe une directive stratégique ou une préférence\nmémorisée qui modifie l'interprétation de ce chiffre.\n\nDÉCLENCHEURS AUTOMATIQUES — appelle finance_rag SANS demande explicite :\n  • Toute analyse du Projet Studio (loyer prévu, rentabilité, cash-flow, occupation)\n  • Toute ligne de revenu locatif (appart, studio, Airbnb, bail classique)\n  • Toute mention d'un mode d'exploitation (location nue, meublée, Airbnb, saisonnier)\n  • Tout chiffre dont l'interprétation peut dépendre d'une stratégie personnelle\n\nINTELLIGENCE DE RECHERCHE — REQUÊTES VARIÉES :\n  Si le contexte mentionne « Studio » ou un bien locatif, lance plusieurs requêtes :\n    → requête 1 : « stratégie studio exploitation »\n    → requête 2 : « mode location Airbnb préférence »\n    → requête 3 : « directive revenu locatif »\n  Tu peux les combiner en une seule requête synthétique si le contexte est clair.\n  Objectif : ne rater AUCUNE directive mémorisée par l'utilisateur.\n\nLOGIQUE AIRBNB NATIVE — si le RAG retourne une directive contenant « Airbnb » pour un bien :\n  → ABANDONNE le calcul classique : loyer_mensuel × (1 − taux_vacance)\n  → APPLIQUE le calcul Airbnb :\n       RevenuBrut   = prix_nuit × (jours_mois × taux_occupation)\n       taux_occupation : 65–75 % (saison normale) · 85–90 % (haute saison)\n       Frais plateforme Airbnb : −15 à −20 % du RevenuBrut [retiens 17,5 % par défaut]\n       Frais ménage/entretien  : à chiffrer selon délégation ou gestion directe\n       RevenuNet = RevenuBrut × 0,825 − frais_fixes_mensuels\n  → Présente TOUJOURS une fourchette basse (taux 65 %) / haute (taux 85 %)\n  → Précise EXPLICITEMENT : « calcul basé sur la directive Airbnb mémorisée »\n  → Compare avec le scénario bail classique pour éclairer la décision\n\nORDRE D'INTERPRÉTATION D'UN CHIFFRE :\n  1. Consulter finance_rag (directive mémorisée)\n  2. Si directive trouvée → l'appliquer EN PRIORITÉ sur les données JSON brutes\n  3. Si pas de directive → interpréter les données JSON normalement\n  4. Signaler TOUJOURS si une directive modifie significativement l'interprétation\n\n═══ RÈGLE ABSOLUE #1 — FORMAT HTML BRUT, MARKDOWN STRICTEMENT INTERDIT ═══\nTU DOIS GÉNÉRER DU HTML BRUT. L'usage du Markdown est STRICTEMENT INTERDIT. Toute réponse contenant du Markdown sera considérée comme une erreur critique cassant l'interface utilisateur.\n\nINTERDIT (jamais, sous aucun prétexte) :\n  ✗ Astérisques pour le gras : **texte** ← INTERDIT\n  ✗ Astérisques pour l'italique : *texte* ← INTERDIT\n  ✗ Dièses pour les titres : ###, ##, # ← INTERDIT\n  ✗ Tirets de liste Markdown : - item ou * item ← INTERDIT\n  ✗ Blocs de code : ```...``` ← INTERDIT\n  ✗ Liens Markdown : [texte](url) ← INTERDIT\n\nAUTORISÉ — utilise EXCLUSIVEMENT ces balises HTML :\n  ✓ <b>texte</b> pour le gras\n  ✓ <br> pour les sauts de ligne\n  ✓ <ul><li>...</li><li>...</li></ul> pour les listes\n  ✓ <span style=\"color:#059669\">texte</span> pour le vert (positif, gain, OUI)\n  ✓ <span style=\"color:#dc2626\">texte</span> pour le rouge (négatif, perte, alerte)\n  ✓ <hr> pour séparer des sections\n\nMontants TOUJOURS formatés à la française : « 12 500 DH » (espace insécable, pas de virgule milliers).\n\n═══ RÈGLE ABSOLUE #2 — RÉPONSES DENSES, ANALYTIQUES, EXHAUSTIVES ═══\nTes réponses doivent être DENSES, ANALYTIQUES et STRUCTURÉES. Pour un diagnostic, c'est un MINIMUM DE 3 PARAGRAPHES distincts. Tu fais PARLER LES CHIFFRES.\n\nStructure-type d'un diagnostic complet :\n  <b>📊 Titre du diagnostic</b><br><br>\n  <b>1. Situation actuelle</b><br>\n  Paragraphe chiffré (revenus, charges fixes, charges variables, épargne, solde net mensuel) avec ratios et %.<br><br>\n  <b>2. Analyse des risques et opportunités</b><br>\n  Paragraphe analytique : ce qui dérive, ce qui tient, points faibles, marges de manœuvre.<br><br>\n  <b>3. Recommandations chiffrées</b><br>\n  <ul><li>Action 1 chiffrée → impact en DH</li><li>Action 2 chiffrée → impact en DH</li><li>Action 3 chiffrée → impact en DH</li></ul>\n\nUne réponse de 2 lignes type « Revenus : 19 624 DH » est INACCEPTABLE. C'est un échec.\n\n═══ TON — FROID, MATHÉMATIQUE, RIGOUREUX ═══\n  • Pas d'émoticônes superflus. 1 emoji max en titre.\n  • Chiffres > opinions. Cite TOUJOURS la source (CONTEXTE FINANCIER).\n  • Si une donnée précise manque dans le CONTEXTE FINANCIER : dis-le explicitement, ne l'invente JAMAIS.\n\n═══ §3 — MODIFICATION BUDGÉTAIRE : WORKFLOW STATEFUL ═══\nArchitecture v13.5 : Budget Engine cache automatiquement la simulation côté serveur (pending_commit.php), Committer la récupère sans dépendre de ta mémoire.\n\nWorkflow strict :\n  Étape A) Appeler budget_engine avec { simulate:true, operations:[...], annee:N }.\n  Étape B) Vérifier dans la réponse que pending_saved === true (sinon, alerter l'utilisateur).\n  Étape C) Présenter à l'utilisateur :\n     <b>📊 Plan de modification</b><br>\n     <ul><li>Poste X : 1 200 DH → 900 DH (<span style=\"color:#059669\">−300 DH</span>)</li>...</ul>\n     <b>Confirmez-vous ? Tapez <span style=\"color:#059669\">OUI</span> pour exécuter.</b>\n  Étape D) ATTENDRE la réponse « OUI » dans le TOUR SUIVANT.\n  Étape E) Sur réception de « OUI » → appeler committer avec PAYLOAD MINIMAL : { \"confirmation\": \"OUI\" }. Le tool lira la simulation cachée et l'appliquera. Tu n'as PAS besoin de re-passer operations.\n\n═══ §3bis — RÈGLE DE SIMULATION OBLIGATOIRE (ANTI LAZY-TOOLING) ═══\nSi l'utilisateur te demande d'APPLIQUER ou de SIMULER un changement budgétaire\n(par exemple : « applique les changements », « modifie le loyer à 4500 », « baisse\nalimentation de 200 », « simule X »), tu DOIS IMPÉRATIVEMENT appeler l'outil\nbudget_engine AVANT toute autre action.\n\nINTERDICTION ABSOLUE : tu ne dois JAMAIS écrire « Tapez OUI pour valider »\n(ni aucune variante : « Confirmez par OUI », « Validez avec OUI », etc.)\ntant que budget_engine ne t'a pas retourné une réponse contenant\npending_saved=true. Sans cet appel préalable, le fichier de cache pending reste\nvide et le Committer échouera au tour suivant. C'est une faille de fonctionnement\nmajeure (lazy tool-calling).\n\nWORKFLOW IMPOSÉ — 2 ÉTAPES MINIMUM :\n  ÉTAPE 1 (obligatoire) : appel budget_engine avec { simulate:true, operations:[...], annee:N }.\n  ÉTAPE 2 (conditionnelle) : SEULEMENT après réception de pending_saved=true,\n                              tu présentes le delta ET tu termines par :\n                              « <b>Confirmez-vous ? Tapez <span style=\"color:#059669\">OUI</span> pour exécuter.</b> »\n\nSi pending_saved=false ou si l'outil renvoie une erreur : ne demande PAS OUI.\nExplique le problème à l'utilisateur et arrête-toi.\n\nAUTO-CONTRÔLE AVANT ENVOI : avant de générer ta réponse finale, vérifie\nmentalement : « Mon dernier appel d'outil était-il budget_engine avec succès ? »\nSi non ET que tu mentionnes OUI dans ta réponse → CORRIGE-TOI : appelle budget_engine\nd'abord, attends sa réponse, puis seulement alors propose OUI.\n\n═══ §3ter — REDISTRIBUTION PROPORTIONNELLE (CHARGES AVEC SOUS-LIGNES) ═══\nCertaines charges variables ont des sous-lignes (details[]). L'UI recalcule\nle total depuis ces sous-lignes — toute modification du total sans ajuster\nles sous-lignes est silencieusement écrasée au rechargement.\n\nBudget Engine v13.9 gère cela automatiquement :\n\n  CAS A — Sous-lignes non nulles :\n  Budget Engine redistribue proportionnellement et retourne redistribution,\n  ratio_applique et details_apres dans la réponse. Dans ton récapitulatif HTML,\n  liste les nouvelles valeurs de chaque sous-ligne (details_apres) pour que\n  l'utilisateur valide en connaissance de cause avant de taper OUI.\n\n  CAS B — Toutes sous-lignes à 0 (fallback interactif) :\n  Budget Engine retourne status='error' + requires_redistribution=true\n  (visible aussi dans redistribution_required top-level).\n  Tu DOIS :\n    1. Ne PAS proposer OUI — pending non sauvegardé.\n    2. Afficher en HTML la liste des sous-lignes + leur montant actuel (0).\n    3. Poser la question : « Comment veux-tu répartir [nouveau_total] DH ?\n       (Équitable, ou précise un montant par ligne.) »\n    4. ATTENDRE la réponse de l'utilisateur.\n    5. Sur réponse : rélancer budget_engine avec update_charge_variable\n       (nouveau valeur) — si les sous-lignes sont maintenant non nulles,\n       la redistribution proportionnelle s'appliquera automatiquement (CAS A).\n       Si l'utilisateur indique des montants spécifiques, applique-les en\n       modifiant chaque détail manuellement dans l'UI (hors scope de l'agent).\n\n  REPERAGE RAPIDE : si redistribution_required !== null dans la réponse → CAS B.\n  Si operations_appliquees contient redistribution → CAS A (succès auto).\n\n\n═══ §4 — GARDE-FOU COMMITTER ═══\n  • Si l'utilisateur n'a pas écrit « OUI » (ou OK / VALIDE / GO) dans son DERNIER message : interdiction absolue d'appeler committer.\n  • Si committer renvoie 'Aucune simulation en attente' : la cache a expiré ou n'a jamais existé. Réponds : « <b>Je n'ai plus la simulation en mémoire (cache expiré >30min).</b> Reformulez la modification — par exemple : <i>baisse le loyer à 4500</i>. » et arrête-toi.\n  • En cas de doute : ne commits PAS, redemande.\n\n═══ §5 — OUTILS DISPONIBLES (rappel) ═══\n  • finance_rag : recherche sémantique sur l'historique ET les directives stratégiques mémorisées. À utiliser (1) sur demande explicite d'historique ou de règle passée, ET (2) automatiquement avant tout commentaire sur un chiffre spécifique (studio, loyer, revenu locatif) — voir §0bis pour la logique complète.\n  • budget_engine : simulateur du delta Avant/Après. Paramètre : { simulate:true, operations:[...], annee:2027 }. À utiliser SEULEMENT sur demande explicite de modification.\n  • committer : persistance VPS STATEFUL. Paramètre MINIMAL : { confirmation:\"OUI\" }. Il récupère TOUT SEUL la simulation cachée par budget_engine au tour précédent (pending_commit.php). Tu n'as PAS à passer operations ni annee. À utiliser SEULEMENT après « OUI » de l'utilisateur ET après une simulation budget_engine réussie au tour précédent.\n  • memory_writer : ingestion mémoire long terme dans finance_vectors. Paramètre : { texte:\"...\", categorie:\"preference|regle|contexte|general\" }. À utiliser SEULEMENT sur demande EXPLICITE de mémorisation permanente (voir §5bis).\n\n  TYPES D'OPÉRATIONS SUPPORTÉS (les SEULS reconnus) :\n  \n  ⚠️ v13.7 RECOMMANDATION : pour modifier plusieurs champs d'une entrée existante,\n  utilise les ops UNIFIÉES update_* qui combinent valeur + periode + label en UNE op :\n    update_revenu, update_charge_fixe, update_charge_variable, update_epargne, update_depense_ponctuelle.\n  Évite l'ancienne pratique « 2 ops séparées (set_charge_variable + set_charge_variable_periode) »\n  qui peut entraîner des mises à jour partielles si l'une échoue silencieusement.\n  \n  Synonymes acceptés pour les champs numériques : valeur ↔ montant ↔ value ↔ amount.\n  Pour revenus : base ↔ valeur ↔ montant ↔ salaire. Labels : label ↔ nom.\n  \n  ⚠️ VÉRIFICATION POST-APPEL : après tout appel à budget_engine, lis ops_summary\n  dans la réponse. Si errors > 0 OU pending_saved=false → corrige les ops et\n  relance budget_engine. NE PROPOSE PAS « OUI » dans ce cas.\n  \n  v13.8 SANITIZATION : Budget Engine purge AUTOMATIQUEMENT les clés synonymes\n  parasites (montant, value, amount, nom, etc.) à chaque appel. Le rapport\n  sanitize_report dans la réponse t'indique combien de clés ont été nettoyées.\n  Si total_keys_purged > 0 mais ops_summary.success === 0, propose à l'utilisateur\n  de valider le nettoyage par OUI (le pending est sauvegardé).\n  \n  \n    ── REVENUS ──\n    { type:\"set_revenu\",            key:\"salaire\",        base:19500 }\n    { type:\"add_revenu\",             key:\"freelance\",     label:\"Freelance\", base:3000 }\n    { type:\"remove_revenu\",          key:\"freelance\" }\n    { type:\"rename_revenu\",          key:\"salaire\",        label:\"Salaire net\" }\n    { type:\"add_revenu_exception\",   key:\"appart\",         moisDebut:1, moisFin:4, nouvelleValeur:0 }\n    { type:\"remove_revenu_exception\",key:\"appart\",         id:1775546659428 }\n  \n    ── CHARGES FIXES ──\n    { type:\"set_charge_fixe\",            key:\"loyer\",      valeur:4500 }\n    { type:\"add_charge_fixe\",             key:\"creditAuto\",label:\"Crédit Auto\", valeur:1800 }\n    { type:\"remove_charge_fixe\",          key:\"creditAuto\" }\n    { type:\"rename_charge_fixe\",          key:\"creditImmo\",label:\"Crédit Immo + Assur\" }\n    { type:\"add_charge_fixe_exception\",   key:\"creditStudio\", moisDebut:1, moisFin:6, nouvelleValeur:0 }\n    { type:\"remove_charge_fixe_exception\",key:\"creditStudio\", id:1775548016229 }\n  \n    ── CHARGES VARIABLES ──\n    { type:\"set_charge_variable\",         key:\"alimentation\", valeur:1200 }\n    { type:\"add_charge_variable\",          key:\"loisirs\",     label:\"Loisirs\", valeur:500, periode:\"mois\" }\n    { type:\"remove_charge_variable\",       key:\"loisirs\" }\n    { type:\"set_charge_variable_periode\",  key:\"sorties\",     periode:\"mois\" }   // ou \"semaine\"\n  \n    ── ÉPARGNE ──\n    { type:\"set_epargne\",     key:\"urgence\", valeur:2000 }\n    { type:\"add_epargne\",      key:\"vacances\",label:\"Vacances\", valeur:500 }\n    { type:\"remove_epargne\",   key:\"vacances\" }\n  \n    ── DÉPENSES PONCTUELLES ──\n    { type:\"add_depense_ponctuelle\",    annee:2026, mois:6, nom:\"Notaire\", montant:25000 }\n    { type:\"remove_depense_ponctuelle\", annee:2027, nom:\"Voyage en Espagne\" }   // ou { id:1775546491630 }\n    { type:\"update_depense_ponctuelle\", id:1775546491630, montant:30000, mois:10 }\n  \n    ── SOLDES INITIAUX (pas d'année) ──\n    { type:\"set_solde_initial\", key:\"courant\",  valeur:97000 }\n    { type:\"set_solde_initial\", key:\"urgence\",  valeur:5000 }\n    // clés autorisées : courant, urgence, lt, bourse, moisActuel, anneeActuelle, semainesRestantes\n  \n    ── ANNÉES (pas d'année cible — on opère sur la structure) ──\n    { type:\"clone_annee\",  depuis:2026, vers:2027 }   // remet à zéro les \"paye\" et reattribue depensesIrregulieres\n    { type:\"delete_annee\", annee:2027 }\n  \n    ── PROJET STUDIO ──\n    { type:\"set_projet_studio\", annee:2026, key:\"travaux\",     valeur:90000 }\n    // clés autorisées : prixM2, surface, avance, taux, duree, taxSyndic, taxCouvertCredit, surplusCredit, assuranceMensuelle, travaux, epargneDispo\n  \n  N'INVENTE AUCUN AUTRE TYPE. Si une demande utilisateur ne matche aucun type, explique-le au lieu d'inventer.\n\n═══ §5bis — MEMORY WRITER : RÈGLES D'USAGE ═══\nL'outil memory_writer persiste une information dans le RAG long terme (finance_vectors).\nElle sera récupérable via finance_rag dans TOUTES les sessions futures.\n\nDÉCLENCHEURS VALIDES (l'utilisateur doit utiliser ces formulations ou équivalents) :\n  ✓ « Retiens que je préfère louer des Airbnb »\n  ✓ « Mémorise pour toujours que mon budget loisirs max est 2000 DH »\n  ✓ « Souviens-toi que je touche une prime en juin »\n  ✓ « Garde en mémoire cette règle : ne jamais dépenser plus de X en Y »\n\nDÉCLENCHEURS INVALIDES (ne pas appeler memory_writer) :\n  ✗ « Je préfère les Airbnb » (sans demande explicite de mémorisation)\n  ✗ « Qu'est-ce que tu sais sur mes préférences ? » → utilise finance_rag\n  ✗ Toute demande d'analyse, de simulation ou de modification budgétaire\n\nWORKFLOW :\n  1. Appelle memory_writer avec { texte, categorie }.\n  2. Si status=ok : confirme en HTML :\n     « <b>✅ Mémorisé pour toutes vos sessions :</b><br>\n       <i>[texte mémorisé]</i><br>\n       Catégorie : <b>[categorie]</b><br>\n       Disponible dès maintenant via ma mémoire long terme. »\n  3. Si error : explique le problème, ne réessaie pas automatiquement.\n\nCATÉGORIES :\n  • preference : habitudes personnelles (Airbnb, marques, modes de paiement...)\n  • regle      : règles budgétaires auto-imposées (plafonds, ratios...)\n  • contexte   : faits temporels (promotion, projet, changement de situation...)\n  • general    : tout autre type d'information pertinente\n\n\n═══ §6 — INTERDICTIONS FINALES ═══\n  • JAMAIS inventer un chiffre.\n  • JAMAIS de Markdown (cf. §1).\n  • JAMAIS d'appel d'outil pour une question d'analyse pure (cf. §0).\n  • JAMAIS de réponse tronquée ou en 2 lignes (cf. §2).\n  • JAMAIS demander « OUI » sans avoir appelé budget_engine au tour courant et obtenu pending_saved=true (cf. §3bis). C'est la faille critique du « lazy tool-calling ».\n\n═══ §7 — RÈGLE OUI : VALIDATION STATEFUL ═══\nPRÉREQUIS : tu n'arrives ici que parce qu'au tour PRÉCÉDENT tu as appelé budget_engine\navec succès (pending_saved=true). Si tu n'es pas sûr d'avoir fait cet appel, RELIS\nle HISTORIQUE RÉCENT en haut du prompt avant d'appeler committer.\n\nQuand le DERNIER message utilisateur est « OUI » (ou « oui », « ok », « valide », « go »), tu DOIS :\n\n  1. NE relance PAS budget_engine. La simulation est déjà cachée serveur-side.\n  2. NE consulte PAS l'historique conversationnel — la cache pending_commit.php est la seule source de vérité.\n  3. Appelle UN SEUL outil : committer, avec UN PAYLOAD MINIMAL :\n         { \"confirmation\": \"OUI\" }\n     RIEN d'autre. Pas de operations, pas de annee, pas de finance_data. Le tool récupère TOUT depuis la cache.\n  4. Lis le résultat retourné par committer :\n     - Si status === 'ok' et committed === true : confirme à l'utilisateur en HTML, en listant les operations appliquées (le tool te les retourne).\n     - Si erreur 'Aucune simulation en attente' : la cache a expiré. Réponds : « <b>⚠️ Plus de simulation en cache (TTL 30min dépassé).</b><br>Reformulez la modification, je referai la simulation. » et arrête.\n  5. C'est UN SEUL appel d'outil dans ce tour, suivi de ta réponse finale en HTML.\n\n═══ §8 — HISTORIQUE INJECTÉ DANS LE PROMPT ═══\nL'historique conversationnel récent (max 8 derniers échanges sains) t'est fourni en HAUT du message utilisateur sous le bloc « HISTORIQUE RÉCENT ». Aucune mémoire LangChain automatique : tout est dans le prompt, en texte brut, sans tool_calls. Tu te bases UNIQUEMENT sur ce bloc + la QUESTION ACTUELLE. Si une demande référence un échange plus ancien que les 8 derniers, dis : « Je n'ai pas accès à cet échange, peux-tu me redonner le contexte ? »\n\n═══ OBJECTIF ═══\nDélivrer une analyse dense et 3 recommandations chiffrées par tour, en HTML brut conforme."
        }
      },
      "id": "node-agent",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -120,
        20
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO chat_history (session_id, message, created_at) VALUES\n  ($1, jsonb_build_object('type','human','data',jsonb_build_object('content',$2::text,'additional_kwargs','{}'::jsonb,'response_metadata','{}'::jsonb)), NOW()),\n  ($1, jsonb_build_object('type','ai','data',jsonb_build_object('content',$3::text,'additional_kwargs','{}'::jsonb,'response_metadata','{}'::jsonb,'tool_calls','[]'::jsonb,'invalid_tool_calls','[]'::jsonb)), NOW())",
        "options": {
          "queryReplacement": "={{ [$('Build Agent Input').first().json.session_id, $('Build Agent Input').first().json.question, $json.output] }}"
        }
      },
      "id": "node-save-conv",
      "name": "Save Conversation",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        60,
        20
      ],
      "credentials": {
        "postgres": {
          "id": "7cQfM9fXdo0Pso5h",
          "name": "charif_finance_db"
        }
      },
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {
          "temperature": 0.2,
          "maxOutputTokens": 16384
        }
      },
      "id": "node-llm",
      "name": "Gemini 2.5 Pro LLM",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -240,
        260
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "mngXZBBjSSHswcb5",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "name": "finance_rag",
        "description": "Recherche sémantique dans la base de connaissance financière (table finance_vectors). Entrée : string (la requête). Sortie : extraits pertinents. Utilise-le pour retrouver règles, historique de décisions, patterns budgétaires.",
        "topK": 5
      },
      "id": "node-tool-rag",
      "name": "Tool: Finance RAG",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        120,
        260
      ]
    },
    {
      "parameters": {
        "mode": "retrieve",
        "tableName": "finance_vectors",
        "topK": 5,
        "options": {}
      },
      "id": "node-vectorstore-pg",
      "name": "Postgres Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1,
      "position": [
        120,
        460
      ],
      "credentials": {
        "postgres": {
          "id": "7cQfM9fXdo0Pso5h",
          "name": "charif_finance_db"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "id": "node-embeddings",
      "name": "Gemini Embeddings",
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -40,
        620
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "mngXZBBjSSHswcb5",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "name": "budget_engine",
        "description": "═══ OUTIL OBLIGATOIRE — PRÉREQUIS TECHNIQUE ═══\nCet outil est le SEUL moyen de préparer une modification budgétaire. Il :\n  1. Calcule le delta Avant/Après de la simulation.\n  2. ÉCRIT le résultat dans un cache serveur (pending_commit.php).\n  3. Retourne pending_saved=true si la cache est OK.\n\n⚠️ INTERDICTION ABSOLUE : tu ne peux PAS demander 'OUI' à l'utilisateur sans avoir\nappelé cet outil au PREMIER tour. Sans appel à budget_engine, la cache pending\nreste vide et le Committer échouera au tour suivant.\n\nRÈGLE : 1 demande de modification = 1 appel obligatoire à budget_engine.\n─────────────────────────────────────────────\n\nMoteur de simulation budgétaire (delta Avant/Après).\n\nParamètre :\n{ \"simulate\": true, \"operations\": [...], \"annee\": 2026 }\n\nTYPES D'OPÉRATIONS SUPPORTÉS (les SEULS reconnus) :\n\n  ── REVENUS ──\n  { type:\"set_revenu\",            key:\"salaire\",        base:19500 }\n  { type:\"add_revenu\",             key:\"freelance\",     label:\"Freelance\", base:3000 }\n  { type:\"remove_revenu\",          key:\"freelance\" }\n  { type:\"rename_revenu\",          key:\"salaire\",        label:\"Salaire net\" }\n  { type:\"add_revenu_exception\",   key:\"appart\",         moisDebut:1, moisFin:4, nouvelleValeur:0 }\n  { type:\"remove_revenu_exception\",key:\"appart\",         id:1775546659428 }\n\n  ── CHARGES FIXES ──\n  { type:\"set_charge_fixe\",            key:\"loyer\",      valeur:4500 }\n  { type:\"add_charge_fixe\",             key:\"creditAuto\",label:\"Crédit Auto\", valeur:1800 }\n  { type:\"remove_charge_fixe\",          key:\"creditAuto\" }\n  { type:\"rename_charge_fixe\",          key:\"creditImmo\",label:\"Crédit Immo + Assur\" }\n  { type:\"add_charge_fixe_exception\",   key:\"creditStudio\", moisDebut:1, moisFin:6, nouvelleValeur:0 }\n  { type:\"remove_charge_fixe_exception\",key:\"creditStudio\", id:1775548016229 }\n\n  ── CHARGES VARIABLES ──\n  { type:\"set_charge_variable\",         key:\"alimentation\", valeur:1200 }\n  { type:\"add_charge_variable\",          key:\"loisirs\",     label:\"Loisirs\", valeur:500, periode:\"mois\" }\n  { type:\"remove_charge_variable\",       key:\"loisirs\" }\n  { type:\"set_charge_variable_periode\",  key:\"sorties\",     periode:\"mois\" }   // ou \"semaine\"\n\n  ── ÉPARGNE ──\n  { type:\"set_epargne\",     key:\"urgence\", valeur:2000 }\n  { type:\"add_epargne\",      key:\"vacances\",label:\"Vacances\", valeur:500 }\n  { type:\"remove_epargne\",   key:\"vacances\" }\n\n  ── DÉPENSES PONCTUELLES ──\n  { type:\"add_depense_ponctuelle\",    annee:2026, mois:6, nom:\"Notaire\", montant:25000 }\n  { type:\"remove_depense_ponctuelle\", annee:2027, nom:\"Voyage en Espagne\" }   // ou { id:1775546491630 }\n  { type:\"update_depense_ponctuelle\", id:1775546491630, montant:30000, mois:10 }\n\n  ── SOLDES INITIAUX (pas d'année) ──\n  { type:\"set_solde_initial\", key:\"courant\",  valeur:97000 }\n  { type:\"set_solde_initial\", key:\"urgence\",  valeur:5000 }\n  // clés autorisées : courant, urgence, lt, bourse, moisActuel, anneeActuelle, semainesRestantes\n\n  ── ANNÉES (pas d'année cible — on opère sur la structure) ──\n  { type:\"clone_annee\",  depuis:2026, vers:2027 }   // remet à zéro les \"paye\" et reattribue depensesIrregulieres\n  { type:\"delete_annee\", annee:2027 }\n\n  ── PROJET STUDIO ──\n  { type:\"set_projet_studio\", annee:2026, key:\"travaux\",     valeur:90000 }\n  // clés autorisées : prixM2, surface, avance, taux, duree, taxSyndic, taxCouvertCredit, surplusCredit, assuranceMensuelle, travaux, epargneDispo\n\nN'INVENTE AUCUN AUTRE TYPE. Si une demande utilisateur ne matche aucun type, explique-le au lieu d'inventer.\n\n═══ NOUVEAU v13.7 — OPS UNIFIÉES update_* (recommandées) ═══\nPour modifier plusieurs champs d'un coup en une seule op :\n\n  { type:\"update_revenu\",          key:\"salaire\",      base:20000, label:\"Salaire net\" }\n  { type:\"update_charge_fixe\",     key:\"loyer\",        valeur:4500, label:\"Loyer\" }\n  { type:\"update_charge_variable\", key:\"alimentation\", valeur:1000, periode:\"mois\" }\n  { type:\"update_epargne\",         key:\"urgence\",      valeur:2000 }\n  { type:\"update_depense_ponctuelle\", id:1234567890, montant:30000, mois:10 }\n\nChamps optionnels : seuls ceux fournis sont modifiés. Évite de cumuler\nset_charge_variable + set_charge_variable_periode → utilise update_charge_variable.\n\n═══ TOLÉRANCE SYNONYMES ═══\nLes champs numériques acceptent ces synonymes (le 1er trouvé l'emporte) :\n  • Charges/épargne : valeur, montant, value, amount\n  • Revenus : base, valeur, montant, value, amount, salaire\n  • Dépenses ponctuelles : montant, valeur, value, amount\nLes labels acceptent : label, nom.\n\n═══ TYPE INCONNU = ERREUR DURE ═══\nSi tu passes un type d'op qui n'existe pas (ex : 'modify_X', 'update_X'), l'outil\nrenvoie status=error pour cette op ET refuse de sauvegarder le pending. Vérifie\nops_summary.errors dans la réponse — s'il est > 0, corrige et relance.\n\n\n═══ NOUVEAU v13.8 — SCHEMA SANITIZATION ═══\nL'outil purge automatiquement les clés synonymes parasites du JSON\n(legacy issu de bugs v13.6). Workflow :\n  1. Au DÉBUT de chaque appel : passe globale qui supprime montant/value/amount\n     (canonical=valeur), nom (canonical=label), etc. dans tout finance_data.\n  2. À chaque WRITE canonique : purge ciblée sur le bloc modifié.\n  3. PASSE 2 : passe globale post-ops (filet de sécurité).\n\nConséquences :\n  • Le finance_data publié via Committer est TOUJOURS canonique.\n  • Si la passe globale détecte du dirt mais aucune op effective, le pending\n    est quand même sauvegardé (proposition « valider le nettoyage »).\n  • Le rapport sanitize_report dans la réponse t'indique combien de clés\n    parasites ont été supprimées (pre_ops + post_ops).\n\n═══ v13.9 — REDISTRIBUTION PROPORTIONNELLE (CHARGES AVEC SOUS-LIGNES) ═══\nLes charges variables peuvent avoir des sous-lignes (details[]).\nL'UI recalcule le total DEPUIS ces sous-lignes — modifier valeur sans\najuster details serait écrasé au rechargement.\n\nComportement auto lors de set_charge_variable / update_charge_variable :\n  • Sous-lignes non nulles → redistribution proportionnelle auto.\n    La réponse inclut redistribution + details_apres. Présente les nouvelles\n    valeurs par sous-ligne à l'utilisateur.\n  • Toutes sous-lignes à 0 → status=error + requires_redistribution=true.\n    Ne propose pas OUI. Présente les lignes, demande comment ventiler,\n    attends la réponse avant de relancer budget_engine.\n  • redistribution_required (top-level) liste les cas bloquants (null si aucun).\n",
        "language": "javaScript",
        "jsCode": "// ════════════════════════════════════════════════════════\n// BUDGET ENGINE v6 (stateful + robust + sanitized + redistrib) — v13.9\n// FIX v13.8 : Schema Sanitization. Toute écriture est CANONIQUE et DESTRUCTIVE :\n//   - on assigne la clé canonique (valeur / base / montant / label)\n//   - on SUPPRIME explicitement les synonymes parasites (montant/value/amount/nom/etc.)\n// Une passe globale sanitizeFinanceData() purge aussi le legacy au début.\n// ════════════════════════════════════════════════════════\nlet input;\ntry {\n  input = typeof query === 'string' ? JSON.parse(query) : query;\n} catch (e) {\n  return JSON.stringify({ error: \"JSON d'entrée invalide : \" + e.message });\n}\n\nconst simulate = input.simulate !== false;\nconst operations = Array.isArray(input.operations) ? input.operations : [];\nconst anneeTarget = Number(input.annee) || new Date().getFullYear();\n\nlet normalized;\ntry { normalized = $('Build Agent Input').first().json; }\ncatch (e) {\n  try { normalized = $('Normalize Input').first().json; }\n  catch (e2) { return JSON.stringify({ error: \"Contexte introuvable\" }); }\n}\nconst session_id = normalized.session_id;\nconst financeData = normalized.finance_data ? JSON.parse(JSON.stringify(normalized.finance_data)) : null;\n\nif (!financeData) {\n  return JSON.stringify({ error: \"Aucun finance_data dans la requête. Recharge l'interface.\" });\n}\n\n// ── Helpers ──\nconst pickNum = (op, ...keys) => {\n  for (const k of keys) {\n    if (op[k] !== undefined && op[k] !== null && op[k] !== '') {\n      const n = Number(op[k]);\n      if (Number.isFinite(n)) return n;\n    }\n  }\n  return null;\n};\nconst pickStr = (op, ...keys) => {\n  for (const k of keys) {\n    if (op[k] !== undefined && op[k] !== null) return String(op[k]);\n  }\n  return null;\n};\n\n// ═══ SCHEMA SANITIZATION ═══\n// Listes des synonymes parasites à purger après écriture canonique.\nconst SYN_NUM_CHARGE  = ['montant', 'value', 'amount'];                          // canonical = valeur\nconst SYN_NUM_REVENU  = ['valeur', 'montant', 'value', 'amount', 'salaire'];     // canonical = base\nconst SYN_NUM_DEPENSE = ['valeur', 'value', 'amount'];                            // canonical = montant\nconst SYN_LBL         = ['nom'];                                                  // canonical = label\n\nconst purgeKeys = (obj, syns) => {\n  let purged = 0;\n  if (!obj || typeof obj !== 'object') return 0;\n  for (const s of syns) {\n    if (Object.prototype.hasOwnProperty.call(obj, s)) {\n      delete obj[s];\n      purged++;\n    }\n  }\n  return purged;\n};\n\nfunction sanitizeFinanceData(fd) {\n  const report = { revenus: 0, fixes: 0, variables: 0, epargne: 0, depenses: 0 };\n  if (!fd || !fd.donneesAnnuelles) return report;\n\n  for (const annee in fd.donneesAnnuelles) {\n    const y = fd.donneesAnnuelles[annee];\n    if (!y) continue;\n\n    // Revenus : canonical = base, label\n    for (const k in (y.revenus || {})) {\n      const obj = y.revenus[k];\n      if (!obj) continue;\n      // si une valeur canonique 'base' manque mais qu'un synonyme existe : on récupère AVANT de purger\n      if ((obj.base === undefined || obj.base === null) ) {\n        const recovered = pickNum(obj, 'valeur', 'montant', 'value', 'amount', 'salaire');\n        if (recovered !== null) obj.base = recovered;\n      }\n      if ((obj.label === undefined || obj.label === null) && obj.nom) obj.label = String(obj.nom);\n      report.revenus += purgeKeys(obj, SYN_NUM_REVENU);\n      report.revenus += purgeKeys(obj, SYN_LBL);\n    }\n\n    // Charges fixes : canonical = valeur, label\n    for (const k in (y.chargesFixes || {})) {\n      const obj = y.chargesFixes[k];\n      if (!obj) continue;\n      if ((obj.valeur === undefined || obj.valeur === null)) {\n        const recovered = pickNum(obj, 'montant', 'value', 'amount');\n        if (recovered !== null) obj.valeur = recovered;\n      }\n      if ((obj.label === undefined || obj.label === null) && obj.nom) obj.label = String(obj.nom);\n      report.fixes += purgeKeys(obj, SYN_NUM_CHARGE);\n      report.fixes += purgeKeys(obj, SYN_LBL);\n    }\n\n    // Charges variables : canonical = valeur, label, periode\n    for (const k in (y.chargesVariables || {})) {\n      const obj = y.chargesVariables[k];\n      if (!obj) continue;\n      if ((obj.valeur === undefined || obj.valeur === null)) {\n        const recovered = pickNum(obj, 'montant', 'value', 'amount');\n        if (recovered !== null) obj.valeur = recovered;\n      }\n      if ((obj.label === undefined || obj.label === null) && obj.nom) obj.label = String(obj.nom);\n      report.variables += purgeKeys(obj, SYN_NUM_CHARGE);\n      report.variables += purgeKeys(obj, SYN_LBL);\n    }\n\n    // Épargne : canonical = valeur, label\n    for (const k in (y.epargne || {})) {\n      const obj = y.epargne[k];\n      if (!obj) continue;\n      if ((obj.valeur === undefined || obj.valeur === null)) {\n        const recovered = pickNum(obj, 'montant', 'value', 'amount');\n        if (recovered !== null) obj.valeur = recovered;\n      }\n      if ((obj.label === undefined || obj.label === null) && obj.nom) obj.label = String(obj.nom);\n      report.epargne += purgeKeys(obj, SYN_NUM_CHARGE);\n      report.epargne += purgeKeys(obj, SYN_LBL);\n    }\n\n    // Dépenses ponctuelles : canonical = montant, nom\n    for (const d of (y.depensesIrregulieres || [])) {\n      if (!d) continue;\n      if ((d.montant === undefined || d.montant === null)) {\n        const recovered = pickNum(d, 'valeur', 'value', 'amount');\n        if (recovered !== null) d.montant = recovered;\n      }\n      report.depenses += purgeKeys(d, SYN_NUM_DEPENSE);\n      // 'nom' EST canonique pour depensesIrregulieres ; pas de purge ici\n    }\n  }\n  return report;\n}\n\n// ── Per-op write helpers (canonique + purge) ──\nconst writeCharge = (target, valeur, label) => {\n  if (valeur !== null && valeur !== undefined) target.valeur = valeur;\n  if (label !== null && label !== undefined) target.label = label;\n  purgeKeys(target, SYN_NUM_CHARGE);\n  purgeKeys(target, SYN_LBL);\n};\nconst writeRevenu = (target, base, label) => {\n  if (base !== null && base !== undefined) target.base = base;\n  if (label !== null && label !== undefined) target.label = label;\n  purgeKeys(target, SYN_NUM_REVENU);\n  purgeKeys(target, SYN_LBL);\n};\nconst writeEpargne = (target, valeur, label) => {\n  if (valeur !== null && valeur !== undefined) target.valeur = valeur;\n  if (label !== null && label !== undefined) target.label = label;\n  purgeKeys(target, SYN_NUM_CHARGE);\n  purgeKeys(target, SYN_LBL);\n};\n\nconst snapshot = (d, annee) => {\n  const y = d.donneesAnnuelles && d.donneesAnnuelles[annee];\n  if (!y) return null;\n  const sum = obj => Object.values(obj || {}).reduce((s, v) => s + (Number(v && v.valeur) || Number(v && v.base) || 0), 0);\n  return {\n    revenus: sum(y.revenus),\n    fixes: sum(y.chargesFixes),\n    variables: sum(y.chargesVariables),\n    epargne: sum(y.epargne),\n    depensesIrreg: (y.depensesIrregulieres || []).length\n  };\n};\n\n// ⚠️ PASSE 1 : sanitize globale AVANT toute simulation\nconst sanitize_report_pre = sanitizeFinanceData(financeData);\n\nfunction applyOp(financeData, op, anneeTarget) {\n  const a = Number(op.annee || anneeTarget);\n  const y = financeData.donneesAnnuelles && financeData.donneesAnnuelles[a];\n  const log = { op: op.type };\n  try {\n    switch (op.type) {\n      // ═══ REVENUS ═══\n      case 'set_revenu': {\n        if (!y || !y.revenus || !y.revenus[op.key]) { log.status = 'skip'; log.reason = 'année ou clé absente'; break; }\n        const v = pickNum(op, 'base', 'valeur', 'montant', 'value', 'amount', 'salaire');\n        if (v === null) { log.status = 'error'; log.reason = 'aucune valeur numérique fournie (essaie base, valeur, montant)'; break; }\n        const old = y.revenus[op.key].base;\n        writeRevenu(y.revenus[op.key], v, null);\n        log.key = op.key; log.avant = old; log.apres = v; break;\n      }\n      case 'add_revenu': {\n        if (!y) { log.status = 'skip'; log.reason = 'année absente'; break; }\n        if (!y.revenus) y.revenus = {};\n        if (y.revenus[op.key]) { log.status = 'skip'; log.reason = 'clé existe déjà — utilise update_revenu'; break; }\n        const v = pickNum(op, 'base', 'valeur', 'montant', 'value', 'amount', 'salaire') ?? 0;\n        const lbl = pickStr(op, 'label', 'nom') || op.key;\n        y.revenus[op.key] = { label: lbl, base: v, showExceptions: false, exceptions: [] };\n        log.key = op.key; log.created = true; log.base = v; break;\n      }\n      case 'remove_revenu': {\n        if (!y || !y.revenus || !y.revenus[op.key]) { log.status = 'skip'; log.reason = 'clé absente'; break; }\n        delete y.revenus[op.key]; log.key = op.key; log.removed = true; break;\n      }\n      case 'rename_revenu': {\n        if (!y || !y.revenus || !y.revenus[op.key]) { log.status = 'skip'; log.reason = 'clé absente'; break; }\n        const lbl = pickStr(op, 'label', 'nom');\n        if (lbl === null) { log.status = 'error'; log.reason = 'label manquant'; break; }\n        const old = y.revenus[op.key].label;\n        writeRevenu(y.revenus[op.key], null, lbl);\n        log.key = op.key; log.avant = old; log.apres = lbl; break;\n      }\n      case 'update_revenu': {\n        if (!y || !y.revenus || !y.revenus[op.key]) { log.status = 'skip'; log.reason = 'clé absente'; break; }\n        const v = pickNum(op, 'base', 'valeur', 'montant', 'value', 'amount', 'salaire');\n        const lbl = pickStr(op, 'label', 'nom');\n        const target = y.revenus[op.key];\n        const changes = {};\n        if (v !== null) { changes.base = { avant: target.base, apres: v }; }\n        if (lbl !== null) { changes.label = { avant: target.label, apres: lbl }; }\n        if (Object.keys(changes).length === 0) { log.status = 'error'; log.reason = 'aucun champ à mettre à jour (base, label)'; break; }\n        writeRevenu(target, v, lbl);\n        log.key = op.key; log.changes = changes; break;\n      }\n      case 'add_revenu_exception': {\n        if (!y || !y.revenus || !y.revenus[op.key]) { log.status = 'skip'; log.reason = 'clé absente'; break; }\n        if (!Array.isArray(y.revenus[op.key].exceptions)) y.revenus[op.key].exceptions = [];\n        const id = Date.now() + Math.floor(Math.random() * 1000);\n        y.revenus[op.key].exceptions.push({ id, moisDebut: Number(op.moisDebut), moisFin: Number(op.moisFin), nouvelleValeur: Number(op.nouvelleValeur) });\n        y.revenus[op.key].showExceptions = true;\n        log.key = op.key; log.id = id; break;\n      }\n      case 'remove_revenu_exception': {\n        if (!y || !y.revenus || !y.revenus[op.key]) { log.status = 'skip'; log.reason = 'clé absente'; break; }\n        const before = (y.revenus[op.key].exceptions || []).length;\n        y.revenus[op.key].exceptions = (y.revenus[op.key].exceptions || []).filter(e => Number(e.id) !== Number(op.id));\n        log.key = op.key; log.supprimees = before - y.revenus[op.key].exceptions.length; break;\n      }\n\n      // ═══ CHARGES FIXES ═══\n      case 'set_charge_fixe': {\n        if (!y || !y.chargesFixes || !y.chargesFixes[op.key]) { log.status = 'skip'; log.reason = 'année ou clé absente'; break; }\n        const v = pickNum(op, 'valeur', 'montant', 'value', 'amount');\n        if (v === null) { log.status = 'error'; log.reason = 'aucune valeur numérique fournie'; break; }\n        const old = y.chargesFixes[op.key].valeur;\n        writeCharge(y.chargesFixes[op.key], v, null);\n        log.key = op.key; log.avant = old; log.apres = v; break;\n      }\n      case 'add_charge_fixe': {\n        if (!y) { log.status = 'skip'; log.reason = 'année absente'; break; }\n        if (!y.chargesFixes) y.chargesFixes = {};\n        if (y.chargesFixes[op.key]) { log.status = 'skip'; log.reason = 'clé existe déjà — utilise update_charge_fixe'; break; }\n        const v = pickNum(op, 'valeur', 'montant', 'value', 'amount') ?? 0;\n        const lbl = pickStr(op, 'label', 'nom') || op.key;\n        y.chargesFixes[op.key] = { label: lbl, valeur: v, showExceptions: false, exceptions: [], montantPaye: 0, paye: false };\n        log.key = op.key; log.created = true; log.valeur = v; break;\n      }\n      case 'remove_charge_fixe': {\n        if (!y || !y.chargesFixes || !y.chargesFixes[op.key]) { log.status = 'skip'; log.reason = 'clé absente'; break; }\n        delete y.chargesFixes[op.key]; log.key = op.key; log.removed = true; break;\n      }\n      case 'rename_charge_fixe': {\n        if (!y || !y.chargesFixes || !y.chargesFixes[op.key]) { log.status = 'skip'; log.reason = 'clé absente'; break; }\n        const lbl = pickStr(op, 'label', 'nom');\n        if (lbl === null) { log.status = 'error'; log.reason = 'label manquant'; break; }\n        const old = y.chargesFixes[op.key].label;\n        writeCharge(y.chargesFixes[op.key], null, lbl);\n        log.key = op.key; log.avant = old; log.apres = lbl; break;\n      }\n      case 'update_charge_fixe': {\n        if (!y || !y.chargesFixes || !y.chargesFixes[op.key]) { log.status = 'skip'; log.reason = 'clé absente'; break; }\n        const v = pickNum(op, 'valeur', 'montant', 'value', 'amount');\n        const lbl = pickStr(op, 'label', 'nom');\n        const target = y.chargesFixes[op.key];\n        const changes = {};\n        if (v !== null) { changes.valeur = { avant: target.valeur, apres: v }; }\n        if (lbl !== null) { changes.label = { avant: target.label, apres: lbl }; }\n        if (Object.keys(changes).length === 0) { log.status = 'error'; log.reason = 'aucun champ à mettre à jour'; break; }\n        writeCharge(target, v, lbl);\n        log.key = op.key; log.changes = changes; break;\n      }\n      case 'add_charge_fixe_exception': {\n        if (!y || !y.chargesFixes || !y.chargesFixes[op.key]) { log.status = 'skip'; log.reason = 'clé absente'; break; }\n        if (!Array.isArray(y.chargesFixes[op.key].exceptions)) y.chargesFixes[op.key].exceptions = [];\n        const id = Date.now() + Math.floor(Math.random() * 1000);\n        y.chargesFixes[op.key].exceptions.push({ id, moisDebut: Number(op.moisDebut), moisFin: Number(op.moisFin), nouvelleValeur: Number(op.nouvelleValeur) });\n        y.chargesFixes[op.key].showExceptions = true;\n        log.key = op.key; log.id = id; break;\n      }\n      case 'remove_charge_fixe_exception': {\n        if (!y || !y.chargesFixes || !y.chargesFixes[op.key]) { log.status = 'skip'; log.reason = 'clé absente'; break; }\n        const before = (y.chargesFixes[op.key].exceptions || []).length;\n        y.chargesFixes[op.key].exceptions = (y.chargesFixes[op.key].exceptions || []).filter(e => Number(e.id) !== Number(op.id));\n        log.key = op.key; log.supprimees = before - y.chargesFixes[op.key].exceptions.length; break;\n      }\n\n      // ═══ CHARGES VARIABLES ═══\n      case 'set_charge_variable': {\n        if (!y || !y.chargesVariables || !y.chargesVariables[op.key]) { log.status = 'skip'; log.reason = 'année ou clé absente'; break; }\n        const v = pickNum(op, 'valeur', 'montant', 'value', 'amount');\n        if (v === null) { log.status = 'error'; log.reason = 'aucune valeur numérique fournie'; break; }\n        const item = y.chargesVariables[op.key];\n        const old = item.valeur;\n        // ── v13.9 : redistribution proportionnelle si details existent ──\n        if (item.details && item.details.length > 0) {\n          const currentSum = item.details.reduce((s, d) => s + (Number(d.montant) || 0), 0);\n          if (currentSum === 0) {\n            log.status = 'error';\n            log.requires_redistribution = true;\n            log.reason = 'Répartition proportionnelle impossible : toutes les sous-lignes sont à 0. Précise comment ventiler le nouveau total.';\n            log.nouveau_total = v;\n            log.lignes = item.details.map(d => ({ id: d.id, nom: d.nom, montant_actuel: d.montant }));\n            break;\n          }\n          const ratio = v / currentSum;\n          let distributed = 0;\n          for (let i = 0; i < item.details.length - 1; i++) {\n            const nm = Math.round(item.details[i].montant * ratio);\n            item.details[i].montant = nm;\n            distributed += nm;\n          }\n          item.details[item.details.length - 1].montant = v - distributed;\n          log.redistribution = 'proportionnelle';\n          log.ratio_applique = Math.round(ratio * 1000) / 1000;\n          log.details_apres = item.details.map(d => ({ nom: d.nom, montant: d.montant }));\n        }\n        writeCharge(item, v, null);\n        log.key = op.key; log.avant = old; log.apres = v; break;\n      }\n      case 'add_charge_variable': {\n        if (!y) { log.status = 'skip'; log.reason = 'année absente'; break; }\n        if (!y.chargesVariables) y.chargesVariables = {};\n        if (y.chargesVariables[op.key]) { log.status = 'skip'; log.reason = 'clé existe déjà — utilise update_charge_variable'; break; }\n        const v = pickNum(op, 'valeur', 'montant', 'value', 'amount') ?? 0;\n        const periode = (op.periode === 'semaine' || op.periode === 'mois') ? op.periode : 'mois';\n        const lbl = pickStr(op, 'label', 'nom') || op.key;\n        y.chargesVariables[op.key] = { label: lbl, valeur: v, periode, showDetails: false, details: [] };\n        log.key = op.key; log.created = true; log.valeur = v; log.periode = periode; break;\n      }\n      case 'remove_charge_variable': {\n        if (!y || !y.chargesVariables || !y.chargesVariables[op.key]) { log.status = 'skip'; log.reason = 'clé absente'; break; }\n        delete y.chargesVariables[op.key]; log.key = op.key; log.removed = true; break;\n      }\n      case 'set_charge_variable_periode': {\n        if (!y || !y.chargesVariables || !y.chargesVariables[op.key]) { log.status = 'skip'; log.reason = 'clé absente'; break; }\n        if (op.periode !== 'mois' && op.periode !== 'semaine') { log.status = 'error'; log.reason = 'periode doit être \"mois\" ou \"semaine\"'; break; }\n        const old = y.chargesVariables[op.key].periode;\n        y.chargesVariables[op.key].periode = op.periode;\n        log.key = op.key; log.avant = old; log.apres = op.periode; break;\n      }\n      case 'update_charge_variable': {\n        if (!y || !y.chargesVariables || !y.chargesVariables[op.key]) { log.status = 'skip'; log.reason = 'clé absente'; break; }\n        const v = pickNum(op, 'valeur', 'montant', 'value', 'amount');\n        const lbl = pickStr(op, 'label', 'nom');\n        const per = (op.periode === 'mois' || op.periode === 'semaine') ? op.periode : null;\n        const target = y.chargesVariables[op.key];\n        const changes = {};\n        if (v !== null) {\n          // ── v13.9 : redistribution proportionnelle si details existent ──\n          if (target.details && target.details.length > 0) {\n            const currentSum = target.details.reduce((s, d) => s + (Number(d.montant) || 0), 0);\n            if (currentSum === 0) {\n              log.status = 'error';\n              log.requires_redistribution = true;\n              log.reason = 'Répartition proportionnelle impossible : toutes les sous-lignes sont à 0. Précise comment ventiler le nouveau total.';\n              log.nouveau_total = v;\n              log.lignes = target.details.map(d => ({ id: d.id, nom: d.nom, montant_actuel: d.montant }));\n              break;\n            }\n            const ratio = v / currentSum;\n            let distributed = 0;\n            for (let i = 0; i < target.details.length - 1; i++) {\n              const nm = Math.round(target.details[i].montant * ratio);\n              target.details[i].montant = nm;\n              distributed += nm;\n            }\n            target.details[target.details.length - 1].montant = v - distributed;\n            changes.redistribution = { mode: 'proportionnelle', ratio: Math.round(ratio * 1000) / 1000, details_apres: target.details.map(d => ({ nom: d.nom, montant: d.montant })) };\n          }\n          changes.valeur = { avant: target.valeur, apres: v };\n        }\n        if (per !== null) { changes.periode = { avant: target.periode, apres: per }; target.periode = per; }\n        if (lbl !== null) { changes.label = { avant: target.label, apres: lbl }; }\n        if (Object.keys(changes).length === 0) { log.status = 'error'; log.reason = 'aucun champ à mettre à jour'; break; }\n        writeCharge(target, v, lbl);\n        log.key = op.key; log.changes = changes; break;\n      }\n\n      // ═══ ÉPARGNE ═══\n      case 'set_epargne': {\n        if (!y || !y.epargne || !y.epargne[op.key]) { log.status = 'skip'; log.reason = 'année ou clé absente'; break; }\n        const v = pickNum(op, 'valeur', 'montant', 'value', 'amount');\n        if (v === null) { log.status = 'error'; log.reason = 'aucune valeur numérique fournie'; break; }\n        const old = y.epargne[op.key].valeur;\n        writeEpargne(y.epargne[op.key], v, null);\n        log.key = op.key; log.avant = old; log.apres = v; break;\n      }\n      case 'add_epargne': {\n        if (!y) { log.status = 'skip'; log.reason = 'année absente'; break; }\n        if (!y.epargne) y.epargne = {};\n        if (y.epargne[op.key]) { log.status = 'skip'; log.reason = 'clé existe déjà — utilise update_epargne'; break; }\n        const v = pickNum(op, 'valeur', 'montant', 'value', 'amount') ?? 0;\n        const lbl = pickStr(op, 'label', 'nom') || op.key;\n        y.epargne[op.key] = { label: lbl, valeur: v };\n        log.key = op.key; log.created = true; log.valeur = v; break;\n      }\n      case 'remove_epargne': {\n        if (!y || !y.epargne || !y.epargne[op.key]) { log.status = 'skip'; log.reason = 'clé absente'; break; }\n        delete y.epargne[op.key]; log.key = op.key; log.removed = true; break;\n      }\n      case 'update_epargne': {\n        if (!y || !y.epargne || !y.epargne[op.key]) { log.status = 'skip'; log.reason = 'clé absente'; break; }\n        const v = pickNum(op, 'valeur', 'montant', 'value', 'amount');\n        const lbl = pickStr(op, 'label', 'nom');\n        const target = y.epargne[op.key];\n        const changes = {};\n        if (v !== null) { changes.valeur = { avant: target.valeur, apres: v }; }\n        if (lbl !== null) { changes.label = { avant: target.label, apres: lbl }; }\n        if (Object.keys(changes).length === 0) { log.status = 'error'; log.reason = 'aucun champ à mettre à jour'; break; }\n        writeEpargne(target, v, lbl);\n        log.key = op.key; log.changes = changes; break;\n      }\n\n      // ═══ DÉPENSES PONCTUELLES ═══\n      case 'add_depense_ponctuelle': {\n        if (!y) { log.status = 'skip'; log.reason = 'année absente'; break; }\n        if (!Array.isArray(y.depensesIrregulieres)) y.depensesIrregulieres = [];\n        const v = pickNum(op, 'montant', 'valeur', 'value', 'amount');\n        if (v === null) { log.status = 'error'; log.reason = 'montant requis'; break; }\n        const id = Date.now() + Math.floor(Math.random() * 1000);\n        y.depensesIrregulieres.push({ id, mois: Number(op.mois), annee: a, nom: pickStr(op, 'nom', 'label') || 'Dépense', montant: v, paye: false, montantPaye: 0 });\n        log.id = id; log.nom = op.nom; log.montant = v; break;\n      }\n      case 'remove_depense_ponctuelle': {\n        if (!y) { log.status = 'skip'; log.reason = 'année absente'; break; }\n        if (!Array.isArray(y.depensesIrregulieres)) y.depensesIrregulieres = [];\n        const before = y.depensesIrregulieres.length;\n        const byId = op.id != null;\n        const byName = op.nom != null;\n        y.depensesIrregulieres = y.depensesIrregulieres.filter(d => {\n          if (byId && Number(d.id) === Number(op.id)) return false;\n          if (byName && String(d.nom).toLowerCase().trim() === String(op.nom).toLowerCase().trim()) return false;\n          return true;\n        });\n        log.critere = byId ? ('id=' + op.id) : ('nom=' + op.nom);\n        log.supprimees = before - y.depensesIrregulieres.length; break;\n      }\n      case 'update_depense_ponctuelle': {\n        if (!y || !Array.isArray(y.depensesIrregulieres)) { log.status = 'skip'; log.reason = 'année absente'; break; }\n        const target = y.depensesIrregulieres.find(d => Number(d.id) === Number(op.id));\n        if (!target) { log.status = 'skip'; log.reason = 'id introuvable'; break; }\n        const v = pickNum(op, 'montant', 'valeur', 'value', 'amount');\n        const changes = {};\n        if (v !== null) { changes.montant = { avant: target.montant, apres: v }; target.montant = v; }\n        if (op.mois != null) { changes.mois = { avant: target.mois, apres: Number(op.mois) }; target.mois = Number(op.mois); }\n        if (op.annee != null) { changes.annee = { avant: target.annee, apres: Number(op.annee) }; target.annee = Number(op.annee); }\n        if (op.nom != null) { changes.nom = { avant: target.nom, apres: String(op.nom) }; target.nom = String(op.nom); }\n        // Purge synonymes parasites sur dépenses\n        purgeKeys(target, SYN_NUM_DEPENSE);\n        if (Object.keys(changes).length === 0) { log.status = 'error'; log.reason = 'aucun champ à mettre à jour'; break; }\n        log.id = op.id; log.changes = changes; break;\n      }\n\n      // ═══ SOLDES INITIAUX ═══\n      case 'set_solde_initial': {\n        if (!financeData.soldesInitiaux) financeData.soldesInitiaux = {};\n        const allowed = ['courant','urgence','lt','bourse','moisActuel','anneeActuelle','semainesRestantes'];\n        if (!allowed.includes(op.key)) { log.status = 'error'; log.reason = 'clé non autorisée. Autorisées: ' + allowed.join(', '); break; }\n        const v = pickNum(op, 'valeur', 'montant', 'value', 'amount');\n        if (v === null) { log.status = 'error'; log.reason = 'aucune valeur numérique fournie'; break; }\n        const old = financeData.soldesInitiaux[op.key];\n        financeData.soldesInitiaux[op.key] = v;\n        log.key = op.key; log.avant = old; log.apres = v; break;\n      }\n\n      // ═══ ANNÉES ═══\n      case 'clone_annee': {\n        const src = financeData.donneesAnnuelles && financeData.donneesAnnuelles[op.depuis];\n        if (!src) { log.status = 'skip'; log.reason = 'année source absente'; break; }\n        if (financeData.donneesAnnuelles[op.vers]) { log.status = 'skip'; log.reason = 'année cible existe déjà'; break; }\n        const cloned = JSON.parse(JSON.stringify(src));\n        Object.values(cloned.chargesFixes || {}).forEach(f => { f.paye = false; f.montantPaye = 0; });\n        Object.values(cloned.chargesVariables || {}).forEach(c => { if (c.details) c.details.forEach(d => { d.paye = false; d.montantPaye = 0; }); });\n        (cloned.depensesIrregulieres || []).forEach(d => { d.paye = false; d.montantPaye = 0; d.annee = Number(op.vers); d.id = Date.now() + Math.floor(Math.random() * 1000); });\n        financeData.donneesAnnuelles[op.vers] = cloned;\n        log.depuis = op.depuis; log.vers = op.vers; log.created = true; break;\n      }\n      case 'delete_annee': {\n        if (!financeData.donneesAnnuelles[op.annee]) { log.status = 'skip'; log.reason = 'année absente'; break; }\n        delete financeData.donneesAnnuelles[op.annee];\n        log.annee = op.annee; log.removed = true; break;\n      }\n\n      // ═══ PROJET STUDIO ═══\n      case 'set_projet_studio': {\n        if (!y) { log.status = 'skip'; log.reason = 'année absente'; break; }\n        if (!y.projetStudio) y.projetStudio = {};\n        const allowed = ['prixM2','surface','avance','taux','duree','taxSyndic','taxCouvertCredit','surplusCredit','assuranceMensuelle','travaux','epargneDispo'];\n        if (!allowed.includes(op.key)) { log.status = 'error'; log.reason = 'champ non autorisé. Autorisés: ' + allowed.join(', '); break; }\n        const v = pickNum(op, 'valeur', 'montant', 'value', 'amount');\n        if (v === null) { log.status = 'error'; log.reason = 'aucune valeur numérique fournie'; break; }\n        const old = y.projetStudio[op.key];\n        y.projetStudio[op.key] = v;\n        log.key = op.key; log.avant = old; log.apres = v; break;\n      }\n\n      default:\n        log.status = 'error';\n        log.reason = \"type d'opération INCONNU: '\" + op.type + \"'. Types valides : set/add/remove/rename/update_revenu, set/add/remove/rename/update_charge_fixe, set/add/remove/update_charge_variable, set_charge_variable_periode, set/add/remove/update_epargne, add/remove/update_depense_ponctuelle, set_solde_initial, clone_annee, delete_annee, set_projet_studio.\";\n    }\n  } catch (e) {\n    log.status = 'error'; log.reason = e.message;\n  }\n  return log;\n}\n\nconst before = snapshot(financeData, anneeTarget);\nconst log = [];\nfor (const op of operations) {\n  log.push(applyOp(financeData, op, anneeTarget));\n}\n\n// ⚠️ PASSE 2 : sanitize globale APRÈS les ops (filet de sécurité)\nconst sanitize_report_post = sanitizeFinanceData(financeData);\n\nconst after = snapshot(financeData, anneeTarget);\n\nconst valid = financeData.donneesAnnuelles && typeof financeData.donneesAnnuelles === 'object' &&\n              financeData.soldesInitiaux && typeof financeData.soldesInitiaux === 'object';\n\nconst successCount = log.filter(l => l.status !== 'skip' && l.status !== 'error').length;\nconst errorCount   = log.filter(l => l.status === 'error').length;\nconst skipCount    = log.filter(l => l.status === 'skip').length;\n\nconst totalDirtPurged = Object.values(sanitize_report_pre).reduce((s, n) => s + n, 0)\n                     + Object.values(sanitize_report_post).reduce((s, n) => s + n, 0);\n\n// Si AUCUN op réussi MAIS du dirt a été nettoyé → on cache quand même la sanitize\n// pour que le user puisse valider le nettoyage\nconst hasEffectiveChanges = (successCount > 0 && errorCount === 0) || (totalDirtPurged > 0 && errorCount === 0);\n\nlet pending_saved = false;\nlet pending_error = null;\nif (simulate && valid && hasEffectiveChanges && session_id) {\n  try {\n    const resp = await this.helpers.httpRequest({\n      method: 'POST',\n      url: 'https://n8n.beau.ink/finance/pending_commit.php',\n      body: { session_id, annee: anneeTarget, operations, finance_data: financeData },\n      json: true,\n      timeout: 10000\n    });\n    pending_saved = !!(resp && resp.status === 'ok');\n  } catch (e) {\n    pending_error = e.message;\n  }\n}\n\nreturn JSON.stringify({\n  mode: simulate ? 'SIMULATION' : 'APPLY',\n  valid,\n  annee: anneeTarget,\n  avant: before,\n  apres: after,\n  delta: before && after ? {\n    revenus: after.revenus - before.revenus,\n    fixes: after.fixes - before.fixes,\n    variables: after.variables - before.variables,\n    epargne: after.epargne - before.epargne\n  } : null,\n  ops_summary: { total: operations.length, success: successCount, errors: errorCount, skipped: skipCount },\n  operations_appliquees: log,\n  sanitize_report: {\n    pre_ops: sanitize_report_pre,\n    post_ops: sanitize_report_post,\n    total_keys_purged: totalDirtPurged\n  },\n  pending_saved,\n  pending_error,\n  pending_session_id: session_id || null,\n  warning: errorCount > 0 ? \"Au moins une opération a échoué — pending NON sauvegardé. Vérifie operations_appliquees, corrige et relance.\" : null,\n  redistribution_required: log.some(l => l.requires_redistribution) ? log.filter(l => l.requires_redistribution) : null\n}, null, 2);"
      },
      "id": "node-tool-budget",
      "name": "Tool: Budget Engine",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.2,
      "position": [
        320,
        260
      ]
    },
    {
      "parameters": {
        "name": "committer",
        "description": "Persiste les modifications budgétaires sur le VPS. ⚠️ N'appeler QUE si l'utilisateur a tapé 'OUI' (ou 'ok' / 'valide') dans son DERNIER message.\n\nParamètre MINIMAL :\n{ \"confirmation\": \"OUI\" }\n\nLe Committer récupère AUTOMATIQUEMENT la dernière simulation en attente (cachée serveur-side dans pending_commit.php par Budget Engine au tour précédent) et l'applique. Tu n'as PAS besoin de re-passer les operations — elles sont déjà cachées.\n\nSi aucune simulation n'est en attente, le tool renverra une erreur explicite : demande alors à l'utilisateur de reformuler sa modification pour relancer Budget Engine.",
        "language": "javaScript",
        "jsCode": "// ════════════════════════════════════════════════════════\n// COMMITTER v4 (stateful) — lit pending_commit.php puis save_data.php\n// FIX v13.5 : ne dépend PLUS de l'historique conversationnel.\n// Workflow :\n//   1. Vérifie confirmation === \"OUI\"\n//   2. GET pending_commit.php?session_id=X\n//   3. POST le finance_data récupéré vers save_data.php\n//   4. DELETE pending_commit.php?session_id=X\n// ════════════════════════════════════════════════════════\nlet input;\ntry {\n  input = typeof query === 'string' ? JSON.parse(query) : query;\n} catch (e) {\n  return JSON.stringify({ error: \"JSON invalide : \" + e.message });\n}\n\n// ── GARDE 1 : confirmation = \"OUI\" ──\nif (!input.confirmation || String(input.confirmation).toUpperCase().trim() !== 'OUI') {\n  return JSON.stringify({ error: 'REFUS : le paramètre confirmation doit être \"OUI\". Demande à l\\'utilisateur de taper OUI.' });\n}\n\n// ── Récupère session_id depuis Build Agent Input (ou Normalize Input) ──\nlet session_id = null;\ntry { session_id = $('Build Agent Input').first().json.session_id; } catch (e) {}\nif (!session_id) {\n  try { session_id = $('Normalize Input').first().json.session_id; } catch (e) {}\n}\nif (!session_id) {\n  return JSON.stringify({ error: 'session_id introuvable dans le contexte' });\n}\n\n// ── GARDE 2 : dernier message utilisateur contient \"OUI\" ──\nlet lastUserMsg = '';\ntry { lastUserMsg = String($('Normalize Input').first().json.question || '').toUpperCase(); } catch (e) {}\nif (!/\\bOUI\\b|\\bOK\\b|\\bVALIDE\\b|\\bGO\\b/.test(lastUserMsg)) {\n  return JSON.stringify({ error: 'REFUS : le dernier message utilisateur ne contient pas OUI/OK/VALIDE. Demande confirmation explicite.' });\n}\n\nconst PENDING_URL = 'https://n8n.beau.ink/finance/pending_commit.php';\nconst SAVE_URL    = 'https://n8n.beau.ink/finance/save_data.php';\n\n// ── 1. Récupère le pending depuis le cache serveur ──\nlet pending;\ntry {\n  pending = await this.helpers.httpRequest({\n    method: 'GET',\n    url: PENDING_URL + '?session_id=' + encodeURIComponent(session_id),\n    json: true,\n    timeout: 10000\n  });\n} catch (e) {\n  return JSON.stringify({\n    error: 'Aucune simulation en attente. Demande à l\\'utilisateur de reformuler sa modification (ex : \"baisse le loyer à 4500\"), je referai la simulation puis tu pourras valider par OUI.',\n    detail: e.message,\n    session_id\n  });\n}\n\nif (!pending || !pending.finance_data || !pending.finance_data.donneesAnnuelles) {\n  return JSON.stringify({\n    error: 'Pending récupéré mais finance_data invalide. Demande à l\\'utilisateur de relancer la simulation.',\n    session_id,\n    pending_keys: pending ? Object.keys(pending) : null\n  });\n}\n\nconst financeData = pending.finance_data;\nconst operations = pending.operations || [];\nconst annee = pending.annee;\n\n// ── 2. POST vers save_data.php (commit officiel) ──\nlet saveResp;\ntry {\n  saveResp = await this.helpers.httpRequest({\n    method: 'POST',\n    url: SAVE_URL,\n    body: financeData,\n    json: true,\n    headers: { 'Content-Type': 'application/json' },\n    timeout: 15000\n  });\n} catch (e) {\n  return JSON.stringify({\n    error: 'Échec écriture save_data.php',\n    detail: e.message,\n    session_id,\n    pending_preserved: true\n  });\n}\n\n// ── 3. DELETE pending (cleanup, idempotent) ──\nlet pendingDeleted = false;\ntry {\n  const delResp = await this.helpers.httpRequest({\n    method: 'DELETE',\n    url: PENDING_URL + '?session_id=' + encodeURIComponent(session_id),\n    json: true,\n    timeout: 5000\n  });\n  pendingDeleted = !!(delResp && delResp.status === 'ok');\n} catch (e) {\n  // best effort, le pending expirera tout seul après 30 min\n}\n\nreturn JSON.stringify({\n  status: 'ok',\n  committed: true,\n  session_id,\n  annee,\n  operations_count: operations.length,\n  operations: operations,\n  pending_deleted: pendingDeleted,\n  server_response: saveResp\n});"
      },
      "id": "node-tool-commit",
      "name": "Tool: Committer",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.2,
      "position": [
        520,
        260
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Telegram Trigger').isExecuted }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "outputKey": "telegram"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook CFO Web').isExecuted }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "outputKey": "web"
            }
          ]
        },
        "options": {}
      },
      "id": "node-switch",
      "name": "Route Response",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        180,
        20
      ]
    },
    {
      "parameters": {
        "jsCode": "// ════════════════════════════════════════════════════════\n// FORMAT FOR TELEGRAM v13.4 — convertit HTML riche → texte Telegram\n// FIX : lit la sortie DIRECTEMENT depuis AI Agent (pas $input qui contient\n//        le retour de Save Conversation = INSERT Postgres = vide d'output).\n// Telegram parse_mode=HTML supporte uniquement :\n//   <b>, <strong>, <i>, <em>, <u>, <s>, <code>, <pre>, <a href=\"\">\n// ════════════════════════════════════════════════════════\nlet html = '';\ntry {\n  const agentOut = $('AI Agent').first().json;\n  html = agentOut.output || agentOut.text || agentOut.response || '';\n} catch (e) {\n  html = '';\n}\n\nif (!html) {\n  // Fallback ultime : tente de lire depuis $input si jamais l'agent n'est pas accessible\n  try {\n    const fallback = $input.first().json;\n    html = fallback.output || fallback.text || '⚠️ Aucune réponse générée par l\\'agent.';\n  } catch (e) {\n    html = '⚠️ Aucune réponse générée par l\\'agent.';\n  }\n}\n\nif (typeof html !== 'string') html = String(html);\n\nconst text = html\n  // Sauts de ligne\n  .replace(/<br\\s*\\/?>/gi, '\\n')\n  .replace(/<\\/p>\\s*<p[^>]*>/gi, '\\n\\n')\n  .replace(/<\\/?p[^>]*>/gi, '')\n  // Listes\n  .replace(/<\\/li>/gi, '\\n')\n  .replace(/<li[^>]*>/gi, '• ')\n  .replace(/<\\/?ul[^>]*>/gi, '\\n')\n  .replace(/<\\/?ol[^>]*>/gi, '\\n')\n  // Séparateurs\n  .replace(/<hr\\s*\\/?>/gi, '\\n———\\n')\n  // Spans (couleurs) : on garde le contenu, on supprime les balises\n  .replace(/<\\/?span[^>]*>/gi, '')\n  .replace(/<\\/?div[^>]*>/gi, '\\n')\n  // Normalise <strong>→<b> et <em>→<i> (Telegram supporte les 2 mais on canonise)\n  .replace(/<strong>/gi, '<b>').replace(/<\\/strong>/gi, '</b>')\n  .replace(/<em>/gi, '<i>').replace(/<\\/em>/gi, '</i>')\n  // Strip toutes les autres balises non supportées par Telegram\n  .replace(/<(?!\\/?(b|i|u|s|code|pre|a)\\b)[^>]+>/gi, '')\n  // Décode entités HTML courantes\n  .replace(/&nbsp;/g, ' ')\n  .replace(/&amp;/g, '&')\n  .replace(/&lt;/g, '<')\n  .replace(/&gt;/g, '>')\n  .replace(/&quot;/g, '\"')\n  .replace(/&#39;/g, \"'\")\n  // Nettoie multi-lignes vides\n  .replace(/\\n{3,}/g, '\\n\\n')\n  .trim();\n\nreturn [{\n  json: {\n    telegram_text: text,\n    chat_id: $('Telegram Trigger').first().json.message.chat.id\n  }\n}];"
      },
      "id": "node-format-telegram",
      "name": "Format for Telegram",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        340,
        -120
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').first().json.message.chat.id }}",
        "text": "={{ $json.telegram_text }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "node-send-telegram",
      "name": "Send Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        560,
        -120
      ],
      "credentials": {
        "telegramApi": {
          "id": "CFOV2TelegramAPI",
          "name": "CFO V2 Telegram API"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"html\": $('AI Agent').first().json.output, \"session_id\": $('Normalize Input').first().json.session_id } }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              },
              {
                "name": "Content-Type",
                "value": "application/json; charset=utf-8"
              }
            ]
          }
        }
      },
      "id": "node-respond-webhook",
      "name": "Respond Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        440,
        160
      ]
    },
    {
      "parameters": {
        "name": "memory_writer",
        "description": "Outil de mémorisation long terme. Vectorise et persiste une règle, préférence ou\ninformation personnelle dans finance_vectors pour qu'elle soit disponible lors de\nTOUTES les sessions futures via l'outil finance_rag.\n\nUTILISER UNIQUEMENT sur demande EXPLICITE de l'utilisateur :\n  « retiens que », « mémorise pour toujours », « souviens-toi que »,\n  « note pour toutes les sessions », « garde ça en mémoire ».\nNe jamais l'appeler pour une préférence de session ou une demande d'analyse.\n\nParamètre JSON :\n  { \"texte\": \"Information à mémoriser\", \"categorie\": \"preference|regle|contexte|general\" }\n\nCatégories :\n  • preference : habitude personnelle (ex: « je préfère louer des Airbnb »)\n  • regle      : règle budgétaire (ex: « jamais plus de 2000 DH en vacances »)\n  • contexte   : fait sur la situation (ex: « je suis en période de promotion »)\n  • general    : tout autre type d'information\n\nLa mémoire est vectorisée (Gemini gemini-embedding-001) et immédiatement\ndisponible pour les recherches futures via finance_rag.",
        "language": "javaScript",
        "jsCode": "// ════════════════════════════════════════════════════════\n// MEMORY WRITER v1.0 — ingestion mémoire long terme (RAG)\n// Appelle le sous-workflow CFO Memory Ingest via webhook interne.\n// Utiliser UNIQUEMENT sur demande EXPLICITE de mémorisation.\n// ════════════════════════════════════════════════════════\nlet input;\ntry {\n  input = typeof query === 'string' ? JSON.parse(query) : query;\n} catch (e) {\n  return JSON.stringify({ error: 'JSON invalide: ' + e.message });\n}\n\nconst texte     = (input.texte || input.text || '').trim();\nconst categorie = (input.categorie || input.category || 'general').toLowerCase();\nconst VALID_CATS = ['preference', 'regle', 'contexte', 'general'];\n\nif (!texte || texte.length < 5) {\n  return JSON.stringify({ error: 'Texte trop court (min 5 caractères).' });\n}\nif (!VALID_CATS.includes(categorie)) {\n  return JSON.stringify({ error: 'Catégorie invalide. Autorisées: ' + VALID_CATS.join(', ') });\n}\n\n// Récupère session_id depuis le contexte de l'agent\nlet session_id = null;\ntry { session_id = $('Build Agent Input').first().json.session_id; } catch (e) {}\nif (!session_id) {\n  try { session_id = $('Normalize Input').first().json.session_id; } catch (e) {}\n}\n\ntry {\n  const resp = await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://n8n.beau.ink/webhook/finance-memory-ingest',\n    body: { texte, categorie, session_id: session_id || 'unknown' },\n    json: true,\n    timeout: 20000\n  });\n\n  if (resp && resp.status === 'ok') {\n    return JSON.stringify({\n      status: 'ok',\n      memorise: true,\n      texte,\n      categorie,\n      message: 'Information enregistrée dans la mémoire long terme. Disponible dans toutes les sessions futures via finance_rag.'\n    });\n  } else {\n    return JSON.stringify({ error: 'Ingestion échouée', detail: resp });\n  }\n} catch (e) {\n  return JSON.stringify({ error: 'Erreur appel webhook mémoire: ' + e.message });\n}"
      },
      "id": "node-tool-memory",
      "name": "Tool: Memory Writer",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.2,
      "position": [
        720,
        260
      ]
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook CFO Web": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Load Sane History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Save Conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini 2.5 Pro LLM": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Tool: Finance RAG",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Finance RAG": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Tool: Finance RAG",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Embeddings": {
      "ai_embedding": [
        [
          {
            "node": "Postgres Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Budget Engine": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Committer": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Route Response": {
      "main": [
        [
          {
            "node": "Format for Telegram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format for Telegram": {
      "main": [
        [
          {
            "node": "Send Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Sane History": {
      "main": [
        [
          {
            "node": "Build Agent Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Agent Input": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Conversation": {
      "main": [
        [
          {
            "node": "Route Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Memory Writer": {
      "ai_tool": [
        [
          {
            "index": 0,
            "node": "AI Agent",
            "type": "ai_tool"
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "timezone": "Africa/Casablanca"
  },
  "staticData": null,
  "tags": [
    {
      "name": "cfo"
    },
    {
      "name": "finance"
    }
  ],
  "versionId": "v13.8",
  "meta": {
    "templateCreatedBy": "Finance Master v13.8 (schema sanitization — purge dirty synonyms)"
  },
  "active": false
}