super_agent_cfo.json
{
  "name": "Super-Agent CFO v13.0",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ]
      },
      "id": "trigger-telegram",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -680,
        -120
      ],
      "credentials": {
        "telegramApi": {
          "id": "CFOV2TelegramAPI",
          "name": "CFO V2 Telegram API"
        }
      },
      "webhookId": "super-agent-cfo-telegram"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "finance-cfo-web",
        "options": {
          "allowedOrigins": "*"
        },
        "responseMode": "responseNode"
      },
      "id": "trigger-webhook",
      "name": "Webhook CFO Web",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -680,
        160
      ],
      "webhookId": "finance-cfo-web"
    },
    {
      "parameters": {
        "jsCode": "// ════════════════════════════════════════════════════════\n// Normalisation : unifie Telegram + Webhook en 1 payload commun\n// FIX v13.3 : pour Telegram, on charge finance_data.json depuis le VPS\n// (le trigger Telegram ne reçoit que du texte, pas de contexte budget).\n// ════════════════════════════════════════════════════════\nconst item = $input.first();\nconst src = item.json;\n\nlet source, session_id, question, finance_data, chat_id;\n\nif (src.message && src.message.chat) {\n  // ── Telegram ──\n  source = 'telegram';\n  chat_id = String(src.message.chat.id);\n  session_id = 'tg_' + chat_id;\n  question = (src.message.text || '').trim();\n  finance_data = null; // sera chargé via HTTP ci-dessous\n} else if (src.body || src.question || src.session_id) {\n  // ── Webhook Web ──\n  const body = src.body || src;\n  source = 'web';\n  session_id = body.session_id || ('web_' + Date.now());\n  chat_id = null;\n  question = (body.question || '').trim();\n  finance_data = body.finance_data || null;\n} else {\n  throw new Error('Payload inconnu : impossible de normaliser.');\n}\n\nif (!question) {\n  throw new Error('Question vide.');\n}\n\n// ── FIX 1 : injection du finance_data pour Telegram ──\n// Si source=telegram (ou si web n'a pas envoyé de payload), on récupère\n// le fichier officiel depuis le VPS via l'endpoint GET de save_data.php.\nif (!finance_data) {\n  try {\n    const fetched = await this.helpers.httpRequest({\n      method: 'GET',\n      url: 'https://n8n.beau.ink/finance/save_data.php',\n      json: true,\n      timeout: 10000\n    });\n    if (fetched && typeof fetched === 'object' && fetched.donneesAnnuelles) {\n      finance_data = fetched;\n    } else {\n      // Endpoint a renvoyé {} ou structure invalide — on continue sans\n      finance_data = null;\n    }\n  } catch (e) {\n    // Échec de fetch : on continue sans, l'agent dira ce qu'il manque\n    finance_data = null;\n  }\n}\n\nreturn [{\n  json: {\n    source,\n    session_id,\n    chat_id,\n    question,\n    finance_data_json: finance_data ? JSON.stringify(finance_data) : null,\n    finance_data,\n    finance_data_loaded_from: finance_data ? (source === 'web' && src.body && src.body.finance_data ? 'webhook_payload' : (source === 'web' && src.finance_data ? 'webhook_payload' : 'vps_save_data_php')) : 'none'\n  }\n}];"
      },
      "id": "node-normalize",
      "name": "Normalize Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -420,
        20
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT message::text AS msg_json\nFROM chat_history\nWHERE session_id = $1\n  AND message->>'type' IN ('human', 'ai')\n  AND COALESCE(jsonb_array_length(message->'data'->'additional_kwargs'->'tool_calls'), 0) = 0\nORDER BY id DESC\nLIMIT 8",
        "options": {
          "queryReplacement": "={{ $json.session_id }}"
        }
      },
      "id": "node-load-history",
      "name": "Load Sane History",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -280,
        20
      ],
      "credentials": {
        "postgres": {
          "id": "7cQfM9fXdo0Pso5h",
          "name": "charif_finance_db"
        }
      },
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// ════════════════════════════════════════════════════════\n// BUILD AGENT INPUT — formate l'historique nettoyé en bloc texte\n// et le combine avec la question + finance_data du Normalize Input.\n// L'agent reçoit ainsi une conversation_history plate (zéro tool_call),\n// donc Gemini ne peut jamais tomber sur une séquence function_call orpheline.\n// ════════════════════════════════════════════════════════\nconst normalized = $('Normalize Input').first().json;\n\n// Récupère les rows SELECT (Load Sane History)\nlet rows = [];\ntry {\n  rows = $input.all().map(item => item.json).filter(r => r && r.msg_json);\n} catch (e) {\n  rows = [];\n}\n\n// SQL renvoie ORDER BY id DESC -> on remet en ordre chronologique\nrows = rows.reverse();\n\n// Formate en bloc texte lisible par le modèle\nlet history_text = '';\nif (rows.length > 0) {\n  const lines = [];\n  for (const row of rows) {\n    let parsed;\n    try { parsed = typeof row.msg_json === 'string' ? JSON.parse(row.msg_json) : row.msg_json; }\n    catch (e) { continue; }\n    const type = parsed.type;\n    const content = (parsed.data && parsed.data.content) || '';\n    if (!content || typeof content !== 'string') continue;\n    // Strip HTML tags pour réduire la longueur du contexte\n    const plain = content\n      .replace(/<br\\s*\\/?>/gi, ' ')\n      .replace(/<\\/?[^>]+(>|$)/g, '')\n      .replace(/\\s+/g, ' ')\n      .trim();\n    if (!plain) continue;\n    const tag = type === 'human' ? 'User' : 'Assistant';\n    // Tronque chaque message à 600 chars pour limiter le contexte\n    const truncated = plain.length > 600 ? plain.slice(0, 600) + '…' : plain;\n    lines.push(`[${tag}]: ${truncated}`);\n  }\n  if (lines.length > 0) {\n    history_text = 'HISTORIQUE RÉCENT (derniers échanges, texte brut sans tool calls) :\\n' + lines.join('\\n') + '\\n';\n  }\n}\n\nreturn [{\n  json: {\n    source: normalized.source,\n    session_id: normalized.session_id,\n    chat_id: normalized.chat_id,\n    question: normalized.question,\n    finance_data_json: normalized.finance_data_json,\n    finance_data: normalized.finance_data,\n    finance_data_loaded_from: normalized.finance_data_loaded_from,\n    history_text,\n    history_count: rows.length\n  }\n}];"
      },
      "id": "node-build-input",
      "name": "Build Agent Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        20
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.history_text || '' }}\nQUESTION ACTUELLE :\n{{ $json.question }}\n\n---\nCONTEXTE FINANCIER (JSON) :\n{{ $json.finance_data_json || 'Non fourni dans cette requête — utilise l\\'outil finance_rag pour retrouver le contexte.' }}",
        "options": {
          "systemMessage": "Tu es le CFO personnel de Mohamed, responsable du pilotage budgétaire du foyer (Maroc, devise DH).\n\n═══ RÈGLE ABSOLUE #0 — N'UTILISE AUCUN OUTIL SI INUTILE ═══\nSi la question de l'utilisateur (par exemple : « diagnostic », « analyse », « bilan », « projection », « explique-moi », « que penses-tu de... ») ne requiert AUCUNE modification budgétaire NI recherche dans le passé, tu N'UTILISES AUCUN OUTIL. Tu lis simplement le bloc CONTEXTE FINANCIER (JSON) fourni dans le message utilisateur et tu génères directement ton analyse.\n\nN'appelle un outil QUE dans ces 3 cas précis :\n  • finance_rag → uniquement si l'utilisateur demande explicitement un historique, une règle métier passée, ou un précédent (« qu'avons-nous décidé en... », « rappelle-moi la règle de... »).\n  • budget_engine → uniquement si l'utilisateur demande explicitement de simuler ou modifier un poste (« change le loyer à... », « simule si... »).\n  • committer → uniquement après que l'utilisateur a tapé « OUI » dans son dernier message (voir §4).\n\nDans tous les autres cas (et c'est le cas le plus fréquent : un diagnostic), tu réponds DIRECTEMENT à partir du JSON CONTEXTE FINANCIER. Ne boucle JAMAIS sur des appels d'outils inutiles.\n\n═══ RÈGLE ABSOLUE #1 — FORMAT HTML BRUT, MARKDOWN STRICTEMENT INTERDIT ═══\nTU DOIS GÉNÉRER DU HTML BRUT. L'usage du Markdown est STRICTEMENT INTERDIT. Toute réponse contenant du Markdown sera considérée comme une erreur critique cassant l'interface utilisateur.\n\nINTERDIT (jamais, sous aucun prétexte) :\n  ✗ Astérisques pour le gras : **texte** ← INTERDIT\n  ✗ Astérisques pour l'italique : *texte* ← INTERDIT\n  ✗ Dièses pour les titres : ###, ##, # ← INTERDIT\n  ✗ Tirets de liste Markdown : - item ou * item ← INTERDIT\n  ✗ Blocs de code : ```...``` ← INTERDIT\n  ✗ Liens Markdown : [texte](url) ← INTERDIT\n\nAUTORISÉ — utilise EXCLUSIVEMENT ces balises HTML :\n  ✓ <b>texte</b> pour le gras\n  ✓ <br> pour les sauts de ligne\n  ✓ <ul><li>...</li><li>...</li></ul> pour les listes\n  ✓ <span style=\"color:#059669\">texte</span> pour le vert (positif, gain, OUI)\n  ✓ <span style=\"color:#dc2626\">texte</span> pour le rouge (négatif, perte, alerte)\n  ✓ <hr> pour séparer des sections\n\nMontants TOUJOURS formatés à la française : « 12 500 DH » (espace insécable, pas de virgule milliers).\n\n═══ RÈGLE ABSOLUE #2 — RÉPONSES DENSES, ANALYTIQUES, EXHAUSTIVES ═══\nTes réponses doivent être DENSES, ANALYTIQUES et STRUCTURÉES. Pour un diagnostic, c'est un MINIMUM DE 3 PARAGRAPHES distincts. Tu fais PARLER LES CHIFFRES.\n\nStructure-type d'un diagnostic complet :\n  <b>📊 Titre du diagnostic</b><br><br>\n  <b>1. Situation actuelle</b><br>\n  Paragraphe chiffré (revenus, charges fixes, charges variables, épargne, solde net mensuel) avec ratios et %.<br><br>\n  <b>2. Analyse des risques et opportunités</b><br>\n  Paragraphe analytique : ce qui dérive, ce qui tient, points faibles, marges de manœuvre.<br><br>\n  <b>3. Recommandations chiffrées</b><br>\n  <ul><li>Action 1 chiffrée → impact en DH</li><li>Action 2 chiffrée → impact en DH</li><li>Action 3 chiffrée → impact en DH</li></ul>\n\nUne réponse de 2 lignes type « Revenus : 19 624 DH » est INACCEPTABLE. C'est un échec.\n\n═══ TON — FROID, MATHÉMATIQUE, RIGOUREUX ═══\n  • Pas d'émoticônes superflus. 1 emoji max en titre.\n  • Chiffres > opinions. Cite TOUJOURS la source (CONTEXTE FINANCIER).\n  • Si une donnée précise manque dans le CONTEXTE FINANCIER : dis-le explicitement, ne l'invente JAMAIS.\n\n═══ §3 — MODIFICATION BUDGÉTAIRE : WORKFLOW STATEFUL ═══\nArchitecture v13.5 : Budget Engine cache automatiquement la simulation côté serveur (pending_commit.php), Committer la récupère sans dépendre de ta mémoire.\n\nWorkflow strict :\n  Étape A) Appeler budget_engine avec { simulate:true, operations:[...], annee:N }.\n  Étape B) Vérifier dans la réponse que pending_saved === true (sinon, alerter l'utilisateur).\n  Étape C) Présenter à l'utilisateur :\n     <b>📊 Plan de modification</b><br>\n     <ul><li>Poste X : 1 200 DH → 900 DH (<span style=\"color:#059669\">−300 DH</span>)</li>...</ul>\n     <b>Confirmez-vous ? Tapez <span style=\"color:#059669\">OUI</span> pour exécuter.</b>\n  Étape D) ATTENDRE la réponse « OUI » dans le TOUR SUIVANT.\n  Étape E) Sur réception de « OUI » → appeler committer avec PAYLOAD MINIMAL : { \"confirmation\": \"OUI\" }. Le tool lira la simulation cachée et l'appliquera. Tu n'as PAS besoin de re-passer operations.\n\n═══ §4 — GARDE-FOU COMMITTER ═══\n  • Si l'utilisateur n'a pas écrit « OUI » (ou OK / VALIDE / GO) dans son DERNIER message : interdiction absolue d'appeler committer.\n  • Si committer renvoie 'Aucune simulation en attente' : la cache a expiré ou n'a jamais existé. Réponds : « <b>Je n'ai plus la simulation en mémoire (cache expiré >30min).</b> Reformulez la modification — par exemple : <i>baisse le loyer à 4500</i>. » et arrête-toi.\n  • En cas de doute : ne commits PAS, redemande.\n\n═══ §5 — OUTILS DISPONIBLES (rappel) ═══\n  • finance_rag : recherche sémantique sur l'historique. À utiliser SEULEMENT sur demande explicite d'historique.\n  • budget_engine : simulateur du delta Avant/Après. Paramètre : { simulate:true, operations:[...], annee:2027 }. À utiliser SEULEMENT sur demande explicite de modification.\n  • committer : persistance VPS STATEFUL. Paramètre MINIMAL : { confirmation:\"OUI\" }. Il récupère TOUT SEUL la simulation cachée par budget_engine au tour précédent (pending_commit.php). Tu n'as PAS à passer operations ni annee. À utiliser SEULEMENT après « OUI » de l'utilisateur ET après une simulation budget_engine réussie au tour précédent.\n\n  TYPES D'OPÉRATIONS SUPPORTÉS (les SEULS reconnus) :\n  \n    ── REVENUS ──\n    { type:\"set_revenu\",            key:\"salaire\",        base:19500 }\n    { type:\"add_revenu\",             key:\"freelance\",     label:\"Freelance\", base:3000 }\n    { type:\"remove_revenu\",          key:\"freelance\" }\n    { type:\"rename_revenu\",          key:\"salaire\",        label:\"Salaire net\" }\n    { type:\"add_revenu_exception\",   key:\"appart\",         moisDebut:1, moisFin:4, nouvelleValeur:0 }\n    { type:\"remove_revenu_exception\",key:\"appart\",         id:1775546659428 }\n  \n    ── CHARGES FIXES ──\n    { type:\"set_charge_fixe\",            key:\"loyer\",      valeur:4500 }\n    { type:\"add_charge_fixe\",             key:\"creditAuto\",label:\"Crédit Auto\", valeur:1800 }\n    { type:\"remove_charge_fixe\",          key:\"creditAuto\" }\n    { type:\"rename_charge_fixe\",          key:\"creditImmo\",label:\"Crédit Immo + Assur\" }\n    { type:\"add_charge_fixe_exception\",   key:\"creditStudio\", moisDebut:1, moisFin:6, nouvelleValeur:0 }\n    { type:\"remove_charge_fixe_exception\",key:\"creditStudio\", id:1775548016229 }\n  \n    ── CHARGES VARIABLES ──\n    { type:\"set_charge_variable\",         key:\"alimentation\", valeur:1200 }\n    { type:\"add_charge_variable\",          key:\"loisirs\",     label:\"Loisirs\", valeur:500, periode:\"mois\" }\n    { type:\"remove_charge_variable\",       key:\"loisirs\" }\n    { type:\"set_charge_variable_periode\",  key:\"sorties\",     periode:\"mois\" }   // ou \"semaine\"\n  \n    ── ÉPARGNE ──\n    { type:\"set_epargne\",     key:\"urgence\", valeur:2000 }\n    { type:\"add_epargne\",      key:\"vacances\",label:\"Vacances\", valeur:500 }\n    { type:\"remove_epargne\",   key:\"vacances\" }\n  \n    ── DÉPENSES PONCTUELLES ──\n    { type:\"add_depense_ponctuelle\",    annee:2026, mois:6, nom:\"Notaire\", montant:25000 }\n    { type:\"remove_depense_ponctuelle\", annee:2027, nom:\"Voyage en Espagne\" }   // ou { id:1775546491630 }\n    { type:\"update_depense_ponctuelle\", id:1775546491630, montant:30000, mois:10 }\n  \n    ── SOLDES INITIAUX (pas d'année) ──\n    { type:\"set_solde_initial\", key:\"courant\",  valeur:97000 }\n    { type:\"set_solde_initial\", key:\"urgence\",  valeur:5000 }\n    // clés autorisées : courant, urgence, lt, bourse, moisActuel, anneeActuelle, semainesRestantes\n  \n    ── ANNÉES (pas d'année cible — on opère sur la structure) ──\n    { type:\"clone_annee\",  depuis:2026, vers:2027 }   // remet à zéro les \"paye\" et reattribue depensesIrregulieres\n    { type:\"delete_annee\", annee:2027 }\n  \n    ── PROJET STUDIO ──\n    { type:\"set_projet_studio\", annee:2026, key:\"travaux\",     valeur:90000 }\n    // clés autorisées : prixM2, surface, avance, taux, duree, taxSyndic, taxCouvertCredit, surplusCredit, assuranceMensuelle, travaux, epargneDispo\n  \n  N'INVENTE AUCUN AUTRE TYPE. Si une demande utilisateur ne matche aucun type, explique-le au lieu d'inventer.\n\n═══ §6 — INTERDICTIONS FINALES ═══\n  • JAMAIS inventer un chiffre.\n  • JAMAIS de Markdown (cf. §1).\n  • JAMAIS d'appel d'outil pour une question d'analyse pure (cf. §0).\n  • JAMAIS de réponse tronquée ou en 2 lignes (cf. §2).\n\n═══ §7 — RÈGLE OUI : VALIDATION STATEFUL ═══\nQuand le DERNIER message utilisateur est « OUI » (ou « oui », « ok », « valide », « go »), tu DOIS :\n\n  1. NE relance PAS budget_engine. La simulation est déjà cachée serveur-side.\n  2. NE consulte PAS l'historique conversationnel — la cache pending_commit.php est la seule source de vérité.\n  3. Appelle UN SEUL outil : committer, avec UN PAYLOAD MINIMAL :\n         { \"confirmation\": \"OUI\" }\n     RIEN d'autre. Pas de operations, pas de annee, pas de finance_data. Le tool récupère TOUT depuis la cache.\n  4. Lis le résultat retourné par committer :\n     - Si status === 'ok' et committed === true : confirme à l'utilisateur en HTML, en listant les operations appliquées (le tool te les retourne).\n     - Si erreur 'Aucune simulation en attente' : la cache a expiré. Réponds : « <b>⚠️ Plus de simulation en cache (TTL 30min dépassé).</b><br>Reformulez la modification, je referai la simulation. » et arrête.\n  5. C'est UN SEUL appel d'outil dans ce tour, suivi de ta réponse finale en HTML.\n\n═══ §8 — HISTORIQUE INJECTÉ DANS LE PROMPT ═══\nL'historique conversationnel récent (max 8 derniers échanges sains) t'est fourni en HAUT du message utilisateur sous le bloc « HISTORIQUE RÉCENT ». Aucune mémoire LangChain automatique : tout est dans le prompt, en texte brut, sans tool_calls. Tu te bases UNIQUEMENT sur ce bloc + la QUESTION ACTUELLE. Si une demande référence un échange plus ancien que les 8 derniers, dis : « Je n'ai pas accès à cet échange, peux-tu me redonner le contexte ? »\n\n═══ OBJECTIF ═══\nDélivrer une analyse dense et 3 recommandations chiffrées par tour, en HTML brut conforme."
        }
      },
      "id": "node-agent",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -120,
        20
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO chat_history (session_id, message, created_at) VALUES\n  ($1, jsonb_build_object('type','human','data',jsonb_build_object('content',$2::text,'additional_kwargs','{}'::jsonb,'response_metadata','{}'::jsonb)), NOW()),\n  ($1, jsonb_build_object('type','ai','data',jsonb_build_object('content',$3::text,'additional_kwargs','{}'::jsonb,'response_metadata','{}'::jsonb,'tool_calls','[]'::jsonb,'invalid_tool_calls','[]'::jsonb)), NOW())",
        "options": {
          "queryReplacement": "={{ $('Build Agent Input').first().json.session_id }},{{ $('Build Agent Input').first().json.question }},{{ $json.output }}"
        }
      },
      "id": "node-save-conv",
      "name": "Save Conversation",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        60,
        20
      ],
      "credentials": {
        "postgres": {
          "id": "7cQfM9fXdo0Pso5h",
          "name": "charif_finance_db"
        }
      },
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {
          "temperature": 0.2,
          "maxOutputTokens": 16384
        }
      },
      "id": "node-llm",
      "name": "Gemini 2.5 Pro LLM",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -240,
        260
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "mngXZBBjSSHswcb5",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "name": "finance_rag",
        "description": "Recherche sémantique dans la base de connaissance financière (table finance_vectors). Entrée : string (la requête). Sortie : extraits pertinents. Utilise-le pour retrouver règles, historique de décisions, patterns budgétaires.",
        "topK": 5
      },
      "id": "node-tool-rag",
      "name": "Tool: Finance RAG",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        120,
        260
      ]
    },
    {
      "parameters": {
        "mode": "retrieve",
        "tableName": "finance_vectors",
        "topK": 5,
        "options": {}
      },
      "id": "node-vectorstore-pg",
      "name": "Postgres Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1,
      "position": [
        120,
        460
      ],
      "credentials": {
        "postgres": {
          "id": "7cQfM9fXdo0Pso5h",
          "name": "charif_finance_db"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "id": "node-embeddings",
      "name": "Gemini Embeddings",
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -40,
        620
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "mngXZBBjSSHswcb5",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "name": "budget_engine",
        "description": "Moteur de simulation budgétaire (delta Avant/Après).\n\nParamètre :\n{ \"simulate\": true, \"operations\": [...], \"annee\": 2026 }\n\nTYPES D'OPÉRATIONS SUPPORTÉS (les SEULS reconnus) :\n\n  ── REVENUS ──\n  { type:\"set_revenu\",            key:\"salaire\",        base:19500 }\n  { type:\"add_revenu\",             key:\"freelance\",     label:\"Freelance\", base:3000 }\n  { type:\"remove_revenu\",          key:\"freelance\" }\n  { type:\"rename_revenu\",          key:\"salaire\",        label:\"Salaire net\" }\n  { type:\"add_revenu_exception\",   key:\"appart\",         moisDebut:1, moisFin:4, nouvelleValeur:0 }\n  { type:\"remove_revenu_exception\",key:\"appart\",         id:1775546659428 }\n\n  ── CHARGES FIXES ──\n  { type:\"set_charge_fixe\",            key:\"loyer\",      valeur:4500 }\n  { type:\"add_charge_fixe\",             key:\"creditAuto\",label:\"Crédit Auto\", valeur:1800 }\n  { type:\"remove_charge_fixe\",          key:\"creditAuto\" }\n  { type:\"rename_charge_fixe\",          key:\"creditImmo\",label:\"Crédit Immo + Assur\" }\n  { type:\"add_charge_fixe_exception\",   key:\"creditStudio\", moisDebut:1, moisFin:6, nouvelleValeur:0 }\n  { type:\"remove_charge_fixe_exception\",key:\"creditStudio\", id:1775548016229 }\n\n  ── CHARGES VARIABLES ──\n  { type:\"set_charge_variable\",         key:\"alimentation\", valeur:1200 }\n  { type:\"add_charge_variable\",          key:\"loisirs\",     label:\"Loisirs\", valeur:500, periode:\"mois\" }\n  { type:\"remove_charge_variable\",       key:\"loisirs\" }\n  { type:\"set_charge_variable_periode\",  key:\"sorties\",     periode:\"mois\" }   // ou \"semaine\"\n\n  ── ÉPARGNE ──\n  { type:\"set_epargne\",     key:\"urgence\", valeur:2000 }\n  { type:\"add_epargne\",      key:\"vacances\",label:\"Vacances\", valeur:500 }\n  { type:\"remove_epargne\",   key:\"vacances\" }\n\n  ── DÉPENSES PONCTUELLES ──\n  { type:\"add_depense_ponctuelle\",    annee:2026, mois:6, nom:\"Notaire\", montant:25000 }\n  { type:\"remove_depense_ponctuelle\", annee:2027, nom:\"Voyage en Espagne\" }   // ou { id:1775546491630 }\n  { type:\"update_depense_ponctuelle\", id:1775546491630, montant:30000, mois:10 }\n\n  ── SOLDES INITIAUX (pas d'année) ──\n  { type:\"set_solde_initial\", key:\"courant\",  valeur:97000 }\n  { type:\"set_solde_initial\", key:\"urgence\",  valeur:5000 }\n  // clés autorisées : courant, urgence, lt, bourse, moisActuel, anneeActuelle, semainesRestantes\n\n  ── ANNÉES (pas d'année cible — on opère sur la structure) ──\n  { type:\"clone_annee\",  depuis:2026, vers:2027 }   // remet à zéro les \"paye\" et reattribue depensesIrregulieres\n  { type:\"delete_annee\", annee:2027 }\n\n  ── PROJET STUDIO ──\n  { type:\"set_projet_studio\", annee:2026, key:\"travaux\",     valeur:90000 }\n  // clés autorisées : prixM2, surface, avance, taux, duree, taxSyndic, taxCouvertCredit, surplusCredit, assuranceMensuelle, travaux, epargneDispo\n\nN'INVENTE AUCUN AUTRE TYPE. Si une demande utilisateur ne matche aucun type, explique-le au lieu d'inventer.",
        "language": "javaScript",
        "jsCode": "// ════════════════════════════════════════════════════════\n// BUDGET ENGINE v3 (stateful) — simulate + cache pending state\n// FIX v13.5 : après une simulation réussie, on POSTE le finance_data\n// modifié vers pending_commit.php (clé = session_id). Le Committer le\n// lira ensuite sans avoir besoin de l'historique conversationnel.\n// ════════════════════════════════════════════════════════\nlet input;\ntry {\n  input = typeof query === 'string' ? JSON.parse(query) : query;\n} catch (e) {\n  return JSON.stringify({ error: \"JSON d'entrée invalide : \" + e.message });\n}\n\nconst simulate = input.simulate !== false;\nconst operations = Array.isArray(input.operations) ? input.operations : [];\nconst anneeTarget = Number(input.annee) || new Date().getFullYear();\n\n// Récupère le contexte préparé par Build Agent Input (qui vient de Normalize Input)\nlet normalized;\ntry {\n  normalized = $('Build Agent Input').first().json;\n} catch (e) {\n  try { normalized = $('Normalize Input').first().json; }\n  catch (e2) { return JSON.stringify({ error: \"Contexte Normalize/Build introuvable\" }); }\n}\nconst session_id = normalized.session_id;\nconst financeData = normalized.finance_data ? JSON.parse(JSON.stringify(normalized.finance_data)) : null;\n\nif (!financeData) {\n  return JSON.stringify({ error: \"Aucun finance_data dans la requête actuelle. Recharge la page web ou retape ta question Telegram.\" });\n}\n\nconst snapshot = (d, annee) => {\n  const y = d.donneesAnnuelles && d.donneesAnnuelles[annee];\n  if (!y) return null;\n  const sum = obj => Object.values(obj || {}).reduce((s, v) => s + (Number(v && v.valeur) || Number(v && v.base) || 0), 0);\n  return {\n    revenus: sum(y.revenus),\n    fixes: sum(y.chargesFixes),\n    variables: sum(y.chargesVariables),\n    epargne: sum(y.epargne),\n    depensesIrreg: (y.depensesIrregulieres || []).length\n  };\n};\n\nfunction applyOp(financeData, op, anneeTarget) {\n  const a = Number(op.annee || anneeTarget);\n  const y = financeData.donneesAnnuelles && financeData.donneesAnnuelles[a];\n  const log = { op: op.type };\n  try {\n    switch (op.type) {\n      case 'set_revenu': {\n        if (!y || !y.revenus || !y.revenus[op.key]) { log.status = 'skip'; log.reason = 'année ou clé absente'; break; }\n        const old = y.revenus[op.key].base;\n        y.revenus[op.key].base = Number(op.base);\n        log.key = op.key; log.avant = old; log.apres = Number(op.base); break;\n      }\n      case 'add_revenu': {\n        if (!y) { log.status = 'skip'; log.reason = 'année absente'; break; }\n        if (!y.revenus) y.revenus = {};\n        if (y.revenus[op.key]) { log.status = 'skip'; log.reason = 'clé existe déjà'; break; }\n        y.revenus[op.key] = { label: String(op.label || op.key), base: Number(op.base || 0), showExceptions: false, exceptions: [] };\n        log.key = op.key; log.created = true; break;\n      }\n      case 'remove_revenu': {\n        if (!y || !y.revenus || !y.revenus[op.key]) { log.status = 'skip'; log.reason = 'clé absente'; break; }\n        delete y.revenus[op.key]; log.key = op.key; log.removed = true; break;\n      }\n      case 'rename_revenu': {\n        if (!y || !y.revenus || !y.revenus[op.key]) { log.status = 'skip'; log.reason = 'clé absente'; break; }\n        const old = y.revenus[op.key].label;\n        y.revenus[op.key].label = String(op.label);\n        log.key = op.key; log.avant = old; log.apres = String(op.label); break;\n      }\n      case 'add_revenu_exception': {\n        if (!y || !y.revenus || !y.revenus[op.key]) { log.status = 'skip'; log.reason = 'clé absente'; break; }\n        if (!Array.isArray(y.revenus[op.key].exceptions)) y.revenus[op.key].exceptions = [];\n        const id = Date.now() + Math.floor(Math.random() * 1000);\n        y.revenus[op.key].exceptions.push({ id, moisDebut: Number(op.moisDebut), moisFin: Number(op.moisFin), nouvelleValeur: Number(op.nouvelleValeur) });\n        y.revenus[op.key].showExceptions = true;\n        log.key = op.key; log.id = id; break;\n      }\n      case 'remove_revenu_exception': {\n        if (!y || !y.revenus || !y.revenus[op.key]) { log.status = 'skip'; log.reason = 'clé absente'; break; }\n        const before = (y.revenus[op.key].exceptions || []).length;\n        y.revenus[op.key].exceptions = (y.revenus[op.key].exceptions || []).filter(e => Number(e.id) !== Number(op.id));\n        log.key = op.key; log.supprimees = before - y.revenus[op.key].exceptions.length; break;\n      }\n      case 'set_charge_fixe': {\n        if (!y || !y.chargesFixes || !y.chargesFixes[op.key]) { log.status = 'skip'; log.reason = 'année ou clé absente'; break; }\n        const old = y.chargesFixes[op.key].valeur;\n        y.chargesFixes[op.key].valeur = Number(op.valeur);\n        log.key = op.key; log.avant = old; log.apres = Number(op.valeur); break;\n      }\n      case 'add_charge_fixe': {\n        if (!y) { log.status = 'skip'; log.reason = 'année absente'; break; }\n        if (!y.chargesFixes) y.chargesFixes = {};\n        if (y.chargesFixes[op.key]) { log.status = 'skip'; log.reason = 'clé existe déjà'; break; }\n        y.chargesFixes[op.key] = { label: String(op.label || op.key), valeur: Number(op.valeur || 0), showExceptions: false, exceptions: [], montantPaye: 0, paye: false };\n        log.key = op.key; log.created = true; break;\n      }\n      case 'remove_charge_fixe': {\n        if (!y || !y.chargesFixes || !y.chargesFixes[op.key]) { log.status = 'skip'; log.reason = 'clé absente'; break; }\n        delete y.chargesFixes[op.key]; log.key = op.key; log.removed = true; break;\n      }\n      case 'rename_charge_fixe': {\n        if (!y || !y.chargesFixes || !y.chargesFixes[op.key]) { log.status = 'skip'; log.reason = 'clé absente'; break; }\n        const old = y.chargesFixes[op.key].label;\n        y.chargesFixes[op.key].label = String(op.label);\n        log.key = op.key; log.avant = old; log.apres = String(op.label); break;\n      }\n      case 'add_charge_fixe_exception': {\n        if (!y || !y.chargesFixes || !y.chargesFixes[op.key]) { log.status = 'skip'; log.reason = 'clé absente'; break; }\n        if (!Array.isArray(y.chargesFixes[op.key].exceptions)) y.chargesFixes[op.key].exceptions = [];\n        const id = Date.now() + Math.floor(Math.random() * 1000);\n        y.chargesFixes[op.key].exceptions.push({ id, moisDebut: Number(op.moisDebut), moisFin: Number(op.moisFin), nouvelleValeur: Number(op.nouvelleValeur) });\n        y.chargesFixes[op.key].showExceptions = true;\n        log.key = op.key; log.id = id; break;\n      }\n      case 'remove_charge_fixe_exception': {\n        if (!y || !y.chargesFixes || !y.chargesFixes[op.key]) { log.status = 'skip'; log.reason = 'clé absente'; break; }\n        const before = (y.chargesFixes[op.key].exceptions || []).length;\n        y.chargesFixes[op.key].exceptions = (y.chargesFixes[op.key].exceptions || []).filter(e => Number(e.id) !== Number(op.id));\n        log.key = op.key; log.supprimees = before - y.chargesFixes[op.key].exceptions.length; break;\n      }\n      case 'set_charge_variable': {\n        if (!y || !y.chargesVariables || !y.chargesVariables[op.key]) { log.status = 'skip'; log.reason = 'année ou clé absente'; break; }\n        const old = y.chargesVariables[op.key].valeur;\n        y.chargesVariables[op.key].valeur = Number(op.valeur);\n        log.key = op.key; log.avant = old; log.apres = Number(op.valeur); break;\n      }\n      case 'add_charge_variable': {\n        if (!y) { log.status = 'skip'; log.reason = 'année absente'; break; }\n        if (!y.chargesVariables) y.chargesVariables = {};\n        if (y.chargesVariables[op.key]) { log.status = 'skip'; log.reason = 'clé existe déjà'; break; }\n        const periode = (op.periode === 'semaine' || op.periode === 'mois') ? op.periode : 'mois';\n        y.chargesVariables[op.key] = { label: String(op.label || op.key), valeur: Number(op.valeur || 0), periode, showDetails: false, details: [] };\n        log.key = op.key; log.created = true; break;\n      }\n      case 'remove_charge_variable': {\n        if (!y || !y.chargesVariables || !y.chargesVariables[op.key]) { log.status = 'skip'; log.reason = 'clé absente'; break; }\n        delete y.chargesVariables[op.key]; log.key = op.key; log.removed = true; break;\n      }\n      case 'set_charge_variable_periode': {\n        if (!y || !y.chargesVariables || !y.chargesVariables[op.key]) { log.status = 'skip'; log.reason = 'clé absente'; break; }\n        if (op.periode !== 'mois' && op.periode !== 'semaine') { log.status = 'skip'; log.reason = 'periode invalide'; break; }\n        const old = y.chargesVariables[op.key].periode;\n        y.chargesVariables[op.key].periode = op.periode;\n        log.key = op.key; log.avant = old; log.apres = op.periode; break;\n      }\n      case 'set_epargne': {\n        if (!y || !y.epargne || !y.epargne[op.key]) { log.status = 'skip'; log.reason = 'année ou clé absente'; break; }\n        const old = y.epargne[op.key].valeur;\n        y.epargne[op.key].valeur = Number(op.valeur);\n        log.key = op.key; log.avant = old; log.apres = Number(op.valeur); break;\n      }\n      case 'add_epargne': {\n        if (!y) { log.status = 'skip'; log.reason = 'année absente'; break; }\n        if (!y.epargne) y.epargne = {};\n        if (y.epargne[op.key]) { log.status = 'skip'; log.reason = 'clé existe déjà'; break; }\n        y.epargne[op.key] = { label: String(op.label || op.key), valeur: Number(op.valeur || 0) };\n        log.key = op.key; log.created = true; break;\n      }\n      case 'remove_epargne': {\n        if (!y || !y.epargne || !y.epargne[op.key]) { log.status = 'skip'; log.reason = 'clé absente'; break; }\n        delete y.epargne[op.key]; log.key = op.key; log.removed = true; break;\n      }\n      case 'add_depense_ponctuelle': {\n        if (!y) { log.status = 'skip'; log.reason = 'année absente'; break; }\n        if (!Array.isArray(y.depensesIrregulieres)) y.depensesIrregulieres = [];\n        const id = Date.now() + Math.floor(Math.random() * 1000);\n        y.depensesIrregulieres.push({ id, mois: Number(op.mois), annee: a, nom: String(op.nom), montant: Number(op.montant), paye: false, montantPaye: 0 });\n        log.id = id; log.nom = op.nom; log.montant = Number(op.montant); break;\n      }\n      case 'remove_depense_ponctuelle': {\n        if (!y) { log.status = 'skip'; log.reason = 'année absente'; break; }\n        if (!Array.isArray(y.depensesIrregulieres)) y.depensesIrregulieres = [];\n        const before = y.depensesIrregulieres.length;\n        const byId = op.id != null;\n        const byName = op.nom != null;\n        y.depensesIrregulieres = y.depensesIrregulieres.filter(d => {\n          if (byId && Number(d.id) === Number(op.id)) return false;\n          if (byName && String(d.nom).toLowerCase().trim() === String(op.nom).toLowerCase().trim()) return false;\n          return true;\n        });\n        log.critere = byId ? ('id=' + op.id) : ('nom=' + op.nom);\n        log.supprimees = before - y.depensesIrregulieres.length; break;\n      }\n      case 'update_depense_ponctuelle': {\n        if (!y || !Array.isArray(y.depensesIrregulieres)) { log.status = 'skip'; log.reason = 'année absente'; break; }\n        const target = y.depensesIrregulieres.find(d => Number(d.id) === Number(op.id));\n        if (!target) { log.status = 'skip'; log.reason = 'id introuvable'; break; }\n        if (op.montant != null) target.montant = Number(op.montant);\n        if (op.mois != null) target.mois = Number(op.mois);\n        if (op.annee != null) target.annee = Number(op.annee);\n        if (op.nom != null) target.nom = String(op.nom);\n        log.id = op.id; log.updated = true; break;\n      }\n      case 'set_solde_initial': {\n        if (!financeData.soldesInitiaux) financeData.soldesInitiaux = {};\n        const allowed = ['courant','urgence','lt','bourse','moisActuel','anneeActuelle','semainesRestantes'];\n        if (!allowed.includes(op.key)) { log.status = 'skip'; log.reason = 'clé non autorisée'; break; }\n        const old = financeData.soldesInitiaux[op.key];\n        financeData.soldesInitiaux[op.key] = Number(op.valeur);\n        log.key = op.key; log.avant = old; log.apres = Number(op.valeur); break;\n      }\n      case 'clone_annee': {\n        const src = financeData.donneesAnnuelles && financeData.donneesAnnuelles[op.depuis];\n        if (!src) { log.status = 'skip'; log.reason = 'année source absente'; break; }\n        if (financeData.donneesAnnuelles[op.vers]) { log.status = 'skip'; log.reason = 'année cible existe déjà'; break; }\n        const cloned = JSON.parse(JSON.stringify(src));\n        Object.values(cloned.chargesFixes || {}).forEach(f => { f.paye = false; f.montantPaye = 0; });\n        Object.values(cloned.chargesVariables || {}).forEach(c => { if (c.details) c.details.forEach(d => { d.paye = false; d.montantPaye = 0; }); });\n        (cloned.depensesIrregulieres || []).forEach(d => { d.paye = false; d.montantPaye = 0; d.annee = Number(op.vers); d.id = Date.now() + Math.floor(Math.random() * 1000); });\n        financeData.donneesAnnuelles[op.vers] = cloned;\n        log.depuis = op.depuis; log.vers = op.vers; log.created = true; break;\n      }\n      case 'delete_annee': {\n        if (!financeData.donneesAnnuelles[op.annee]) { log.status = 'skip'; log.reason = 'année absente'; break; }\n        delete financeData.donneesAnnuelles[op.annee];\n        log.annee = op.annee; log.removed = true; break;\n      }\n      case 'set_projet_studio': {\n        if (!y) { log.status = 'skip'; log.reason = 'année absente'; break; }\n        if (!y.projetStudio) y.projetStudio = {};\n        const allowed = ['prixM2','surface','avance','taux','duree','taxSyndic','taxCouvertCredit','surplusCredit','assuranceMensuelle','travaux','epargneDispo'];\n        if (!allowed.includes(op.key)) { log.status = 'skip'; log.reason = 'champ non autorisé'; break; }\n        const old = y.projetStudio[op.key];\n        y.projetStudio[op.key] = Number(op.valeur);\n        log.key = op.key; log.avant = old; log.apres = Number(op.valeur); break;\n      }\n      default:\n        log.status = 'skip'; log.reason = 'type inconnu: ' + op.type;\n    }\n  } catch (e) {\n    log.status = 'error'; log.reason = e.message;\n  }\n  return log;\n}\n\nconst before = snapshot(financeData, anneeTarget);\nconst log = [];\nfor (const op of operations) {\n  log.push(applyOp(financeData, op, anneeTarget));\n}\nconst after = snapshot(financeData, anneeTarget);\n\nconst valid = financeData.donneesAnnuelles && typeof financeData.donneesAnnuelles === 'object' &&\n              financeData.soldesInitiaux && typeof financeData.soldesInitiaux === 'object';\n\nconst hasChanges = log.some(l => !l.status || (l.status !== 'skip' && l.status !== 'error'));\n\n// ── STATEFUL CACHE : si simulation valide ET au moins une op effective,\n//    on POSTE l'état simulé pour que le Committer le retrouve.\nlet pending_saved = false;\nlet pending_error = null;\nif (simulate && valid && hasChanges && session_id) {\n  try {\n    const resp = await this.helpers.httpRequest({\n      method: 'POST',\n      url: 'https://n8n.beau.ink/finance/pending_commit.php',\n      body: {\n        session_id,\n        annee: anneeTarget,\n        operations,\n        finance_data: financeData\n      },\n      json: true,\n      timeout: 10000\n    });\n    pending_saved = !!(resp && resp.status === 'ok');\n  } catch (e) {\n    pending_error = e.message;\n  }\n}\n\nreturn JSON.stringify({\n  mode: simulate ? 'SIMULATION' : 'APPLY',\n  valid,\n  annee: anneeTarget,\n  avant: before,\n  apres: after,\n  delta: before && after ? {\n    revenus: after.revenus - before.revenus,\n    fixes: after.fixes - before.fixes,\n    variables: after.variables - before.variables,\n    epargne: after.epargne - before.epargne\n  } : null,\n  operations_appliquees: log,\n  pending_saved,\n  pending_error,\n  pending_session_id: session_id || null\n}, null, 2);"
      },
      "id": "node-tool-budget",
      "name": "Tool: Budget Engine",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.2,
      "position": [
        320,
        260
      ]
    },
    {
      "parameters": {
        "name": "committer",
        "description": "Persiste les modifications budgétaires sur le VPS. ⚠️ N'appeler QUE si l'utilisateur a tapé 'OUI' (ou 'ok' / 'valide') dans son DERNIER message.\n\nParamètre MINIMAL :\n{ \"confirmation\": \"OUI\" }\n\nLe Committer récupère AUTOMATIQUEMENT la dernière simulation en attente (cachée serveur-side dans pending_commit.php par Budget Engine au tour précédent) et l'applique. Tu n'as PAS besoin de re-passer les operations — elles sont déjà cachées.\n\nSi aucune simulation n'est en attente, le tool renverra une erreur explicite : demande alors à l'utilisateur de reformuler sa modification pour relancer Budget Engine.",
        "language": "javaScript",
        "jsCode": "// ════════════════════════════════════════════════════════\n// COMMITTER v4 (stateful) — lit pending_commit.php puis save_data.php\n// FIX v13.5 : ne dépend PLUS de l'historique conversationnel.\n// Workflow :\n//   1. Vérifie confirmation === \"OUI\"\n//   2. GET pending_commit.php?session_id=X\n//   3. POST le finance_data récupéré vers save_data.php\n//   4. DELETE pending_commit.php?session_id=X\n// ════════════════════════════════════════════════════════\nlet input;\ntry {\n  input = typeof query === 'string' ? JSON.parse(query) : query;\n} catch (e) {\n  return JSON.stringify({ error: \"JSON invalide : \" + e.message });\n}\n\n// ── GARDE 1 : confirmation = \"OUI\" ──\nif (!input.confirmation || String(input.confirmation).toUpperCase().trim() !== 'OUI') {\n  return JSON.stringify({ error: 'REFUS : le paramètre confirmation doit être \"OUI\". Demande à l\\'utilisateur de taper OUI.' });\n}\n\n// ── Récupère session_id depuis Build Agent Input (ou Normalize Input) ──\nlet session_id = null;\ntry { session_id = $('Build Agent Input').first().json.session_id; } catch (e) {}\nif (!session_id) {\n  try { session_id = $('Normalize Input').first().json.session_id; } catch (e) {}\n}\nif (!session_id) {\n  return JSON.stringify({ error: 'session_id introuvable dans le contexte' });\n}\n\n// ── GARDE 2 : dernier message utilisateur contient \"OUI\" ──\nlet lastUserMsg = '';\ntry { lastUserMsg = String($('Normalize Input').first().json.question || '').toUpperCase(); } catch (e) {}\nif (!/\\bOUI\\b|\\bOK\\b|\\bVALIDE\\b|\\bGO\\b/.test(lastUserMsg)) {\n  return JSON.stringify({ error: 'REFUS : le dernier message utilisateur ne contient pas OUI/OK/VALIDE. Demande confirmation explicite.' });\n}\n\nconst PENDING_URL = 'https://n8n.beau.ink/finance/pending_commit.php';\nconst SAVE_URL    = 'https://n8n.beau.ink/finance/save_data.php';\n\n// ── 1. Récupère le pending depuis le cache serveur ──\nlet pending;\ntry {\n  pending = await this.helpers.httpRequest({\n    method: 'GET',\n    url: PENDING_URL + '?session_id=' + encodeURIComponent(session_id),\n    json: true,\n    timeout: 10000\n  });\n} catch (e) {\n  return JSON.stringify({\n    error: 'Aucune simulation en attente. Demande à l\\'utilisateur de reformuler sa modification (ex : \"baisse le loyer à 4500\"), je referai la simulation puis tu pourras valider par OUI.',\n    detail: e.message,\n    session_id\n  });\n}\n\nif (!pending || !pending.finance_data || !pending.finance_data.donneesAnnuelles) {\n  return JSON.stringify({\n    error: 'Pending récupéré mais finance_data invalide. Demande à l\\'utilisateur de relancer la simulation.',\n    session_id,\n    pending_keys: pending ? Object.keys(pending) : null\n  });\n}\n\nconst financeData = pending.finance_data;\nconst operations = pending.operations || [];\nconst annee = pending.annee;\n\n// ── 2. POST vers save_data.php (commit officiel) ──\nlet saveResp;\ntry {\n  saveResp = await this.helpers.httpRequest({\n    method: 'POST',\n    url: SAVE_URL,\n    body: financeData,\n    json: true,\n    headers: { 'Content-Type': 'application/json' },\n    timeout: 15000\n  });\n} catch (e) {\n  return JSON.stringify({\n    error: 'Échec écriture save_data.php',\n    detail: e.message,\n    session_id,\n    pending_preserved: true\n  });\n}\n\n// ── 3. DELETE pending (cleanup, idempotent) ──\nlet pendingDeleted = false;\ntry {\n  const delResp = await this.helpers.httpRequest({\n    method: 'DELETE',\n    url: PENDING_URL + '?session_id=' + encodeURIComponent(session_id),\n    json: true,\n    timeout: 5000\n  });\n  pendingDeleted = !!(delResp && delResp.status === 'ok');\n} catch (e) {\n  // best effort, le pending expirera tout seul après 30 min\n}\n\nreturn JSON.stringify({\n  status: 'ok',\n  committed: true,\n  session_id,\n  annee,\n  operations_count: operations.length,\n  operations: operations,\n  pending_deleted: pendingDeleted,\n  server_response: saveResp\n});"
      },
      "id": "node-tool-commit",
      "name": "Tool: Committer",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.2,
      "position": [
        520,
        260
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Telegram Trigger').isExecuted }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "outputKey": "telegram"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook CFO Web').isExecuted }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "outputKey": "web"
            }
          ]
        },
        "options": {}
      },
      "id": "node-switch",
      "name": "Route Response",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        180,
        20
      ]
    },
    {
      "parameters": {
        "jsCode": "// ════════════════════════════════════════════════════════\n// FORMAT FOR TELEGRAM v13.4 — convertit HTML riche → texte Telegram\n// FIX : lit la sortie DIRECTEMENT depuis AI Agent (pas $input qui contient\n//        le retour de Save Conversation = INSERT Postgres = vide d'output).\n// Telegram parse_mode=HTML supporte uniquement :\n//   <b>, <strong>, <i>, <em>, <u>, <s>, <code>, <pre>, <a href=\"\">\n// ════════════════════════════════════════════════════════\nlet html = '';\ntry {\n  const agentOut = $('AI Agent').first().json;\n  html = agentOut.output || agentOut.text || agentOut.response || '';\n} catch (e) {\n  html = '';\n}\n\nif (!html) {\n  // Fallback ultime : tente de lire depuis $input si jamais l'agent n'est pas accessible\n  try {\n    const fallback = $input.first().json;\n    html = fallback.output || fallback.text || '⚠️ Aucune réponse générée par l\\'agent.';\n  } catch (e) {\n    html = '⚠️ Aucune réponse générée par l\\'agent.';\n  }\n}\n\nif (typeof html !== 'string') html = String(html);\n\nconst text = html\n  // Sauts de ligne\n  .replace(/<br\\s*\\/?>/gi, '\\n')\n  .replace(/<\\/p>\\s*<p[^>]*>/gi, '\\n\\n')\n  .replace(/<\\/?p[^>]*>/gi, '')\n  // Listes\n  .replace(/<\\/li>/gi, '\\n')\n  .replace(/<li[^>]*>/gi, '• ')\n  .replace(/<\\/?ul[^>]*>/gi, '\\n')\n  .replace(/<\\/?ol[^>]*>/gi, '\\n')\n  // Séparateurs\n  .replace(/<hr\\s*\\/?>/gi, '\\n———\\n')\n  // Spans (couleurs) : on garde le contenu, on supprime les balises\n  .replace(/<\\/?span[^>]*>/gi, '')\n  .replace(/<\\/?div[^>]*>/gi, '\\n')\n  // Normalise <strong>→<b> et <em>→<i> (Telegram supporte les 2 mais on canonise)\n  .replace(/<strong>/gi, '<b>').replace(/<\\/strong>/gi, '</b>')\n  .replace(/<em>/gi, '<i>').replace(/<\\/em>/gi, '</i>')\n  // Strip toutes les autres balises non supportées par Telegram\n  .replace(/<(?!\\/?(b|i|u|s|code|pre|a)\\b)[^>]+>/gi, '')\n  // Décode entités HTML courantes\n  .replace(/&nbsp;/g, ' ')\n  .replace(/&amp;/g, '&')\n  .replace(/&lt;/g, '<')\n  .replace(/&gt;/g, '>')\n  .replace(/&quot;/g, '\"')\n  .replace(/&#39;/g, \"'\")\n  // Nettoie multi-lignes vides\n  .replace(/\\n{3,}/g, '\\n\\n')\n  .trim();\n\nreturn [{\n  json: {\n    telegram_text: text,\n    chat_id: $('Telegram Trigger').first().json.message.chat.id\n  }\n}];"
      },
      "id": "node-format-telegram",
      "name": "Format for Telegram",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        340,
        -120
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').first().json.message.chat.id }}",
        "text": "={{ $json.telegram_text }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "node-send-telegram",
      "name": "Send Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        560,
        -120
      ],
      "credentials": {
        "telegramApi": {
          "id": "CFOV2TelegramAPI",
          "name": "CFO V2 Telegram API"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"html\": $('AI Agent').first().json.output, \"session_id\": $('Normalize Input').first().json.session_id } }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              },
              {
                "name": "Content-Type",
                "value": "application/json; charset=utf-8"
              }
            ]
          }
        }
      },
      "id": "node-respond-webhook",
      "name": "Respond Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        440,
        160
      ]
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook CFO Web": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Load Sane History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Save Conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini 2.5 Pro LLM": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Tool: Finance RAG",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Finance RAG": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Tool: Finance RAG",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Embeddings": {
      "ai_embedding": [
        [
          {
            "node": "Postgres Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Budget Engine": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Committer": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Route Response": {
      "main": [
        [
          {
            "node": "Format for Telegram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format for Telegram": {
      "main": [
        [
          {
            "node": "Send Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Sane History": {
      "main": [
        [
          {
            "node": "Build Agent Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Agent Input": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Conversation": {
      "main": [
        [
          {
            "node": "Route Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "timezone": "Africa/Casablanca"
  },
  "staticData": null,
  "tags": [
    {
      "name": "cfo"
    },
    {
      "name": "finance"
    }
  ],
  "versionId": "v13.5",
  "meta": {
    "templateCreatedBy": "Finance Master v13.5 (stateful tools — pending_commit cache)"
  },
  "active": false
}