super_agent_cfo.json
{
  "name": "Super-Agent CFO v13.0",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ]
      },
      "id": "trigger-telegram",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -680,
        -120
      ],
      "credentials": {
        "telegramApi": {
          "id": "CFOV2TelegramAPI",
          "name": "CFO V2 Telegram API"
        }
      },
      "webhookId": "super-agent-cfo-telegram"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "finance-cfo-web",
        "options": {
          "allowedOrigins": "*"
        },
        "responseMode": "responseNode"
      },
      "id": "trigger-webhook",
      "name": "Webhook CFO Web",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -680,
        160
      ],
      "webhookId": "finance-cfo-web"
    },
    {
      "parameters": {
        "jsCode": "// ════════════════════════════════════════════════════════\n// Normalisation : unifie Telegram + Webhook en 1 payload commun\n// ════════════════════════════════════════════════════════\nconst item = $input.first();\nconst src = item.json;\n\nlet source, session_id, question, finance_data, chat_id;\n\nif (src.message && src.message.chat) {\n  // ── Telegram ──\n  source = 'telegram';\n  chat_id = String(src.message.chat.id);\n  session_id = 'tg_' + chat_id;\n  question = (src.message.text || '').trim();\n  finance_data = null; // chargé via RAG/outil si besoin\n} else if (src.body || src.question || src.session_id) {\n  // ── Webhook Web ──\n  const body = src.body || src;\n  source = 'web';\n  session_id = body.session_id || ('web_' + Date.now());\n  chat_id = null;\n  question = (body.question || '').trim();\n  finance_data = body.finance_data || null;\n} else {\n  throw new Error('Payload inconnu : impossible de normaliser.');\n}\n\nif (!question) {\n  throw new Error('Question vide.');\n}\n\nreturn [{\n  json: {\n    source,\n    session_id,\n    chat_id,\n    question,\n    finance_data_json: finance_data ? JSON.stringify(finance_data) : null,\n    finance_data\n  }\n}];"
      },
      "id": "node-normalize",
      "name": "Normalize Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -420,
        20
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.question }}\n\n---\nCONTEXTE FINANCIER (JSON) :\n{{ $json.finance_data_json || 'Non fourni dans cette requête — utilise l\\'outil finance_rag pour retrouver le contexte.' }}",
        "options": {
          "systemMessage": "Tu es le CFO personnel de Mohamed, responsable du pilotage budgétaire du foyer (Maroc, devise DH).\n\n═══ RÈGLE ABSOLUE #0 — N'UTILISE AUCUN OUTIL SI INUTILE ═══\nSi la question de l'utilisateur (par exemple : « diagnostic », « analyse », « bilan », « projection », « explique-moi », « que penses-tu de... ») ne requiert AUCUNE modification budgétaire NI recherche dans le passé, tu N'UTILISES AUCUN OUTIL. Tu lis simplement le bloc CONTEXTE FINANCIER (JSON) fourni dans le message utilisateur et tu génères directement ton analyse.\n\nN'appelle un outil QUE dans ces 3 cas précis :\n  • finance_rag → uniquement si l'utilisateur demande explicitement un historique, une règle métier passée, ou un précédent (« qu'avons-nous décidé en... », « rappelle-moi la règle de... »).\n  • budget_engine → uniquement si l'utilisateur demande explicitement de simuler ou modifier un poste (« change le loyer à... », « simule si... »).\n  • committer → uniquement après que l'utilisateur a tapé « OUI » dans son dernier message (voir §4).\n\nDans tous les autres cas (et c'est le cas le plus fréquent : un diagnostic), tu réponds DIRECTEMENT à partir du JSON CONTEXTE FINANCIER. Ne boucle JAMAIS sur des appels d'outils inutiles.\n\n═══ RÈGLE ABSOLUE #1 — FORMAT HTML BRUT, MARKDOWN STRICTEMENT INTERDIT ═══\nTU DOIS GÉNÉRER DU HTML BRUT. L'usage du Markdown est STRICTEMENT INTERDIT. Toute réponse contenant du Markdown sera considérée comme une erreur critique cassant l'interface utilisateur.\n\nINTERDIT (jamais, sous aucun prétexte) :\n  ✗ Astérisques pour le gras : **texte** ← INTERDIT\n  ✗ Astérisques pour l'italique : *texte* ← INTERDIT\n  ✗ Dièses pour les titres : ###, ##, # ← INTERDIT\n  ✗ Tirets de liste Markdown : - item ou * item ← INTERDIT\n  ✗ Blocs de code : ```...``` ← INTERDIT\n  ✗ Liens Markdown : [texte](url) ← INTERDIT\n\nAUTORISÉ — utilise EXCLUSIVEMENT ces balises HTML :\n  ✓ <b>texte</b> pour le gras\n  ✓ <br> pour les sauts de ligne\n  ✓ <ul><li>...</li><li>...</li></ul> pour les listes\n  ✓ <span style=\"color:#059669\">texte</span> pour le vert (positif, gain, OUI)\n  ✓ <span style=\"color:#dc2626\">texte</span> pour le rouge (négatif, perte, alerte)\n  ✓ <hr> pour séparer des sections\n\nMontants TOUJOURS formatés à la française : « 12 500 DH » (espace insécable, pas de virgule milliers).\n\n═══ RÈGLE ABSOLUE #2 — RÉPONSES DENSES, ANALYTIQUES, EXHAUSTIVES ═══\nTes réponses doivent être DENSES, ANALYTIQUES et STRUCTURÉES. Pour un diagnostic, c'est un MINIMUM DE 3 PARAGRAPHES distincts. Tu fais PARLER LES CHIFFRES.\n\nStructure-type d'un diagnostic complet :\n  <b>📊 Titre du diagnostic</b><br><br>\n  <b>1. Situation actuelle</b><br>\n  Paragraphe chiffré (revenus, charges fixes, charges variables, épargne, solde net mensuel) avec ratios et %.<br><br>\n  <b>2. Analyse des risques et opportunités</b><br>\n  Paragraphe analytique : ce qui dérive, ce qui tient, points faibles, marges de manœuvre.<br><br>\n  <b>3. Recommandations chiffrées</b><br>\n  <ul><li>Action 1 chiffrée → impact en DH</li><li>Action 2 chiffrée → impact en DH</li><li>Action 3 chiffrée → impact en DH</li></ul>\n\nUne réponse de 2 lignes type « Revenus : 19 624 DH » est INACCEPTABLE. C'est un échec.\n\n═══ TON — FROID, MATHÉMATIQUE, RIGOUREUX ═══\n  • Pas d'émoticônes superflus. 1 emoji max en titre.\n  • Chiffres > opinions. Cite TOUJOURS la source (CONTEXTE FINANCIER).\n  • Si une donnée précise manque dans le CONTEXTE FINANCIER : dis-le explicitement, ne l'invente JAMAIS.\n\n═══ §3 — MODIFICATION BUDGÉTAIRE : WORKFLOW STRICT ═══\nAvant TOUTE écriture (budget_engine → committer) :\n  Étape A) Appeler budget_engine en mode simulate=true pour obtenir le delta Avant/Après.\n  Étape B) Présenter clairement :\n     <b>📊 Plan de modification</b><br>\n     <ul><li>Poste X : 1 200 DH → 900 DH (<span style=\"color:#059669\">−300 DH</span>)</li>...</ul>\n     <b>Confirmez-vous ? Tapez <span style=\"color:#059669\">OUI</span> pour exécuter.</b>\n  Étape C) ATTENDRE la réponse « OUI » (exact, insensible à la casse) de l'utilisateur dans le TOUR SUIVANT.\n  Étape D) SEULEMENT après réception de « OUI » → committer.\n\n═══ §4 — GARDE-FOU COMMITTER ═══\n  • Si l'utilisateur n'a pas écrit « OUI » dans son DERNIER message : interdiction absolue d'appeler committer.\n  • En cas de doute : ne commits PAS, redemande.\n\n═══ §5 — OUTILS DISPONIBLES (rappel) ═══\n  • finance_rag : recherche sémantique sur l'historique. À utiliser SEULEMENT sur demande explicite d'historique.\n  • budget_engine : simulateur du delta Avant/Après. Paramètre : { simulate:true, operations:[...], annee:2027 }. À utiliser SEULEMENT sur demande explicite de modification.\n  • committer : persistance VPS. Paramètre PETIT : { operations:[...], annee:2027, confirmation:\"OUI\" }. NE JAMAIS lui passer le JSON finance_data complet — il le récupère et applique les opérations en interne. Tu réutilises EXACTEMENT le même tableau `operations` que celui passé à budget_engine en simulation. À utiliser SEULEMENT après « OUI » de l'utilisateur.\n\n  TYPES D'OPÉRATIONS SUPPORTÉS (les SEULS reconnus) :\n  \n    ── REVENUS ──\n    { type:\"set_revenu\",            key:\"salaire\",        base:19500 }\n    { type:\"add_revenu\",             key:\"freelance\",     label:\"Freelance\", base:3000 }\n    { type:\"remove_revenu\",          key:\"freelance\" }\n    { type:\"rename_revenu\",          key:\"salaire\",        label:\"Salaire net\" }\n    { type:\"add_revenu_exception\",   key:\"appart\",         moisDebut:1, moisFin:4, nouvelleValeur:0 }\n    { type:\"remove_revenu_exception\",key:\"appart\",         id:1775546659428 }\n  \n    ── CHARGES FIXES ──\n    { type:\"set_charge_fixe\",            key:\"loyer\",      valeur:4500 }\n    { type:\"add_charge_fixe\",             key:\"creditAuto\",label:\"Crédit Auto\", valeur:1800 }\n    { type:\"remove_charge_fixe\",          key:\"creditAuto\" }\n    { type:\"rename_charge_fixe\",          key:\"creditImmo\",label:\"Crédit Immo + Assur\" }\n    { type:\"add_charge_fixe_exception\",   key:\"creditStudio\", moisDebut:1, moisFin:6, nouvelleValeur:0 }\n    { type:\"remove_charge_fixe_exception\",key:\"creditStudio\", id:1775548016229 }\n  \n    ── CHARGES VARIABLES ──\n    { type:\"set_charge_variable\",         key:\"alimentation\", valeur:1200 }\n    { type:\"add_charge_variable\",          key:\"loisirs\",     label:\"Loisirs\", valeur:500, periode:\"mois\" }\n    { type:\"remove_charge_variable\",       key:\"loisirs\" }\n    { type:\"set_charge_variable_periode\",  key:\"sorties\",     periode:\"mois\" }   // ou \"semaine\"\n  \n    ── ÉPARGNE ──\n    { type:\"set_epargne\",     key:\"urgence\", valeur:2000 }\n    { type:\"add_epargne\",      key:\"vacances\",label:\"Vacances\", valeur:500 }\n    { type:\"remove_epargne\",   key:\"vacances\" }\n  \n    ── DÉPENSES PONCTUELLES ──\n    { type:\"add_depense_ponctuelle\",    annee:2026, mois:6, nom:\"Notaire\", montant:25000 }\n    { type:\"remove_depense_ponctuelle\", annee:2027, nom:\"Voyage en Espagne\" }   // ou { id:1775546491630 }\n    { type:\"update_depense_ponctuelle\", id:1775546491630, montant:30000, mois:10 }\n  \n    ── SOLDES INITIAUX (pas d'année) ──\n    { type:\"set_solde_initial\", key:\"courant\",  valeur:97000 }\n    { type:\"set_solde_initial\", key:\"urgence\",  valeur:5000 }\n    // clés autorisées : courant, urgence, lt, bourse, moisActuel, anneeActuelle, semainesRestantes\n  \n    ── ANNÉES (pas d'année cible — on opère sur la structure) ──\n    { type:\"clone_annee\",  depuis:2026, vers:2027 }   // remet à zéro les \"paye\" et reattribue depensesIrregulieres\n    { type:\"delete_annee\", annee:2027 }\n  \n    ── PROJET STUDIO ──\n    { type:\"set_projet_studio\", annee:2026, key:\"travaux\",     valeur:90000 }\n    // clés autorisées : prixM2, surface, avance, taux, duree, taxSyndic, taxCouvertCredit, surplusCredit, assuranceMensuelle, travaux, epargneDispo\n  \n  N'INVENTE AUCUN AUTRE TYPE. Si une demande utilisateur ne matche aucun type, explique-le au lieu d'inventer.\n\n═══ §6 — INTERDICTIONS FINALES ═══\n  • JAMAIS inventer un chiffre.\n  • JAMAIS de Markdown (cf. §1).\n  • JAMAIS d'appel d'outil pour une question d'analyse pure (cf. §0).\n  • JAMAIS de réponse tronquée ou en 2 lignes (cf. §2).\n\n═══ OBJECTIF ═══\nDélivrer une analyse dense et 3 recommandations chiffrées par tour, en HTML brut conforme."
        }
      },
      "id": "node-agent",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -120,
        20
      ]
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {
          "temperature": 0.2,
          "maxOutputTokens": 16384
        }
      },
      "id": "node-llm",
      "name": "Gemini 2.5 Pro LLM",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -240,
        260
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "mngXZBBjSSHswcb5",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $if($('Telegram Trigger').isExecuted, $('Telegram Trigger').first().json.message.chat.id, 'charif_master_session') }}",
        "tableName": "chat_history",
        "contextWindowLength": 20
      },
      "id": "node-memory",
      "name": "Postgres Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -80,
        260
      ],
      "credentials": {
        "postgres": {
          "id": "7cQfM9fXdo0Pso5h",
          "name": "charif_finance_db"
        }
      }
    },
    {
      "parameters": {
        "name": "finance_rag",
        "description": "Recherche sémantique dans la base de connaissance financière (table finance_vectors). Entrée : string (la requête). Sortie : extraits pertinents. Utilise-le pour retrouver règles, historique de décisions, patterns budgétaires.",
        "topK": 5
      },
      "id": "node-tool-rag",
      "name": "Tool: Finance RAG",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        120,
        260
      ]
    },
    {
      "parameters": {
        "mode": "retrieve",
        "tableName": "finance_vectors",
        "topK": 5,
        "options": {}
      },
      "id": "node-vectorstore-pg",
      "name": "Postgres Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1,
      "position": [
        120,
        460
      ],
      "credentials": {
        "postgres": {
          "id": "7cQfM9fXdo0Pso5h",
          "name": "charif_finance_db"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "id": "node-embeddings",
      "name": "Gemini Embeddings",
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -40,
        620
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "mngXZBBjSSHswcb5",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "name": "budget_engine",
        "description": "Moteur de simulation budgétaire (delta Avant/Après).\n\nParamètre :\n{ \"simulate\": true, \"operations\": [...], \"annee\": 2026 }\n\nTYPES D'OPÉRATIONS SUPPORTÉS (les SEULS reconnus) :\n\n  ── REVENUS ──\n  { type:\"set_revenu\",            key:\"salaire\",        base:19500 }\n  { type:\"add_revenu\",             key:\"freelance\",     label:\"Freelance\", base:3000 }\n  { type:\"remove_revenu\",          key:\"freelance\" }\n  { type:\"rename_revenu\",          key:\"salaire\",        label:\"Salaire net\" }\n  { type:\"add_revenu_exception\",   key:\"appart\",         moisDebut:1, moisFin:4, nouvelleValeur:0 }\n  { type:\"remove_revenu_exception\",key:\"appart\",         id:1775546659428 }\n\n  ── CHARGES FIXES ──\n  { type:\"set_charge_fixe\",            key:\"loyer\",      valeur:4500 }\n  { type:\"add_charge_fixe\",             key:\"creditAuto\",label:\"Crédit Auto\", valeur:1800 }\n  { type:\"remove_charge_fixe\",          key:\"creditAuto\" }\n  { type:\"rename_charge_fixe\",          key:\"creditImmo\",label:\"Crédit Immo + Assur\" }\n  { type:\"add_charge_fixe_exception\",   key:\"creditStudio\", moisDebut:1, moisFin:6, nouvelleValeur:0 }\n  { type:\"remove_charge_fixe_exception\",key:\"creditStudio\", id:1775548016229 }\n\n  ── CHARGES VARIABLES ──\n  { type:\"set_charge_variable\",         key:\"alimentation\", valeur:1200 }\n  { type:\"add_charge_variable\",          key:\"loisirs\",     label:\"Loisirs\", valeur:500, periode:\"mois\" }\n  { type:\"remove_charge_variable\",       key:\"loisirs\" }\n  { type:\"set_charge_variable_periode\",  key:\"sorties\",     periode:\"mois\" }   // ou \"semaine\"\n\n  ── ÉPARGNE ──\n  { type:\"set_epargne\",     key:\"urgence\", valeur:2000 }\n  { type:\"add_epargne\",      key:\"vacances\",label:\"Vacances\", valeur:500 }\n  { type:\"remove_epargne\",   key:\"vacances\" }\n\n  ── DÉPENSES PONCTUELLES ──\n  { type:\"add_depense_ponctuelle\",    annee:2026, mois:6, nom:\"Notaire\", montant:25000 }\n  { type:\"remove_depense_ponctuelle\", annee:2027, nom:\"Voyage en Espagne\" }   // ou { id:1775546491630 }\n  { type:\"update_depense_ponctuelle\", id:1775546491630, montant:30000, mois:10 }\n\n  ── SOLDES INITIAUX (pas d'année) ──\n  { type:\"set_solde_initial\", key:\"courant\",  valeur:97000 }\n  { type:\"set_solde_initial\", key:\"urgence\",  valeur:5000 }\n  // clés autorisées : courant, urgence, lt, bourse, moisActuel, anneeActuelle, semainesRestantes\n\n  ── ANNÉES (pas d'année cible — on opère sur la structure) ──\n  { type:\"clone_annee\",  depuis:2026, vers:2027 }   // remet à zéro les \"paye\" et reattribue depensesIrregulieres\n  { type:\"delete_annee\", annee:2027 }\n\n  ── PROJET STUDIO ──\n  { type:\"set_projet_studio\", annee:2026, key:\"travaux\",     valeur:90000 }\n  // clés autorisées : prixM2, surface, avance, taux, duree, taxSyndic, taxCouvertCredit, surplusCredit, assuranceMensuelle, travaux, epargneDispo\n\nN'INVENTE AUCUN AUTRE TYPE. Si une demande utilisateur ne matche aucun type, explique-le au lieu d'inventer.",
        "language": "javaScript",
        "jsCode": "// ════════════════════════════════════════════════════════\n// BUDGET ENGINE v2 — simulate / mutate du JSON budget\n// Dictionnaire d'opérations étendu (24 types)\n// ════════════════════════════════════════════════════════\nlet input;\ntry {\n  input = typeof query === 'string' ? JSON.parse(query) : query;\n} catch (e) {\n  return JSON.stringify({ error: 'JSON d\\'entrée invalide : ' + e.message });\n}\n\nconst simulate = input.simulate !== false;\nconst operations = Array.isArray(input.operations) ? input.operations : [];\nconst anneeTarget = Number(input.annee) || new Date().getFullYear();\n\nconst normalized = $('Normalize Input').first().json;\nconst financeData = normalized.finance_data ? JSON.parse(JSON.stringify(normalized.finance_data)) : null;\n\nif (!financeData) {\n  return JSON.stringify({ error: 'Aucun finance_data dans la requête actuelle. L\\'utilisateur doit relancer via l\\'interface web.' });\n}\n\n// Snapshot helper\nconst snapshot = (d, annee) => {\n  const y = d.donneesAnnuelles && d.donneesAnnuelles[annee];\n  if (!y) return null;\n  const sum = obj => Object.values(obj || {}).reduce((s, v) => s + (Number(v && v.valeur) || Number(v && v.base) || 0), 0);\n  return {\n    revenus: sum(y.revenus),\n    fixes: sum(y.chargesFixes),\n    variables: sum(y.chargesVariables),\n    epargne: sum(y.epargne),\n    depensesIrreg: (y.depensesIrregulieres || []).length\n  };\n};\n\nfunction applyOp(financeData, op, anneeTarget) {\n  const a = Number(op.annee || anneeTarget);\n  const y = financeData.donneesAnnuelles && financeData.donneesAnnuelles[a];\n  const log = { op: op.type };\n  try {\n    switch (op.type) {\n      // ═══ REVENUS ═══\n      case 'set_revenu': {\n        if (!y || !y.revenus || !y.revenus[op.key]) { log.status = 'skip'; log.reason = 'année ou clé absente'; break; }\n        const old = y.revenus[op.key].base;\n        y.revenus[op.key].base = Number(op.base);\n        log.key = op.key; log.avant = old; log.apres = Number(op.base);\n        break;\n      }\n      case 'add_revenu': {\n        if (!y) { log.status = 'skip'; log.reason = 'année absente'; break; }\n        if (!y.revenus) y.revenus = {};\n        if (y.revenus[op.key]) { log.status = 'skip'; log.reason = 'clé existe déjà'; break; }\n        y.revenus[op.key] = { label: String(op.label || op.key), base: Number(op.base || 0), showExceptions: false, exceptions: [] };\n        log.key = op.key; log.created = true; break;\n      }\n      case 'remove_revenu': {\n        if (!y || !y.revenus || !y.revenus[op.key]) { log.status = 'skip'; log.reason = 'clé absente'; break; }\n        delete y.revenus[op.key]; log.key = op.key; log.removed = true; break;\n      }\n      case 'rename_revenu': {\n        if (!y || !y.revenus || !y.revenus[op.key]) { log.status = 'skip'; log.reason = 'clé absente'; break; }\n        const old = y.revenus[op.key].label;\n        y.revenus[op.key].label = String(op.label);\n        log.key = op.key; log.avant = old; log.apres = String(op.label); break;\n      }\n      case 'add_revenu_exception': {\n        if (!y || !y.revenus || !y.revenus[op.key]) { log.status = 'skip'; log.reason = 'clé absente'; break; }\n        if (!Array.isArray(y.revenus[op.key].exceptions)) y.revenus[op.key].exceptions = [];\n        const id = Date.now() + Math.floor(Math.random() * 1000);\n        y.revenus[op.key].exceptions.push({ id, moisDebut: Number(op.moisDebut), moisFin: Number(op.moisFin), nouvelleValeur: Number(op.nouvelleValeur) });\n        y.revenus[op.key].showExceptions = true;\n        log.key = op.key; log.id = id; break;\n      }\n      case 'remove_revenu_exception': {\n        if (!y || !y.revenus || !y.revenus[op.key]) { log.status = 'skip'; log.reason = 'clé absente'; break; }\n        const before = (y.revenus[op.key].exceptions || []).length;\n        y.revenus[op.key].exceptions = (y.revenus[op.key].exceptions || []).filter(e => Number(e.id) !== Number(op.id));\n        log.key = op.key; log.supprimees = before - y.revenus[op.key].exceptions.length; break;\n      }\n\n      // ═══ CHARGES FIXES ═══\n      case 'set_charge_fixe': {\n        if (!y || !y.chargesFixes || !y.chargesFixes[op.key]) { log.status = 'skip'; log.reason = 'année ou clé absente'; break; }\n        const old = y.chargesFixes[op.key].valeur;\n        y.chargesFixes[op.key].valeur = Number(op.valeur);\n        log.key = op.key; log.avant = old; log.apres = Number(op.valeur); break;\n      }\n      case 'add_charge_fixe': {\n        if (!y) { log.status = 'skip'; log.reason = 'année absente'; break; }\n        if (!y.chargesFixes) y.chargesFixes = {};\n        if (y.chargesFixes[op.key]) { log.status = 'skip'; log.reason = 'clé existe déjà'; break; }\n        y.chargesFixes[op.key] = { label: String(op.label || op.key), valeur: Number(op.valeur || 0), showExceptions: false, exceptions: [], montantPaye: 0, paye: false };\n        log.key = op.key; log.created = true; break;\n      }\n      case 'remove_charge_fixe': {\n        if (!y || !y.chargesFixes || !y.chargesFixes[op.key]) { log.status = 'skip'; log.reason = 'clé absente'; break; }\n        delete y.chargesFixes[op.key]; log.key = op.key; log.removed = true; break;\n      }\n      case 'rename_charge_fixe': {\n        if (!y || !y.chargesFixes || !y.chargesFixes[op.key]) { log.status = 'skip'; log.reason = 'clé absente'; break; }\n        const old = y.chargesFixes[op.key].label;\n        y.chargesFixes[op.key].label = String(op.label);\n        log.key = op.key; log.avant = old; log.apres = String(op.label); break;\n      }\n      case 'add_charge_fixe_exception': {\n        if (!y || !y.chargesFixes || !y.chargesFixes[op.key]) { log.status = 'skip'; log.reason = 'clé absente'; break; }\n        if (!Array.isArray(y.chargesFixes[op.key].exceptions)) y.chargesFixes[op.key].exceptions = [];\n        const id = Date.now() + Math.floor(Math.random() * 1000);\n        y.chargesFixes[op.key].exceptions.push({ id, moisDebut: Number(op.moisDebut), moisFin: Number(op.moisFin), nouvelleValeur: Number(op.nouvelleValeur) });\n        y.chargesFixes[op.key].showExceptions = true;\n        log.key = op.key; log.id = id; break;\n      }\n      case 'remove_charge_fixe_exception': {\n        if (!y || !y.chargesFixes || !y.chargesFixes[op.key]) { log.status = 'skip'; log.reason = 'clé absente'; break; }\n        const before = (y.chargesFixes[op.key].exceptions || []).length;\n        y.chargesFixes[op.key].exceptions = (y.chargesFixes[op.key].exceptions || []).filter(e => Number(e.id) !== Number(op.id));\n        log.key = op.key; log.supprimees = before - y.chargesFixes[op.key].exceptions.length; break;\n      }\n\n      // ═══ CHARGES VARIABLES ═══\n      case 'set_charge_variable': {\n        if (!y || !y.chargesVariables || !y.chargesVariables[op.key]) { log.status = 'skip'; log.reason = 'année ou clé absente'; break; }\n        const old = y.chargesVariables[op.key].valeur;\n        y.chargesVariables[op.key].valeur = Number(op.valeur);\n        log.key = op.key; log.avant = old; log.apres = Number(op.valeur); break;\n      }\n      case 'add_charge_variable': {\n        if (!y) { log.status = 'skip'; log.reason = 'année absente'; break; }\n        if (!y.chargesVariables) y.chargesVariables = {};\n        if (y.chargesVariables[op.key]) { log.status = 'skip'; log.reason = 'clé existe déjà'; break; }\n        const periode = (op.periode === 'semaine' || op.periode === 'mois') ? op.periode : 'mois';\n        y.chargesVariables[op.key] = { label: String(op.label || op.key), valeur: Number(op.valeur || 0), periode, showDetails: false, details: [] };\n        log.key = op.key; log.created = true; break;\n      }\n      case 'remove_charge_variable': {\n        if (!y || !y.chargesVariables || !y.chargesVariables[op.key]) { log.status = 'skip'; log.reason = 'clé absente'; break; }\n        delete y.chargesVariables[op.key]; log.key = op.key; log.removed = true; break;\n      }\n      case 'set_charge_variable_periode': {\n        if (!y || !y.chargesVariables || !y.chargesVariables[op.key]) { log.status = 'skip'; log.reason = 'clé absente'; break; }\n        if (op.periode !== 'mois' && op.periode !== 'semaine') { log.status = 'skip'; log.reason = 'periode invalide'; break; }\n        const old = y.chargesVariables[op.key].periode;\n        y.chargesVariables[op.key].periode = op.periode;\n        log.key = op.key; log.avant = old; log.apres = op.periode; break;\n      }\n\n      // ═══ ÉPARGNE ═══\n      case 'set_epargne': {\n        if (!y || !y.epargne || !y.epargne[op.key]) { log.status = 'skip'; log.reason = 'année ou clé absente'; break; }\n        const old = y.epargne[op.key].valeur;\n        y.epargne[op.key].valeur = Number(op.valeur);\n        log.key = op.key; log.avant = old; log.apres = Number(op.valeur); break;\n      }\n      case 'add_epargne': {\n        if (!y) { log.status = 'skip'; log.reason = 'année absente'; break; }\n        if (!y.epargne) y.epargne = {};\n        if (y.epargne[op.key]) { log.status = 'skip'; log.reason = 'clé existe déjà'; break; }\n        y.epargne[op.key] = { label: String(op.label || op.key), valeur: Number(op.valeur || 0) };\n        log.key = op.key; log.created = true; break;\n      }\n      case 'remove_epargne': {\n        if (!y || !y.epargne || !y.epargne[op.key]) { log.status = 'skip'; log.reason = 'clé absente'; break; }\n        delete y.epargne[op.key]; log.key = op.key; log.removed = true; break;\n      }\n\n      // ═══ DÉPENSES PONCTUELLES ═══\n      case 'add_depense_ponctuelle': {\n        if (!y) { log.status = 'skip'; log.reason = 'année absente'; break; }\n        if (!Array.isArray(y.depensesIrregulieres)) y.depensesIrregulieres = [];\n        const id = Date.now() + Math.floor(Math.random() * 1000);\n        y.depensesIrregulieres.push({ id, mois: Number(op.mois), annee: a, nom: String(op.nom), montant: Number(op.montant), paye: false, montantPaye: 0 });\n        log.id = id; log.nom = op.nom; log.montant = Number(op.montant); break;\n      }\n      case 'remove_depense_ponctuelle': {\n        if (!y) { log.status = 'skip'; log.reason = 'année absente'; break; }\n        if (!Array.isArray(y.depensesIrregulieres)) y.depensesIrregulieres = [];\n        const before = y.depensesIrregulieres.length;\n        const byId = op.id != null;\n        const byName = op.nom != null;\n        y.depensesIrregulieres = y.depensesIrregulieres.filter(d => {\n          if (byId && Number(d.id) === Number(op.id)) return false;\n          if (byName && String(d.nom).toLowerCase().trim() === String(op.nom).toLowerCase().trim()) return false;\n          return true;\n        });\n        log.critere = byId ? ('id=' + op.id) : ('nom=' + op.nom);\n        log.supprimees = before - y.depensesIrregulieres.length; break;\n      }\n      case 'update_depense_ponctuelle': {\n        if (!y || !Array.isArray(y.depensesIrregulieres)) { log.status = 'skip'; log.reason = 'année absente'; break; }\n        const target = y.depensesIrregulieres.find(d => Number(d.id) === Number(op.id));\n        if (!target) { log.status = 'skip'; log.reason = 'id introuvable'; break; }\n        if (op.montant != null) target.montant = Number(op.montant);\n        if (op.mois != null) target.mois = Number(op.mois);\n        if (op.annee != null) target.annee = Number(op.annee);\n        if (op.nom != null) target.nom = String(op.nom);\n        log.id = op.id; log.updated = true; break;\n      }\n\n      // ═══ SOLDES INITIAUX ═══\n      case 'set_solde_initial': {\n        if (!financeData.soldesInitiaux) financeData.soldesInitiaux = {};\n        const allowed = ['courant','urgence','lt','bourse','moisActuel','anneeActuelle','semainesRestantes'];\n        if (!allowed.includes(op.key)) { log.status = 'skip'; log.reason = 'clé non autorisée'; break; }\n        const old = financeData.soldesInitiaux[op.key];\n        financeData.soldesInitiaux[op.key] = Number(op.valeur);\n        log.key = op.key; log.avant = old; log.apres = Number(op.valeur); break;\n      }\n\n      // ═══ ANNÉES ═══\n      case 'clone_annee': {\n        const src = financeData.donneesAnnuelles && financeData.donneesAnnuelles[op.depuis];\n        if (!src) { log.status = 'skip'; log.reason = 'année source absente'; break; }\n        if (financeData.donneesAnnuelles[op.vers]) { log.status = 'skip'; log.reason = 'année cible existe déjà'; break; }\n        const cloned = JSON.parse(JSON.stringify(src));\n        Object.values(cloned.chargesFixes || {}).forEach(f => { f.paye = false; f.montantPaye = 0; });\n        Object.values(cloned.chargesVariables || {}).forEach(c => { if (c.details) c.details.forEach(d => { d.paye = false; d.montantPaye = 0; }); });\n        (cloned.depensesIrregulieres || []).forEach(d => { d.paye = false; d.montantPaye = 0; d.annee = Number(op.vers); d.id = Date.now() + Math.floor(Math.random() * 1000); });\n        financeData.donneesAnnuelles[op.vers] = cloned;\n        log.depuis = op.depuis; log.vers = op.vers; log.created = true; break;\n      }\n      case 'delete_annee': {\n        if (!financeData.donneesAnnuelles[op.annee]) { log.status = 'skip'; log.reason = 'année absente'; break; }\n        delete financeData.donneesAnnuelles[op.annee];\n        log.annee = op.annee; log.removed = true; break;\n      }\n\n      // ═══ PROJET STUDIO ═══\n      case 'set_projet_studio': {\n        if (!y) { log.status = 'skip'; log.reason = 'année absente'; break; }\n        if (!y.projetStudio) y.projetStudio = {};\n        const allowed = ['prixM2','surface','avance','taux','duree','taxSyndic','taxCouvertCredit','surplusCredit','assuranceMensuelle','travaux','epargneDispo'];\n        if (!allowed.includes(op.key)) { log.status = 'skip'; log.reason = 'champ non autorisé'; break; }\n        const old = y.projetStudio[op.key];\n        y.projetStudio[op.key] = Number(op.valeur);\n        log.key = op.key; log.avant = old; log.apres = Number(op.valeur); break;\n      }\n\n      default:\n        log.status = 'skip'; log.reason = 'type inconnu: ' + op.type;\n    }\n  } catch (e) {\n    log.status = 'error'; log.reason = e.message;\n  }\n  return log;\n}\n\nconst before = snapshot(financeData, anneeTarget);\nconst log = [];\nfor (const op of operations) {\n  log.push(applyOp(financeData, op, anneeTarget));\n}\nconst after = snapshot(financeData, anneeTarget);\n\nconst valid = financeData.donneesAnnuelles && typeof financeData.donneesAnnuelles === 'object' &&\n              financeData.soldesInitiaux && typeof financeData.soldesInitiaux === 'object';\n\nreturn JSON.stringify({\n  mode: simulate ? 'SIMULATION' : 'APPLY',\n  valid,\n  annee: anneeTarget,\n  avant: before,\n  apres: after,\n  delta: before && after ? {\n    revenus: after.revenus - before.revenus,\n    fixes: after.fixes - before.fixes,\n    variables: after.variables - before.variables,\n    epargne: after.epargne - before.epargne\n  } : null,\n  operations_appliquees: log,\n  finance_data_modifie: (!simulate && valid) ? financeData : null\n}, null, 2);"
      },
      "id": "node-tool-budget",
      "name": "Tool: Budget Engine",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.2,
      "position": [
        320,
        260
      ]
    },
    {
      "parameters": {
        "name": "committer",
        "description": "Persiste les modifications budgétaires sur le VPS. ⚠️ N'appeler QUE si l'utilisateur a tapé 'OUI' dans son DERNIER message.\n\nParamètre PETIT :\n{ \"operations\": [...], \"annee\": 2026, \"confirmation\": \"OUI\" }\n\nNE JAMAIS lui passer le JSON finance_data complet — il l'extrait en interne et applique les opérations. Tu réutilises EXACTEMENT le même tableau operations que celui passé à budget_engine en simulation.\n\nTYPES D'OPÉRATIONS SUPPORTÉS (les SEULS reconnus) :\n\n  ── REVENUS ──\n  { type:\"set_revenu\",            key:\"salaire\",        base:19500 }\n  { type:\"add_revenu\",             key:\"freelance\",     label:\"Freelance\", base:3000 }\n  { type:\"remove_revenu\",          key:\"freelance\" }\n  { type:\"rename_revenu\",          key:\"salaire\",        label:\"Salaire net\" }\n  { type:\"add_revenu_exception\",   key:\"appart\",         moisDebut:1, moisFin:4, nouvelleValeur:0 }\n  { type:\"remove_revenu_exception\",key:\"appart\",         id:1775546659428 }\n\n  ── CHARGES FIXES ──\n  { type:\"set_charge_fixe\",            key:\"loyer\",      valeur:4500 }\n  { type:\"add_charge_fixe\",             key:\"creditAuto\",label:\"Crédit Auto\", valeur:1800 }\n  { type:\"remove_charge_fixe\",          key:\"creditAuto\" }\n  { type:\"rename_charge_fixe\",          key:\"creditImmo\",label:\"Crédit Immo + Assur\" }\n  { type:\"add_charge_fixe_exception\",   key:\"creditStudio\", moisDebut:1, moisFin:6, nouvelleValeur:0 }\n  { type:\"remove_charge_fixe_exception\",key:\"creditStudio\", id:1775548016229 }\n\n  ── CHARGES VARIABLES ──\n  { type:\"set_charge_variable\",         key:\"alimentation\", valeur:1200 }\n  { type:\"add_charge_variable\",          key:\"loisirs\",     label:\"Loisirs\", valeur:500, periode:\"mois\" }\n  { type:\"remove_charge_variable\",       key:\"loisirs\" }\n  { type:\"set_charge_variable_periode\",  key:\"sorties\",     periode:\"mois\" }   // ou \"semaine\"\n\n  ── ÉPARGNE ──\n  { type:\"set_epargne\",     key:\"urgence\", valeur:2000 }\n  { type:\"add_epargne\",      key:\"vacances\",label:\"Vacances\", valeur:500 }\n  { type:\"remove_epargne\",   key:\"vacances\" }\n\n  ── DÉPENSES PONCTUELLES ──\n  { type:\"add_depense_ponctuelle\",    annee:2026, mois:6, nom:\"Notaire\", montant:25000 }\n  { type:\"remove_depense_ponctuelle\", annee:2027, nom:\"Voyage en Espagne\" }   // ou { id:1775546491630 }\n  { type:\"update_depense_ponctuelle\", id:1775546491630, montant:30000, mois:10 }\n\n  ── SOLDES INITIAUX (pas d'année) ──\n  { type:\"set_solde_initial\", key:\"courant\",  valeur:97000 }\n  { type:\"set_solde_initial\", key:\"urgence\",  valeur:5000 }\n  // clés autorisées : courant, urgence, lt, bourse, moisActuel, anneeActuelle, semainesRestantes\n\n  ── ANNÉES (pas d'année cible — on opère sur la structure) ──\n  { type:\"clone_annee\",  depuis:2026, vers:2027 }   // remet à zéro les \"paye\" et reattribue depensesIrregulieres\n  { type:\"delete_annee\", annee:2027 }\n\n  ── PROJET STUDIO ──\n  { type:\"set_projet_studio\", annee:2026, key:\"travaux\",     valeur:90000 }\n  // clés autorisées : prixM2, surface, avance, taux, duree, taxSyndic, taxCouvertCredit, surplusCredit, assuranceMensuelle, travaux, epargneDispo\n\nN'INVENTE AUCUN AUTRE TYPE. Si une demande utilisateur ne matche aucun type, explique-le au lieu d'inventer.",
        "language": "javaScript",
        "jsCode": "// ════════════════════════════════════════════════════════\n// COMMITTER v3 — accepte {operations, annee, confirmation:OUI}\n// Applique les ops via applyOp() puis POST save_data.php\n// ════════════════════════════════════════════════════════\nlet input;\ntry {\n  input = typeof query === 'string' ? JSON.parse(query) : query;\n} catch (e) {\n  return JSON.stringify({ error: 'JSON invalide : ' + e.message });\n}\n\n// ── GARDE 1 : confirmation = \"OUI\" ──\nif (!input.confirmation || String(input.confirmation).toUpperCase().trim() !== 'OUI') {\n  return JSON.stringify({ error: 'REFUS : le paramètre `confirmation` doit être la chaîne \"OUI\". L\\'utilisateur doit taper OUI dans le chat avant que tu appelles cet outil.' });\n}\n\n// ── GARDE 2 : dernier message utilisateur contient \"OUI\" ──\nconst normalized = $('Normalize Input').first().json;\nconst lastUserMsg = (normalized.question || '').toUpperCase();\nif (!/\\bOUI\\b/.test(lastUserMsg)) {\n  return JSON.stringify({ error: 'REFUS : le dernier message utilisateur ne contient pas \"OUI\". Demande confirmation avant de relancer.' });\n}\n\n// ── GARDE 3 : opérations présentes ──\nconst operations = Array.isArray(input.operations) ? input.operations : [];\nif (operations.length === 0) {\n  return JSON.stringify({ error: 'REFUS : aucune opération fournie. Renvoie le même tableau operations utilisé pour la simulation.' });\n}\nconst anneeTarget = Number(input.annee) || new Date().getFullYear();\n\n// ── finance_data depuis la requête ──\nif (!normalized.finance_data) {\n  return JSON.stringify({ error: 'finance_data absent de la requête. L\\'utilisateur doit relancer depuis l\\'interface web.' });\n}\nconst financeData = JSON.parse(JSON.stringify(normalized.finance_data));\n\nfunction applyOp(financeData, op, anneeTarget) {\n  const a = Number(op.annee || anneeTarget);\n  const y = financeData.donneesAnnuelles && financeData.donneesAnnuelles[a];\n  const log = { op: op.type };\n  try {\n    switch (op.type) {\n      // ═══ REVENUS ═══\n      case 'set_revenu': {\n        if (!y || !y.revenus || !y.revenus[op.key]) { log.status = 'skip'; log.reason = 'année ou clé absente'; break; }\n        const old = y.revenus[op.key].base;\n        y.revenus[op.key].base = Number(op.base);\n        log.key = op.key; log.avant = old; log.apres = Number(op.base);\n        break;\n      }\n      case 'add_revenu': {\n        if (!y) { log.status = 'skip'; log.reason = 'année absente'; break; }\n        if (!y.revenus) y.revenus = {};\n        if (y.revenus[op.key]) { log.status = 'skip'; log.reason = 'clé existe déjà'; break; }\n        y.revenus[op.key] = { label: String(op.label || op.key), base: Number(op.base || 0), showExceptions: false, exceptions: [] };\n        log.key = op.key; log.created = true; break;\n      }\n      case 'remove_revenu': {\n        if (!y || !y.revenus || !y.revenus[op.key]) { log.status = 'skip'; log.reason = 'clé absente'; break; }\n        delete y.revenus[op.key]; log.key = op.key; log.removed = true; break;\n      }\n      case 'rename_revenu': {\n        if (!y || !y.revenus || !y.revenus[op.key]) { log.status = 'skip'; log.reason = 'clé absente'; break; }\n        const old = y.revenus[op.key].label;\n        y.revenus[op.key].label = String(op.label);\n        log.key = op.key; log.avant = old; log.apres = String(op.label); break;\n      }\n      case 'add_revenu_exception': {\n        if (!y || !y.revenus || !y.revenus[op.key]) { log.status = 'skip'; log.reason = 'clé absente'; break; }\n        if (!Array.isArray(y.revenus[op.key].exceptions)) y.revenus[op.key].exceptions = [];\n        const id = Date.now() + Math.floor(Math.random() * 1000);\n        y.revenus[op.key].exceptions.push({ id, moisDebut: Number(op.moisDebut), moisFin: Number(op.moisFin), nouvelleValeur: Number(op.nouvelleValeur) });\n        y.revenus[op.key].showExceptions = true;\n        log.key = op.key; log.id = id; break;\n      }\n      case 'remove_revenu_exception': {\n        if (!y || !y.revenus || !y.revenus[op.key]) { log.status = 'skip'; log.reason = 'clé absente'; break; }\n        const before = (y.revenus[op.key].exceptions || []).length;\n        y.revenus[op.key].exceptions = (y.revenus[op.key].exceptions || []).filter(e => Number(e.id) !== Number(op.id));\n        log.key = op.key; log.supprimees = before - y.revenus[op.key].exceptions.length; break;\n      }\n\n      // ═══ CHARGES FIXES ═══\n      case 'set_charge_fixe': {\n        if (!y || !y.chargesFixes || !y.chargesFixes[op.key]) { log.status = 'skip'; log.reason = 'année ou clé absente'; break; }\n        const old = y.chargesFixes[op.key].valeur;\n        y.chargesFixes[op.key].valeur = Number(op.valeur);\n        log.key = op.key; log.avant = old; log.apres = Number(op.valeur); break;\n      }\n      case 'add_charge_fixe': {\n        if (!y) { log.status = 'skip'; log.reason = 'année absente'; break; }\n        if (!y.chargesFixes) y.chargesFixes = {};\n        if (y.chargesFixes[op.key]) { log.status = 'skip'; log.reason = 'clé existe déjà'; break; }\n        y.chargesFixes[op.key] = { label: String(op.label || op.key), valeur: Number(op.valeur || 0), showExceptions: false, exceptions: [], montantPaye: 0, paye: false };\n        log.key = op.key; log.created = true; break;\n      }\n      case 'remove_charge_fixe': {\n        if (!y || !y.chargesFixes || !y.chargesFixes[op.key]) { log.status = 'skip'; log.reason = 'clé absente'; break; }\n        delete y.chargesFixes[op.key]; log.key = op.key; log.removed = true; break;\n      }\n      case 'rename_charge_fixe': {\n        if (!y || !y.chargesFixes || !y.chargesFixes[op.key]) { log.status = 'skip'; log.reason = 'clé absente'; break; }\n        const old = y.chargesFixes[op.key].label;\n        y.chargesFixes[op.key].label = String(op.label);\n        log.key = op.key; log.avant = old; log.apres = String(op.label); break;\n      }\n      case 'add_charge_fixe_exception': {\n        if (!y || !y.chargesFixes || !y.chargesFixes[op.key]) { log.status = 'skip'; log.reason = 'clé absente'; break; }\n        if (!Array.isArray(y.chargesFixes[op.key].exceptions)) y.chargesFixes[op.key].exceptions = [];\n        const id = Date.now() + Math.floor(Math.random() * 1000);\n        y.chargesFixes[op.key].exceptions.push({ id, moisDebut: Number(op.moisDebut), moisFin: Number(op.moisFin), nouvelleValeur: Number(op.nouvelleValeur) });\n        y.chargesFixes[op.key].showExceptions = true;\n        log.key = op.key; log.id = id; break;\n      }\n      case 'remove_charge_fixe_exception': {\n        if (!y || !y.chargesFixes || !y.chargesFixes[op.key]) { log.status = 'skip'; log.reason = 'clé absente'; break; }\n        const before = (y.chargesFixes[op.key].exceptions || []).length;\n        y.chargesFixes[op.key].exceptions = (y.chargesFixes[op.key].exceptions || []).filter(e => Number(e.id) !== Number(op.id));\n        log.key = op.key; log.supprimees = before - y.chargesFixes[op.key].exceptions.length; break;\n      }\n\n      // ═══ CHARGES VARIABLES ═══\n      case 'set_charge_variable': {\n        if (!y || !y.chargesVariables || !y.chargesVariables[op.key]) { log.status = 'skip'; log.reason = 'année ou clé absente'; break; }\n        const old = y.chargesVariables[op.key].valeur;\n        y.chargesVariables[op.key].valeur = Number(op.valeur);\n        log.key = op.key; log.avant = old; log.apres = Number(op.valeur); break;\n      }\n      case 'add_charge_variable': {\n        if (!y) { log.status = 'skip'; log.reason = 'année absente'; break; }\n        if (!y.chargesVariables) y.chargesVariables = {};\n        if (y.chargesVariables[op.key]) { log.status = 'skip'; log.reason = 'clé existe déjà'; break; }\n        const periode = (op.periode === 'semaine' || op.periode === 'mois') ? op.periode : 'mois';\n        y.chargesVariables[op.key] = { label: String(op.label || op.key), valeur: Number(op.valeur || 0), periode, showDetails: false, details: [] };\n        log.key = op.key; log.created = true; break;\n      }\n      case 'remove_charge_variable': {\n        if (!y || !y.chargesVariables || !y.chargesVariables[op.key]) { log.status = 'skip'; log.reason = 'clé absente'; break; }\n        delete y.chargesVariables[op.key]; log.key = op.key; log.removed = true; break;\n      }\n      case 'set_charge_variable_periode': {\n        if (!y || !y.chargesVariables || !y.chargesVariables[op.key]) { log.status = 'skip'; log.reason = 'clé absente'; break; }\n        if (op.periode !== 'mois' && op.periode !== 'semaine') { log.status = 'skip'; log.reason = 'periode invalide'; break; }\n        const old = y.chargesVariables[op.key].periode;\n        y.chargesVariables[op.key].periode = op.periode;\n        log.key = op.key; log.avant = old; log.apres = op.periode; break;\n      }\n\n      // ═══ ÉPARGNE ═══\n      case 'set_epargne': {\n        if (!y || !y.epargne || !y.epargne[op.key]) { log.status = 'skip'; log.reason = 'année ou clé absente'; break; }\n        const old = y.epargne[op.key].valeur;\n        y.epargne[op.key].valeur = Number(op.valeur);\n        log.key = op.key; log.avant = old; log.apres = Number(op.valeur); break;\n      }\n      case 'add_epargne': {\n        if (!y) { log.status = 'skip'; log.reason = 'année absente'; break; }\n        if (!y.epargne) y.epargne = {};\n        if (y.epargne[op.key]) { log.status = 'skip'; log.reason = 'clé existe déjà'; break; }\n        y.epargne[op.key] = { label: String(op.label || op.key), valeur: Number(op.valeur || 0) };\n        log.key = op.key; log.created = true; break;\n      }\n      case 'remove_epargne': {\n        if (!y || !y.epargne || !y.epargne[op.key]) { log.status = 'skip'; log.reason = 'clé absente'; break; }\n        delete y.epargne[op.key]; log.key = op.key; log.removed = true; break;\n      }\n\n      // ═══ DÉPENSES PONCTUELLES ═══\n      case 'add_depense_ponctuelle': {\n        if (!y) { log.status = 'skip'; log.reason = 'année absente'; break; }\n        if (!Array.isArray(y.depensesIrregulieres)) y.depensesIrregulieres = [];\n        const id = Date.now() + Math.floor(Math.random() * 1000);\n        y.depensesIrregulieres.push({ id, mois: Number(op.mois), annee: a, nom: String(op.nom), montant: Number(op.montant), paye: false, montantPaye: 0 });\n        log.id = id; log.nom = op.nom; log.montant = Number(op.montant); break;\n      }\n      case 'remove_depense_ponctuelle': {\n        if (!y) { log.status = 'skip'; log.reason = 'année absente'; break; }\n        if (!Array.isArray(y.depensesIrregulieres)) y.depensesIrregulieres = [];\n        const before = y.depensesIrregulieres.length;\n        const byId = op.id != null;\n        const byName = op.nom != null;\n        y.depensesIrregulieres = y.depensesIrregulieres.filter(d => {\n          if (byId && Number(d.id) === Number(op.id)) return false;\n          if (byName && String(d.nom).toLowerCase().trim() === String(op.nom).toLowerCase().trim()) return false;\n          return true;\n        });\n        log.critere = byId ? ('id=' + op.id) : ('nom=' + op.nom);\n        log.supprimees = before - y.depensesIrregulieres.length; break;\n      }\n      case 'update_depense_ponctuelle': {\n        if (!y || !Array.isArray(y.depensesIrregulieres)) { log.status = 'skip'; log.reason = 'année absente'; break; }\n        const target = y.depensesIrregulieres.find(d => Number(d.id) === Number(op.id));\n        if (!target) { log.status = 'skip'; log.reason = 'id introuvable'; break; }\n        if (op.montant != null) target.montant = Number(op.montant);\n        if (op.mois != null) target.mois = Number(op.mois);\n        if (op.annee != null) target.annee = Number(op.annee);\n        if (op.nom != null) target.nom = String(op.nom);\n        log.id = op.id; log.updated = true; break;\n      }\n\n      // ═══ SOLDES INITIAUX ═══\n      case 'set_solde_initial': {\n        if (!financeData.soldesInitiaux) financeData.soldesInitiaux = {};\n        const allowed = ['courant','urgence','lt','bourse','moisActuel','anneeActuelle','semainesRestantes'];\n        if (!allowed.includes(op.key)) { log.status = 'skip'; log.reason = 'clé non autorisée'; break; }\n        const old = financeData.soldesInitiaux[op.key];\n        financeData.soldesInitiaux[op.key] = Number(op.valeur);\n        log.key = op.key; log.avant = old; log.apres = Number(op.valeur); break;\n      }\n\n      // ═══ ANNÉES ═══\n      case 'clone_annee': {\n        const src = financeData.donneesAnnuelles && financeData.donneesAnnuelles[op.depuis];\n        if (!src) { log.status = 'skip'; log.reason = 'année source absente'; break; }\n        if (financeData.donneesAnnuelles[op.vers]) { log.status = 'skip'; log.reason = 'année cible existe déjà'; break; }\n        const cloned = JSON.parse(JSON.stringify(src));\n        Object.values(cloned.chargesFixes || {}).forEach(f => { f.paye = false; f.montantPaye = 0; });\n        Object.values(cloned.chargesVariables || {}).forEach(c => { if (c.details) c.details.forEach(d => { d.paye = false; d.montantPaye = 0; }); });\n        (cloned.depensesIrregulieres || []).forEach(d => { d.paye = false; d.montantPaye = 0; d.annee = Number(op.vers); d.id = Date.now() + Math.floor(Math.random() * 1000); });\n        financeData.donneesAnnuelles[op.vers] = cloned;\n        log.depuis = op.depuis; log.vers = op.vers; log.created = true; break;\n      }\n      case 'delete_annee': {\n        if (!financeData.donneesAnnuelles[op.annee]) { log.status = 'skip'; log.reason = 'année absente'; break; }\n        delete financeData.donneesAnnuelles[op.annee];\n        log.annee = op.annee; log.removed = true; break;\n      }\n\n      // ═══ PROJET STUDIO ═══\n      case 'set_projet_studio': {\n        if (!y) { log.status = 'skip'; log.reason = 'année absente'; break; }\n        if (!y.projetStudio) y.projetStudio = {};\n        const allowed = ['prixM2','surface','avance','taux','duree','taxSyndic','taxCouvertCredit','surplusCredit','assuranceMensuelle','travaux','epargneDispo'];\n        if (!allowed.includes(op.key)) { log.status = 'skip'; log.reason = 'champ non autorisé'; break; }\n        const old = y.projetStudio[op.key];\n        y.projetStudio[op.key] = Number(op.valeur);\n        log.key = op.key; log.avant = old; log.apres = Number(op.valeur); break;\n      }\n\n      default:\n        log.status = 'skip'; log.reason = 'type inconnu: ' + op.type;\n    }\n  } catch (e) {\n    log.status = 'error'; log.reason = e.message;\n  }\n  return log;\n}\n\n// ── Applique toutes les ops ──\nconst log = [];\nfor (const op of operations) {\n  log.push(applyOp(financeData, op, anneeTarget));\n}\n\nif (!financeData.donneesAnnuelles || typeof financeData.donneesAnnuelles !== 'object') {\n  return JSON.stringify({ error: 'Structure finance_data invalide après application des opérations.' });\n}\n\n// ── POST save_data.php ──\nconst url = 'https://n8n.beau.ink/finance/save_data.php';\ntry {\n  const resp = await this.helpers.httpRequest({\n    method: 'POST',\n    url,\n    body: financeData,\n    json: true,\n    headers: { 'Content-Type': 'application/json' },\n    timeout: 15000\n  });\n  return JSON.stringify({\n    status: 'ok',\n    committed: true,\n    operations_count: operations.length,\n    operations_log: log,\n    server_response: resp\n  });\n} catch (e) {\n  return JSON.stringify({ status: 'error', committed: false, error: e.message, operations_log: log });\n}"
      },
      "id": "node-tool-commit",
      "name": "Tool: Committer",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.2,
      "position": [
        520,
        260
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Telegram Trigger').isExecuted }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "outputKey": "telegram"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook CFO Web').isExecuted }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "outputKey": "web"
            }
          ]
        },
        "options": {}
      },
      "id": "node-switch",
      "name": "Route Response",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        180,
        20
      ]
    },
    {
      "parameters": {
        "jsCode": "// ════════════════════════════════════════════════════════\n// FORMAT FOR TELEGRAM — convertit HTML riche → texte Telegram\n// Telegram parse_mode=HTML supporte uniquement :\n//   <b>, <strong>, <i>, <em>, <u>, <s>, <code>, <pre>, <a href=\"\">\n// On supprime le reste, on convertit <br>/<li>/<ul> en texte plat.\n// ════════════════════════════════════════════════════════\nconst item = $input.first().json;\nlet html = item.output || item.text || '';\n\nif (typeof html !== 'string') html = String(html);\n\nconst text = html\n  // Sauts de ligne\n  .replace(/<br\\s*\\/?>/gi, '\\n')\n  .replace(/<\\/p>\\s*<p[^>]*>/gi, '\\n\\n')\n  .replace(/<\\/?p[^>]*>/gi, '')\n  // Listes\n  .replace(/<\\/li>/gi, '\\n')\n  .replace(/<li[^>]*>/gi, '• ')\n  .replace(/<\\/?ul[^>]*>/gi, '\\n')\n  .replace(/<\\/?ol[^>]*>/gi, '\\n')\n  // Séparateurs\n  .replace(/<hr\\s*\\/?>/gi, '\\n———\\n')\n  // Spans (couleurs) : on garde le contenu, on supprime les balises\n  .replace(/<\\/?span[^>]*>/gi, '')\n  .replace(/<\\/?div[^>]*>/gi, '\\n')\n  // Normalise <strong>→<b> et <em>→<i> (Telegram supporte les 2 mais on canonise)\n  .replace(/<strong>/gi, '<b>').replace(/<\\/strong>/gi, '</b>')\n  .replace(/<em>/gi, '<i>').replace(/<\\/em>/gi, '</i>')\n  // Strip toutes les autres balises non supportées par Telegram\n  .replace(/<(?!\\/?(b|i|u|s|code|pre|a)\\b)[^>]+>/gi, '')\n  // Décode entités HTML courantes\n  .replace(/&nbsp;/g, ' ')\n  .replace(/&amp;/g, '&')\n  .replace(/&lt;/g, '<')\n  .replace(/&gt;/g, '>')\n  .replace(/&quot;/g, '\"')\n  .replace(/&#39;/g, \"'\")\n  // Nettoie multi-lignes vides\n  .replace(/\\n{3,}/g, '\\n\\n')\n  .trim();\n\nreturn [{\n  json: {\n    telegram_text: text,\n    chat_id: $('Telegram Trigger').first().json.message.chat.id\n  }\n}];"
      },
      "id": "node-format-telegram",
      "name": "Format for Telegram",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        340,
        -120
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').first().json.message.chat.id }}",
        "text": "={{ $json.telegram_text }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "node-send-telegram",
      "name": "Send Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        560,
        -120
      ],
      "credentials": {
        "telegramApi": {
          "id": "CFOV2TelegramAPI",
          "name": "CFO V2 Telegram API"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"html\": $json.output, \"session_id\": $('Normalize Input').item.json.session_id } }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              },
              {
                "name": "Content-Type",
                "value": "application/json; charset=utf-8"
              }
            ]
          }
        }
      },
      "id": "node-respond-webhook",
      "name": "Respond Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        440,
        160
      ]
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook CFO Web": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Route Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini 2.5 Pro LLM": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Tool: Finance RAG",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Finance RAG": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Tool: Finance RAG",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Embeddings": {
      "ai_embedding": [
        [
          {
            "node": "Postgres Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Budget Engine": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Committer": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Route Response": {
      "main": [
        [
          {
            "node": "Format for Telegram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format for Telegram": {
      "main": [
        [
          {
            "node": "Send Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "timezone": "Africa/Casablanca"
  },
  "staticData": null,
  "tags": [
    {
      "name": "cfo"
    },
    {
      "name": "finance"
    }
  ],
  "versionId": "v13.1",
  "meta": {
    "templateCreatedBy": "Finance Master v13.1"
  },
  "active": false
}